/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.personal_last_block{
		margin-top: 35px;
	}

	svg{
		left: 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume_container .left,
	.section_content .resume_container h3,
	.resume_container .resume_icon{
		text-align: left;
		margin-bottom: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top_wrapper .top_text h1 {
		font-size: 2em;
		padding-left: 10px;
		padding-right: 10px;
	}
	.main_footer{
		text-align: left;
	}
	.main_footer .social_wrap{
		float: left;
		margin-top: 20px;
		width: 100%;
	}
	.main_footer .social_wrap ul{
		padding-left: 0;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	header .top_wrapper .top_descr .top_centered .top_text h1{
		font-size: 2.2em;
		margin-left: 10px;
	}
	header .top_wrapper .top_descr .top_centered .top_text p{
		font-size: 10px;
	}
	.s_portfolio .container .row #portfolio_grid .mix .port_item_cont{
		height: auto;
		font-size: 10px;

	}
	.s_portfolio .container .row #portfolio_grid .mix .port_item_cont h3 {
		margin-top: -6px;
	}
	.s_portfolio #portfolio_grid .mix img{
		height: auto;
	}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {	
}