// _iconfont__icons.scss
$global-font-icon: 'social';
@font-face {
  font-family: $global-font-icon;
  src:url("../fonts/myicons.eot");
  src:url("../fonts/myicons.?#iefix") format("embedded-opentype"),
    url("../fonts/myicons.woff") format("woff"),
    url("../fonts/myicons.ttf") format("truetype"),
    url("../fonts/myicons.#myicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: $global-font-icon;

  &:before {
    /* Some common icon stuff */
  }

  &.icon--Delete {
    &:before {
      content: $icon-Delete;
    }
  }
  &.icon--check {
    &:before {
      content: $icon-check;
    }
  }
  &.icon--close {
    &:before {
      content: $icon-close;
    }
  }
  &.icon--forw {
    &:before {
      content: $icon-forw;
    }
  }
  &.icon--open {
    &:before {
      content: $icon-open;
    }
  }
  &.icon--search {
    &:before {
      content: $icon-search;
    }
  }

}