@import 'normalize';
@import 'fonts';
@import 'mixins';

$secondary-color: #FF0000;

* { box-sizing: border-box; }

a { text-decoration: none; }

html { font-size: 10px; }

body {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

ul { 
	padding-left: 0;
	list-style-type: none;
}


/*#Common styles first */


.section { padding: 5rem 0; }
.wrapper { max-width: 120rem; }

.section-title {
	position: relative;
	text-transform: uppercase;
	padding-bottom: 4rem;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 2rem;
		width: 4rem;
		height: 3px;
		background-color: $secondary-color;
	}
}

.b-list {

	&__item {
		color: inherit;
		border-color: #fff;

		&:not(:last-child) {
			padding-right: 1.5rem;
			border-right: 1px solid;
		}

		&:not(:first-child) {padding-left: 1rem;}

	}

	&--main {
		margin: 2rem 0;
		text-transform: uppercase;
		font-size: 2rem;

		.b-list__item {
			border-color: #000;
			&:hover {
				color: $secondary-color;
			}
		}
	}

	&--info {
		.b-list__item {
			border-color: $secondary-color;
		}
	}

	&--footer { text-align: right; }

}


/*#Layout start*/


.b-header {
	padding: 1.5rem 0; 
	background-color: #231F20;
	color: #fff;

	&__logo {
		width: 20px;

		img { max-width: 100%; }
	}
	
	&__nav {
		@include flex-cent;
		justify-content: flex-end;

		a {
			display: block;
			font-size: 16px;
			color: inherit;
			text-transform: uppercase;

			&:not(:last-child) {
				margin-right: 5%;
			}
		}
	}

	&__tools { 
		@include flex-cent;
		width: 40%;
		margin-left: auto;
		justify-content: space-between;
	}
}

.btn-icon {
	font-size: 20px;
	background-color: transparent;
	border: none;

	&:hover {
		color: #FF0000;
	}

	&--secondary {
		color: #8F070F;

		&:hover {
			color: #fff;
			border-bottom: 3px solid #fff;
		}
	}
}

.s-menu {

	background: linear-gradient(to right, #fff 50%,
		$secondary-color 50%);

	&__title {
		text-transform: uppercase;
		font-size: 16px;
	}

	&__button-group { @include flex-cent; }

}

.btn-add {
	width: 3rem;
	height: 3rem;
	margin-left: auto;
	align-self: center;
	border-radius: 50%;
	color: #fff;
	background-color: transparent;
	border: 2px solid #fff;
}


/*#Main section */


.s-main {
	&__title {
		margin-top: 0;
		font-weight: normal;
		text-transform: uppercase;
	}

	&__tools {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;

		&-title {
			font-size: 20px;
			display: inline-block;
			position: relative;
			padding: 0 3rem;
			line-height: 100%;
			text-transform: uppercase;

			&:before {
				content: "";
				@include centY;
				left: 5px;
				width: 2rem;
				height: 2rem;
				background-color: red;
				border-radius: 50%;
			}
		}
	}

}

.main-list {
	display: flex;
	flex-wrap: wrap;
	margin: 5rem 0;

	&__item {
		position: relative;
		width: 8rem;
		height: 8rem;
		margin-bottom: 2rem;
		bordeR-radius: 50%;
		cursor: pointer;
		background-color: #ccc;
		transition: all 1s;

		&:not(:last-child) {
			margin-right: 2rem;
		}


		&:after {
			content: "+";
			@include cent;
			font-size: 30px;
			color: #fff;
		}

		&:hover {
			transform: rotate(180deg);
		}

		&--active {
			background-color: $secondary-color;

			&:after { content: ""; }
		}

	}

}

.b-select {
	display: inline-block;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;

	&:hover {
		color: $secondary-color;

		ul { display: block;}

		i { 
			border: 1px solid $secondary-color;
			color: $secondary-color; 
		}
	}

	i {
		padding: .1em .3em;
		border-radius: 50%;
		border: 1px solid #000;
	}

	ul {
		display: none;
		margin: 0;
		background-color: #FFF;
		position: absolute;
		z-index: 20;
		cursor: pointer;
		color: #000;

		li {
			padding: .5rem;

			&:hover {
				background-color: $secondary-color;
				color: #fff;
			}
		}
	}
}

.b-search {
	position: relative;
	display: inline-block;

	input {
		width: 25rem;
		padding: 1rem 4rem 1rem 2rem;
		border: 1px solid #ccc;
		border-radius: 99999999rem;
		color: $secondary-color;

		&:focus { 
			border-color: $secondary-color;
			outline: none;

			&::placeholder {
				color: $secondary-color;
			}

			& + i {
				color: $secondary-color;
			}
		}
	}

	i {
		@include centY;
		right: 2rem;
		color: #ccc;
	}

}


/*#The end of main section*/


.section-description {
	margin: 0;
	text-transform: uppercase;
}

.b-media {
	$margin: 4.5rem;
	display: flex;
	flex-wrap: wrap;
	padding: 4rem 0;
	margin: 0;
	margin-right: -$margin;

	&-item {
		display: inline-block;
		margin: 0 $margin $margin 0;
		position: relative;
		height: 270px;
		width: 241px;
		background-color: #ccc;

		&__info {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 10rem;
			padding: 1rem;
			background-color: #000;
			color: #fff;
			overflow: hidden;
			transition: height .5s;
			cursor: pointer;

			&:hover {
				height: 100%;
			}

			li {
				display: inline-block;

				&:not(:first-child) {
					padding-left: .5rem;
				}
			}

			&-title {
				margin: 0;
				font-size: 16px;
				text-transform: uppercase;
			}

			&-social {
				margin: 0;
				font-size:14px; 
				img {
					display: inline-block;
					margin-right: 5px;
					vertical-align: top;
					width: 13px;
				}

				i {margin-right: 5px;}

				&:after {
					content: "";
					display: block;
					height: .2rem;
					width: 3rem;
					margin-top: 2rem;
					background-color: $secondary-color;
				}

			}

			&-link {
				display: block;
				margin-top: 2rem;
				font-weight: bold;
				color: inherit;
				text-transform: uppercase;

				&:hover { color: $secondary-color; }
			}
		}
	}

}


/*#Footer*/


.b-footer {
	background-color: #000;
	color: #fff;
	padding: 4rem 0;

	&__nav {
		margin:  0 0 6rem 0;

		a { color: inherit;}

		li {margin-bottom: 1rem;}
	}

	&__social {

		&-wrap { text-align: right; }

		&-title { text-transform: uppercase; }

		a {color: inherit}

		li { 
			display: inline-block;
			margin-right: 1rem; 
		}
	}

	&__crossline {
		margin-bottom: 2rem;
	}
}



.b-flip {
	perspective: 600px;
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%; 

	&:not(:last-child) {
		margin: 0 2rem 2rem 0;
	}

	&-list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: transform 0.5s;
		transform-style: preserve-3d;
		cursor: pointer;

		&.flip { transform: rotateY( 180deg ); }

		.item {
			width: 100%;
			height: 100%;
			position: absolute;
			display: block;
			backface-visibility: hidden;
			border-radius: 50%;

			&--front {
				background-color: #ccc;
				font-size: 20px;

				&:after {
					content: "+";
					@include cent;
					color: #fff;
					font-size: 3rem;
				}
			}

			&--back {
				transform: rotateY( 180deg );
				background-color: $secondary-color;
			}
		}
	}

}

@media only screen and (max-width : 768px) {

	.section {
		padding: 3rem 0;
	}
	.s-main__tools{
		flex-wrap: wrap;
	}

	.b-select {

		margin: 2rem auto 2rem auto;
	}

	.b-list--main {
		font-size: 1.4rem;
	}

	.b-media {
		justify-content: center;
	}

	.b-list--footer {
		.b-list__item:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

@media only screen and (max-width : 720px) {
	.b-header {
		&__logo {
			width: 100%;
			text-align: center;
			margin-bottom: 1rem;

			img { width: 20px; }
		}

		&__nav {
			justify-content: center;
			padding-bottom: 1rem;
		}

		&__tools {
			margin: auto;
		}
	}
	
	.s-menu {
		background: linear-gradient(to bottom, #fff 50%,
			#FF0000 50%);
	}

	.btn-add {
		margin-bottom: .5rem;
	}

	.section-title, 
	.s-main__title,
	.s-menu__title,
	.b-footer__nav,
	.b-footer__social,
	.b-footer__social-title { 
		text-align: center; 	
	}

	.section-title:after {
		left: 50%;
		transform: translateX(-50%);
	}

	.b-footer__social-title { display: block; }

	.b-list--footer { 
		margin-top: 2rem;
		text-align: left; 
	}
	
}

@media only screen and (max-width : 480px) {
	.b-media {
		margin-right: 0;

		&-item {
			margin-right: 0;
		}
	}

	.s-main__tools {
		flex-direction: column;
	}

	.b-list--main {
		text-align: center;
		.b-list__item {
			display: inline-block;
			margin-top: 1rem;
		}
	}
}

@media only screen and (max-width : 320px) {
	.b-header__nav a{
		font-size: 1.3rem;
	}

	.b-flip-list {
		justify-content: center;
	}

	.s-main__tools-title,
	.s-main__tools {
		font-size: 1.6rem;
	}

	.b-list--main,
	.b-list--footer {
		.b-list__item {
			display: block;
			padding: 0;
		}
	}

	.b-list--footer{ text-align: center; }

	.b-list__item:not(:last-child) {
		border-right: none;
	}

	.section-description {
		text-align: center;
		font-size: 1.3rem;
	}
}