$white: #fff;
$form-color: #F2F5F8;
$btn-fb-color: #3162A2;
$btn-color: #65ABD0;
$btn-secondary-color: #24AA98;
$checkbox-color: #24AA98;
$title-link-color: #65ABD0;
$btn-next-color: #D0BA68;
$btn-reset-color: #DB7560;

$select-secondary-color: #D0BA68;

$stuff-1-color: #D0BA68;
$stuff-2-color: #65ABD0;
$stuff-3-color: #24AA98;
$stuff-4-color: #DB7560;

$font: $white;
$font-dark: #B4BBC2;