@import 'normalize';
@import 'icons/iconfont__variables';
@import 'icons/iconfont__icons';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'baserules';
@import 'placeholders';
@import 'foundation-custom';

//@include foundation-everything;

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 94rem;
	margin: 2rem auto;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}


.b-inp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	margin-bottom: 2rem;
	flex: 1;

	input {
		flex: 1;
		height: 4.5rem;
		padding: 1.5rem;
		border-radius: 0.5rem;
		border: 1px solid #C6CCD2;

		&::placeholder {
			color: $font-dark;
		}
		&:focus::placeholder {
			color: #000;
		}
	}

	&--iconed {
		input {
			padding-left: 4.5rem;

			&:focus + .icon {
				color: inherit;
			}
		}

	}

	&__label {
		width: 100%;
		margin-bottom: 1rem;
		color: $font-dark;
	}

	&__select {
		flex: 1;
		padding: 1.15rem 2rem;
		border-radius: .5rem;
		background-color: $btn-color;
		color: $font;

		&--secondary {
			background-color: $select-secondary-color;
		}
	}
	
	.icon {
		@include centY;
		left: 1.5em;
		color: $font-dark;
	}



	&--multiple { margin-right: 2rem;}
	
	&--cart {
		input {
			@include calc(width, "25% - 3rem/4");
			flex: 0 1 auto;
			text-align: center;
		}
	}

	&--follow {
		input {
			@include calc(width, "100% - 6.5rem");
			margin-right: 2rem;
		}
	}

}

.b-btn {
	position: relative;
	padding: 1.5rem;
	border: none;
	border-radius: 5px;
	background-color: $btn-color;
	color: #fff;
	text-align: center;

	&:hover {
		box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
	}

	&--secondary {
		background-color: $btn-secondary-color;
	}

	&--md {
		@include calc(width, "50% - 1rem");
	}

	&--fb {
		background-color: $btn-fb-color;
	}

	&--sm {
		@include calc(width, "50% - 1rem");
		font-size: 14px;

		.icon {
			font-size: 1.3rem;
			@include centY;
			left: 2rem;

			&--facebook {
				left: 1.6rem;
			}
		}
	}

	&--reset {
		background-color: $btn-reset-color;
	}

	&-next {
		position: relative;
		border: none;
		width: 4.5rem;
		height: 4.5rem;
		border-radius: .5rem;
		background-color: $btn-next-color;

		.icon {
			@include cent;
			color: #fff;
		}
	}

	&--success {
		margin-left: auto;
		padding: 1.5rem 5rem;

		&--sm {
			padding: 1.5rem 2.5rem;
		}
	}

}

.b-checkbox {
	position: relative;
	margin-bottom: 2rem;

	input{
		display: none;

		&:checked + label:before {
			content: "\2713";
			font-size: 12px;
			color: #fff;
			text-align: center;
		}

	}

	&__label {
		position: relative;
		padding-left: 2.4rem;
		font-size: 14px;
		color: $font-dark;

		&:before {
			content: "";
			@include centY;
			left: 0;
			width: 1.6rem;
			height: 1.6rem;
			background-color: $checkbox-color;
			border-radius: 6px;
		}

		&--bold {
			color: #000;
		}
	}

}

.form-wrap {
	@include calc(width, "50% - 1rem");

	&-sm {
		@include calc(width, "33.33% - 4rem/3");
	}

	&-lg {
		@include calc(width, "66.66% - .5rem");
	}

}

.form {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	background-color: $form-color;
	padding: 3rem;

	&--bottom {
		margin-top: 2rem;
		padding: 3rem 3rem 0 3rem;
	}

	&-header {
		position: relative;
		padding: 5.3rem 0;
		border-radius: 0.5rem 0.5rem 0 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&__link {
			position: absolute;
			top: 	 20px;
			right: 20px;
			color: $font;
			font-size: 14px;
		}

		&__title {
			margin: 0;
			text-align: center;
			color: $font;
			font-size: 2em;
			text-transform: uppercase;
		}

		&--bg1 {
			background-image: url('../img/top-img1.jpg');
		}

		&--bg2 {
			background-image: url('../img/top-img2.jpg');
		}
	}

	&__head {
		display: flex;
		justify-content: space-between;
		margin: -1rem 0 3rem 0;

		&-title {
			margin: 0 0 0 -1rem;
			text-transform: uppercase;
			font-size: 1.6rem;

			&--lined {
				margin: 0;
			}
		}

		&-link {
			margin-right: -1rem;
			color: $title-link-color;
		}
	}

	&__forgot {
		display: block;
		margin-bottom: 2rem;
		text-align: center;
		color: $font-dark;
	}

	&__separator {
		display: flex;
		align-items: center;
		position: relative;
		color: $font-dark;
		text-transform: uppercase;
		margin: 2rem 0;

		&:after {
			@include line;
			margin-left: 1rem;
		}

		&:before{
			@include line;
			margin-right: 1rem;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
	}

	&__message {
		margin: 0 0 2rem 0;
		color: $font-dark;
	}

	&__textarea {
		width: 100%;
		height: 14rem;
		padding: 1.5rem;
		margin-bottom: 2rem;
		overflow: hidden;
	}

	&__return-link {
		color: $title-link-color;
		align-self: center;
		span {
			margin-right: 1rem;
		}
	}

	&__field {
		flex: 1;
		position: relative;
		border: none;
		padding: 0 8% 0 0;

		&--total {
			padding: 0 8% 6rem 0;
		}
	}

	&__total {
		position: absolute;
		right: 0;
		bottom: 3rem;
		font-size: 24px;
		color: #000;
	}

	&--primary {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.cart-table {
	width: 100%;
	margin-bottom: 2rem;

	tr {
		border-bottom: 1px solid $font-dark;

		&:last-child {
			border: none;
		}
	}

	th {
		padding-bottom: 1rem;
		color: $font-dark;
		&:first-child {
			padding-left: 10rem;
			text-align: left;
		}
	}

	td {
		padding: 1rem 0;
		&:not(:first-child) {
			text-align: center;
		}
	}

	&__btn {
		width: 2.5rem;
		border: none;
		border-radius: 0.5rem;
		font-size: 2rem;
		color: $font;

		&--minus {
			background-color: $btn-reset-color;
		}

		&--plus {
			background-color: $btn-secondary-color;			
		}
	}

	&__quantity {
		margin: 0 1rem;
	}

	&__total {
		text-align: right;
		font-size: 14px;
		color: $font-dark;
	}
}

.b-stuff {
	display: flex;
	align-items: center;
	position: relative;

	&__main {
		margin-left: 2rem;

		&-title {
			margin: 0;
		}

		&-description {
			display: inline-block;
			margin: 0;
			font-size: 1.4rem;
			color: $font-dark;
		}

		&-input {
			width: 2.2rem;
			height: 1.6rem;
			border: none;
			border-radius: .5rem;
			background-color: $font-dark;
			color: $font;
			font-size: 12px;
			text-align: center;
		}

		&-list {
			display: inline-block;
			padding-left: 1rem;
			margin: 0;
			margin-top: 1rem;

			input {
				display: none;
				&:checked + label:before {
					content: "\2713";
					position: relative;
					top: -3px;
					font-size: 10px;
					color: #fff;
					text-align: center;
				}
			}

			li {
				display: inline-block;
				list-style-type: none;
				vertical-align: middle;
				padding: .2rem;
				position: relative;
				label {
					&:before {
						content: "";
						display: inline-block;
						width: 1.6rem;
						height: 1.4rem;
						border-radius: 50%;
					}
				}

				&:first-child {
					label:before {
						background-color:$stuff-1-color;
					}
				}
				&:nth-child(2) {
					label:before {
						background-color: $stuff-2-color;
					}
				}
				&:nth-child(3) {
					label:before {
						background-color: $stuff-3-color;
					}
				}
				&:nth-child(4) {
					label:before {
						background-color: $stuff-4-color;
					}
				}
				&:nth-child(5) {
					label:before {
						background-color: #000;
					}
				}
			}
		}
	}
}
