// _iconfont__variables.scss

$icon-arrow: "\EA01" !default;

$icon-avatar: "\EA02" !default;

$icon-candidate: "\EA03" !default;

$icon-cash: "\EA04" !default;

$icon-check-mark: "\EA05" !default;

$icon-envelope: "\EA06" !default;

$icon-facebook: "\EA07" !default;

$icon-handshake: "\EA08" !default;

$icon-interview: "\EA09" !default;

$icon-kyivstar: "\EA0A" !default;

$icon-login: "\EA0B" !default;

$icon-padlock: "\EA0C" !default;

$icon-phone-call: "\EA0D" !default;

$icon-shield: "\EA0E" !default;

$icon-stick-man: "\EA0F" !default;

$icon-sticker: "\EA10" !default;

$icon-telegram: "\EA11" !default;

$icon-vodafone: "\EA12" !default;

$icon-wax: "\EA13" !default;