.main {
	width: 400px;
	height: 400px;
	background-color: rgb(196,223,154);
	position: relative;
	top: 100px;
	left: 50%;
	margin-left: -200px;
}

.square {
	width: 100px;
	height: 100px;
	background-color: rgb(247,148,29);
	position: absolute;
}
.first {
  right: 100%;
  margin-right: 20px;
}

.second {
	left: 100%;
  margin-left: 20px;
}

.thirth {
	bottom: 0;
  right: 100%;
  margin-right: 20px;
}

.fourth {
	bottom: 0;
  left: 100%;
  margin-left: 20px;
}