$font-light: #fff;
$btn-main: #65ABD0;
$btn-toggle: #24AA98;

$btn-pointer-w: 75px;
$btn-pointer-h: 48px;

$btn-pointer--sm-w: 94px;
$btn-pointer--sm-h: 36px;

$inp-border: rgb(198, 204, 210);

$font-inp: rgb(198, 204, 210);