extends templates/template

block title
	title Index page

append style 
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css")

block content
	section.data
		.container
			aside.data__sidebar
				a(href="#").logo 
					i.fab.fa-lastfm.logo__icon
					|Logotype
				.data-section
					h4.__title 
						i.far.fa-arrow-alt-circle-right
						|Корреспонденция
					.data-section__item Входящие 
						span.notify.notify--unreaded 6
						span.notify.notify--readed 2
					.data-section__item Исходящие 
						span.notify.notify--unreaded 1
					.data-section__item Черновики

				.data-section
					h4.__title 
						i.far.fa-arrow-alt-circle-right
						|Проекты
					.data-section__item Список 
					.data-section__item Шаблоны отчетов 
					.data-section__item Конструкция отчетов

				.data-section
					h4.__title 
						i.far.fa-arrow-alt-circle-right
						|Иерархии

				.data-section
					h4.__title
						i.far.fa-arrow-alt-circle-right 
						|База данных
					.data-section__item Записи  
					.data-section__item Атрибуты
					.data-section__item Словари
					.data-section__item Выборки

				.data-section
					h4.__title
						i.far.fa-arrow-alt-circle-right 
						|Пользователи
					.data-section__item Активные 
					.data-section__item Архив
					.data-section__item Отчеты
					.data-section__item Логи

				.data-section
					h4.__title 
						i.far.fa-arrow-alt-circle-right
						|Аналитика
					.data-section__item Статистика 
					.data-section__item Шаблоны отчетов
					.data-section__item Конструктор отчетов

			main.data__main
				header.data__header
					h3.data__header-title База данных:
					ul.data__nav
						li.data__nav-item
							a(href="#").data__nav-link Записи
						li.data__nav-item
							a(href="#").data__nav-link Атрибуты
						li.data__nav-item
							a(href="#").data__nav-link Словари
						li.data__nav-item
							a(href="#").data__nav-link Выборки
					.data__user
						span.data__user-name Инокентий Виссарионович
						button.btn-logout
							i.fas.fa-sign-out-alt

				.content
					.__head
						.search
							input(type="text" placeholder="Search").__input
							i.fas.fa-search

						.btn-group
							button.btn Создать группу атрибутов
							button.btn Создать атрибут

					.content__info
						#tree.tree
							ul
								li.tree__item 
									|Черниговская 
									span.tree__location обл
									ul
										li.tree__item 
											|Буковинский 
											span.tree__location р-н.
											ul
												li.tree__item
													|Чернигов
													span.tree__location  м.
													ul
														li.tree__item
															|Центральный 
															span.tree__location мр-н.
															ul
																li.tree__item
																	|Тараса Шевченка 
																	span.tree__location вул.
																	ul 
																		li.tree__item
																			|1-11, 39-58, 84-200
																			span.tree__location  буд.
																		li.tree__item
																			|13
																			span.tree__location  буд.
								li.tree__item 
									|Нежинский 
									span.tree__location р-н.
									ul
										li.tree__item 
											|Буковинский 
											span.tree__location р-н.
											ul
												li.tree__item
													|Чернигов
													span.tree__location  м.
													ul
														li.tree__item
															|Центральный 
															span.tree__location мр-н.
															ul
																li.tree__item
																	|Тараса Шевченка 
																	span.tree__location вул.
																	ul 
																		li.tree__item
																			|1-11, 39-58, 84-200
																			span.tree__location  буд.
																		li.tree__item
																			|13
																			span.tree__location  буд.
										