.collection {
  .container {
    min-height: 100vh;
  }

  &__title {
    margin: 20px 0 0 0;
    text-align: center;
  }

  &__container {
    padding: 45px 0 0 0;
  }

  &__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all .4s;
    max-width: 750px;
    margin: 0 auto;
  }

  &__button-bar {
    padding: 20px;
    text-align: center;
  }

  &__wrap {
    position: relative;
    width: 250px;
    height: 250px;
  }
  &-product {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 10px;
    transition: transform .3s;
    cursor: pointer;

    &__info {
      @include stretch;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: rgba(#000, .5);
      color: #fff;
      line-height: 100%;
      font-weight: bold;
      opacity: 0;
      transform: scale(1.1);
      transition: all .3s;
      z-index: 2;
    }

    &:hover {
      .collection-product__info {
        opacity: 1;
        transform: scale(1);
      }
    }
    &.is-active {
      transform: scale(1.1);
      z-index: 1;
    }

    &__img {
      max-width: 100%;
    }
  }
}

.collection-modal {
  .modal {
    width: 600px;
  }
  &__body {
    padding: 2rem 0 0 0;
  }
  &__slide {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.collection-enter-active {
  opacity: 0;
  transform: translateX(-40%);
}

.collection-leave-active {
  opacity: 0;
  transform: translateX(40%);
}

@media only screen  and (max-width : 460px) {
  .collection {
    .btn-group {
      padding: 20px 0;
    }
    &__container {
      padding-top: 0;
    }

    &-modal {
      .modal {
        min-width: auto;

        &__close {
          top: 7px;
          right: 5px;
        }
      }
    }
  }
}

@media only screen  and (max-width : 370px) {
  .btn-tab {
    width: 80px;
    font-size: 14px;
  }
}
