body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #8238A7; }

p,
.s_about li {
  color: #888; }

.main_footer {
  letter-spacing: 2px; }

.color_element {
  color: #8238A7; }

.color_bg {
  background-color: #8238A7; }

.color_border {
  border-color: #8238A7; }

.main_color_bg {
  background-color: #222; }

path {
  fill: #fff; }

.toggle_mnu {
  background-color: #000; }

.top_mnu a:hover {
  color: #8238A7; }
.top_mnu a {
  letter-spacing: 5px; }

.top_text p {
  color: #FAFAFA;
  letter-spacing: 5px; }

.s_descr {
  letter-spacing: 5px; }
  .s_descr::after {
    background-color: #222; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #222;
  color: #fff; }
  .bg_dark .s_descr::after {
    background-color: #FFF; }
  .bg_dark a {
    color: #fff; }

section h3 {
  letter-spacing: 3px;
  color: #888; }

.s_about p:nth-child(even) {
  color: #8238A7; }

.personal_header {
  letter-spacing: 3px; }

.resume_container h3 {
  color: #222;
  letter-spacing: 1px; }
.resume_container .left .resume_description strong {
  margin-left: 10px; }
.resume_container .right .resume_description strong {
  margin-right: 10px; }
.resume_container .resume_item .year {
  background-color: #8238A7;
  color: #fff; }
.resume_container .resume_item .resume_description {
  letter-spacing: 1px; }

.s_portfolio li {
  letter-spacing: 2px;
  color: #888; }
  .s_portfolio li.active {
    color: #fff;
    border-bottom: 1px solid #8238A7; }

.portfolio_item .port_item_cont a {
  border-color: #8238A7;
  color: #8238A7; }

.main_footer a {
  color: #8238A7; }

.contacts_icon {
  color: #8238A7; }

.text-danger {
  color: #8238A7; }

form input:focus,
form textarea:focus {
  border: 1px solid #8238A7; }
form input,
form textarea {
  letter-spacing: 2px; }
form button {
  background-color: #8238A7;
  letter-spacing: 2px; }

.form-group {
  letter-spacing: 2px;
  color: #888; }
