.field {
  $p: 30px;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  &__input {
    width: 100%;
    padding: 5px 20px 5px $p;
    border: none;
    border-bottom: 2px solid #ccc;
    &.is-active,
    &:focus {
      &+label {
        left: 0;
        top: -5px;
        transform: translateY(-100%);
        font-size: 12px;
      }
    }
    &:focus {
      outline: none;
      border-bottom-color: $second-color;
      &+label {
        color: $second-color;
      }
      &~.field__icon {
        color: $second-color;
      }
    }
  }
  &__label {
    @include centY;
    left: $p;
    pointer-events: none;
    transition: all .3s;
  }
  &__icon {
    @include centY;
    left: 0;
    font-size: 20px;
  }
  &__error {
    position: absolute;
    bottom: -5px;
    width: 100%;
    transform: translateY(100%);
    color: red;
    font-size: 12px;
  }
  &.invalid {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    color: red;
    .field__input {
      border-color: red;
    }
  }
}

.text-field {
  position: relative;
  border-top: 10px solid transparent;
  &__label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: all .3s;
    font-size: 18px;
    pointer-events: none;
    &.is-active {
      top: -25px;
      left: 0;
      font-size: 14px;
    }
  }
  &__icon {
    margin-right: 10px;
  }
  &__textarea {
    width: 100%;
    min-height: 200px;
    padding: 15px 20px;
    resize: none;
    border-radius: 10px;
    &:focus {
      outline: none;
      border-color: $second-color;
      &+label {
        top: -25px;
        left: 0;
        font-size: 14px;
        color: $second-color;
      }
    }
  }
  &.invalid {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    color: red;
    .text-field__textarea {
      border-color: red;
    }
  }
}