@import 'normalize';
@import 'base';

.app {
  max-width: 660px;
  margin: 0 auto;
  padding: 20px 0;

  &__header {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__img {
    max-width: 100px;
    animation-name: spinner;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    transform-style: preserve-3d;
    cursor: pointer;

    &.is-paused {
      animation-play-state: paused;
    }
  }

  &__title {
    width: calc(100% - 180px);
    text-align: center;
  }
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.btn {
  padding: 5px 20px;
  font-size: 14px;
  border: none;
  color: #fff;
  box-shadow: 1px 1px 1px #000;
  transition: all 0.2s;

  &:focus {
    outline: none;
  }

  &-default {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  }

  &-group {
    display: flex;

    .btn {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &-edit {
    &:hover {
      color: $active-color;
    }
  }

  &-delete {
    font-weight: bold;
    &:hover {
      transform: scale(1.2);
      color: $remove-color;
    }
  }

  &-tab {
    background-color: transparent;
    border: 1px solid currentColor;
    color: #535353;

    &.is-active {
      border-color: $active-color;
      background-color: $active-color;
      color: #fff;
    }
  }
  &--submit {
    background-color: $active-color;

    &:hover {
      opacity: 0.9;
      background-color: $active-color;
      box-shadow: 1px 1px 1px $active-color;
    }
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}