// _iconfont__icons.scss
$global-font-icon: 'social';
@font-face {
  font-family: $global-font-icon;
  src:url("../fonts/myicons.eot");
  src:url("../fonts/myicons.?#iefix") format("embedded-opentype"),
    url("../fonts/myicons.woff") format("woff"),
    url("../fonts/myicons.ttf") format("truetype"),
    url("../fonts/myicons.#myicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: $global-font-icon;

  &:before {
    /* Some common icon stuff */
  }

  &.icon--alarm {
    &:before {
      content: $icon-alarm;
    }
  }
  &.icon--arrow-down {
    &:before {
      content: $icon-arrow-down;
    }
  }
  &.icon--arrow-up {
    &:before {
      content: $icon-arrow-up;
    }
  }
  &.icon--book {
    &:before {
      content: $icon-book;
    }
  }
  &.icon--computer {
    &:before {
      content: $icon-computer;
    }
  }
  &.icon--digital {
    &:before {
      content: $icon-digital;
    }
  }
  &.icon--dribbble {
    &:before {
      content: $icon-dribbble;
    }
  }
  &.icon--equalizer {
    &:before {
      content: $icon-equalizer;
    }
  }
  &.icon--facebook {
    &:before {
      content: $icon-facebook;
    }
  }
  &.icon--google {
    &:before {
      content: $icon-google;
    }
  }
  &.icon--graph {
    &:before {
      content: $icon-graph;
    }
  }
  &.icon--home {
    &:before {
      content: $icon-home;
    }
  }
  &.icon--instagram {
    &:before {
      content: $icon-instagram;
    }
  }
  &.icon--location {
    &:before {
      content: $icon-location;
    }
  }
  &.icon--picture {
    &:before {
      content: $icon-picture;
    }
  }
  &.icon--pinterest {
    &:before {
      content: $icon-pinterest;
    }
  }
  &.icon--search {
    &:before {
      content: $icon-search;
    }
  }
  &.icon--shopping {
    &:before {
      content: $icon-shopping;
    }
  }
  &.icon--speech {
    &:before {
      content: $icon-speech;
    }
  }
  &.icon--target {
    &:before {
      content: $icon-target;
    }
  }
  &.icon--tumblr {
    &:before {
      content: $icon-tumblr;
    }
  }
  &.icon--twitter {
    &:before {
      content: $icon-twitter;
    }
  }
  &.icon--users {
    &:before {
      content: $icon-users;
    }
  }
  &.icon--view {
    &:before {
      content: $icon-view;
    }
  }
  &.icon--youtube {
    &:before {
      content: $icon-youtube;
    }
  }

}