// _iconfont__variables.scss

$icon-alarm: "\EA01" !default;

$icon-arrow-down: "\EA02" !default;

$icon-arrow-up: "\EA03" !default;

$icon-book: "\EA04" !default;

$icon-computer: "\EA05" !default;

$icon-digital: "\EA06" !default;

$icon-dribbble: "\EA07" !default;

$icon-equalizer: "\EA08" !default;

$icon-facebook: "\EA09" !default;

$icon-google: "\EA0A" !default;

$icon-graph: "\EA0B" !default;

$icon-home: "\EA0C" !default;

$icon-instagram: "\EA0D" !default;

$icon-location: "\EA0E" !default;

$icon-picture: "\EA0F" !default;

$icon-pinterest: "\EA10" !default;

$icon-search: "\EA11" !default;

$icon-shopping: "\EA12" !default;

$icon-speech: "\EA13" !default;

$icon-target: "\EA14" !default;

$icon-tumblr: "\EA15" !default;

$icon-twitter: "\EA16" !default;

$icon-users: "\EA17" !default;

$icon-view: "\EA18" !default;

$icon-youtube: "\EA19" !default;