@charset "UTF-8";
* {
  box-sizing: border-box; }

html, button {
  font: bold 14px "Arial", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #ccc; }

.b-popup {
  margin: 100px auto;
  border-top: 1px solid red;
  max-width: 845px;
  position: relative;
  box-shadow: 0px 2px 1.8px 0.2px rgba(0, 0, 0, 0.25);
  background-color: #FFF; }

.b-popup__header__close {
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .b-popup__header__close:after, .b-popup__header__close:before {
    position: absolute;
    top: 3px;
    right: 10px;
    content: " ";
    height: 14px;
    width: 2px;
    background-color: #ccc; }
  .b-popup__header__close:after {
    transform: rotate(-45deg); }
  .b-popup__header__close:before {
    transform: rotate(45deg); }

.b-popup__header__title {
  text-align: center; }

.b-popup__content {
  display: flex;
  background-color: #F4F4F4;
  position: relative; }
  .b-popup__content:after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #ccc;
    top: 10%;
    right: 50%; }

.b-popup__content__social {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10em; }

.b-btn {
  background-color: #3e5b96;
  padding: 0.5em 1em;
  min-width: 300px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px; }
  .b-btn:hover {
    box-shadow: inset 0px 0px 0px 40px rgba(0, 0, 0, 0.15); }
  .b-btn a {
    color: #fff;
    text-decoration: none; }
    .b-btn a:hover {
      color: #fff; }
    .b-btn a:before {
      content: "";
      display: inline-block;
      background: url(../img/fb.png);
      width: 10px;
      height: 22px;
      vertical-align: middle;
      margin-right: 65px; }

.b-btn__gPlus {
  background-color: #E15E4B;
  margin-top: 20px; }
  .b-btn__gPlus a:before {
    background: url(../img/g+.png);
    width: 26px;
    margin-right: 50px; }

.b-popup__form {
  width: 50%;
  padding: 2.7em 4em; }

.b-popup__form__form {
  display: flex;
  flex-direction: column; }

label {
  cursor: pointer;
  margin-bottom: 5px; }

input:not([type=checkbox]) {
  border: 1px solid #dddddd;
  border-radius: 3px;
  width: 100%;
  height: 42px;
  margin-bottom: 20px; }

input[type=checkbox] {
  display: none; }

label[for=checkbox] {
  vertical-align: middle; }
  label[for=checkbox]:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #44A3FC;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 10px; }

input[type=checkbox]:checked + label[for=checkbox]:before {
  content: "✓";
  font-size: 12px;
  color: #fff;
  text-align: center; }

.form__log-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

.b-log-btn {
  border-radius: 3px;
  background-color: #252525;
  width: 103px;
  height: 40px;
  display: inline-block;
  color: white;
  cursor: pointer;
  border: none; }
  .b-log-btn:hover {
    box-shadow: inset 0px 0px 0px 40px #666666; }

a {
  color: #252525; }
  a:hover {
    color: #666666; }

.b-popup__footer {
  padding: 1em; }

p {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #666666; }

a {
  margin-left: 5px;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
