// _iconfont__variables.scss

$icon-Minus: "\EA01" !default;

$icon-Plus: "\EA02" !default;

$icon-Star: "\EA03" !default;

$icon-facebook: "\EA04" !default;

$icon-fish: "\EA05" !default;

$icon-google: "\EA06" !default;

$icon-instagram: "\EA07" !default;

$icon-pinterest: "\EA08" !default;

$icon-twitter: "\EA09" !default;

$icon-youtube: "\EA0A" !default;