$mw: 100px;

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 0;
  .btn {
    max-width: $mw;
  }
}

.input-field {
  $pl: 30px;
  position: relative;
  width: calc(100% - #{$mw} - 20px);
  padding-left: $pl;
  font-style: italic;
  &__input {
    width: 100%;
    border: 1px solid;
    border-color: transparent transparent #ccc transparent;

    &:focus,
    &.is-active {
      outline: none;
      // border-bottom-color: $active-color;
      & ~ .input-field {
        &__label {
          transform: translate(-20px, -100%);
          font-size: 12px;
          color: $active-color;
        }

        &__icon {
          color: $active-color;
        }
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: $pl + 20px;
    cursor: text;
    transition: transform 0.3s, font-size 0.3s;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}
