@import 'normalize';
@import 'fonts';
@import 'mixins';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans';
  font-size: 10px;
}

body {
  font-size: 16px;
}

$default-color: #535353;
$active-color: #26a69a;
$remove-color: #dd5145;
$edit-color: #1b95e0;

%flex-sb {
  display: flex;
  justify-content: space-between;
}

%default-set {
  border: none;
  background-color: transparent;
}

%default-padding {
  padding: 0 2rem;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url(../img/icons/js-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  perspective: 100px;
  animation-name: spinner;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  transform-style: preserve-3d;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.todo {
  max-width: 76.8rem;
  margin: 0 auto;
  @extend %default-padding;
  color: $default-color;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem 0;
  }

  &__title {
    margin: 0 0 0 2rem;
    font-size: 24px;
    text-transform: uppercase;
  }

  &-form {
    @extend %flex-sb;
    align-items: flex-end;

    &__field {
      position: relative;
      width: calc(100% - 12rem);
      margin-top: 2rem;
      .icon {
        @include centY;
        left: 0;
        transition: color 0.3s;
      }
    }

    &__input {
      width: 100%;
      border: none;
      border-bottom: 2px solid #ccc;
      padding: 0.5rem 1rem 0.5rem 3rem;
      &:focus {
        outline: none;
        border-color: $active-color;

        & ~ .todo-form__label {
          top: 0;
          left: 0;
          transform: translate(0, -100%);
          font-size: 12px;
          color: $active-color;
        }

        & ~ .icon {
          color: $active-color;
        }
      }

      &.is-active ~ .todo-form__label {
        top: 0;
        left: 0;
        transform: translate(0, -100%);
        font-size: 12px;
      }
    }

    &__label {
      @include centY;
      left: 3rem;
      transition: all 0.3s;
      padding-bottom: 0.5rem;
      cursor: text;
    }

    &__submit {
      width: 10rem;
      padding: 5px 0;
      border: none;
      background-color: $active-color;
      color: #fff;
      font-size: 14px;
      box-shadow: 0 0 2px #000;
      transition: background-color 0.2s, box-shadow 0.2s;

      .icon {
        display: none;
      }

      &:hover,
      &:focus {
        background-color: #2bbbad;
        box-shadow: 0 0 2px #2bbbad;
      }
    }
  }

  &-list {
    list-style: none;
    min-height: calc(100vh - 275px);
    padding-left: 0;

    &__item {
      position: relative;
      padding: 1rem 4rem 1rem 3rem;
      background-color: #fafafa;
      border: 1px solid #ccc;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &__checkbox {
      display: none;
      &:checked {
        & + .todo-list__label {
          color: $active-color;
          text-decoration: line-through;
          &:before {
            content: '\2713';
            border-color: $active-color;
          }
        }
      }
    }

    &__text {
      width: calc(100% - 60px);
      @extend %default-set;
      pointer-events: none;
    }

    &__label {
      @extend %flex-sb;
      position: relative;
      width: 100%;
      margin-right: auto;
      padding-left: 40px;
      cursor: pointer;

      &:before {
        content: '';
        @include centY;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $default-color;
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        line-height: 20px;
      }
    }

    &__edit,
    &__remove {
      position: relative;
      display: inline-block;
      line-height: 40px;
      text-align: center;
      transition: all 0.2s;
      .material-icons {
        @include cent;
      }
    }

    &__edit {
      width: 30px;
      height: 30px;
      margin-right: 20px;
      border-radius: 50%;
      border: 2px solid $edit-color;
      background-color: #fff;
      box-shadow: 0 0 2px $edit-color;
      color: $edit-color;
      cursor: pointer;

      &:hover {
        background-color: $edit-color;
        color: #fff;
      }
      .material-icons {
        font-size: 20px;
      }
    }
    &__remove {
      @include centY;
      right: 10px;
      width: 35px;
      height: 35px;
      @extend %default-set;
      color: #e06558;

      &:hover {
        color: #fff;
        border: 1px solid $remove-color;
        background-color: $remove-color;
      }
      .material-icons {
        font-size: 35px;
      }
    }
  }
}

.btn {
  padding: 5px 15px;
  border: 1px solid #ccc;
  background-color: transparent;
  font-size: 14px;
  box-shadow: 0 0 2px #000;
  font-weight: bold;

  &:not(:last-child) {
    margin-right: 2rem;
  }

  &:hover:not(.is-active),
  &.is-active {
    border-color: $active-color;
  }

  &.is-active {
    background-color: $active-color;
    color: #fff;
  }

  &:hover:not(.is-active) {
    color: $active-color;
  }

  &-group {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .todo {
    &__header {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__title {
      width: 100%;
      text-align: center;
      margin: 1rem 0;
      font-size: 18px;
    }
    &-form {
      &__field {
        width: calc(100% - 55px);
      }
      &__submit {
        width: 35px;
        height: 35px;
        .icon {
          display: block;
        }
        &-text {
          display: none;
        }
      }
    }
  }

  .btn {
    font-size: 14px;
    padding: 5px 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &-group {
      justify-content: space-between;
    }
  }
}
