$white: #fff;
$form-color: #F2F5F8;
$btn-fb-color: #3162A2;
$btn-color: #65ABD0;
$green: #24AA98;
$sand: #D0BA68;
$red: #DB7560;
$black: #000;

$title-color: $black;
$font: $white;
$font-dark: #B4BBC2;