@import 'normalize';
@import 'icons/iconfont__variables';
@import 'icons/iconfont__icons';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'baserules';
@import 'placeholders';
@import 'foundation-custom';

//@include foundation-everything;

.wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 94rem;
	margin: 2rem auto;
}

.form-inp {

	position: relative;
	margin-bottom: 2rem;
	
	input {
		width: 100%;
		height: 4.5rem;
		border-radius: 0.5rem;
		border: 1px solid #C6CCD2;
		padding-left: 4.5rem;

		&::placeholder {
			color: $font-dark;
		}

		&:focus + .icon {
			color: inherit;
		}

		&:focus::placeholder {
			color: #000;
		}
		
	}

	.icon {
		position: absolute;
		@include centeredY;
		left: 1.5em;
		color: $font-dark;
	}
}


/* #Form-top*/


.form-md-wrap {
	@include calc(width, "50% - 1rem");
}

.form {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: $form-color;
	padding: 3rem;

	&-header {
		position: relative;
		padding: 5.3rem 0;
		border-radius: 0.5rem 0.5rem 0 0;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&__link {
			position: absolute;
			top: 	 20px;
			right: 20px;
			color: $font;
			font-size: 14px;
		}

		&__title {
			margin: 0;
			text-align: center;
			color: $font;
			font-size: 2em;
			text-transform: uppercase;
		}

		&--bg1 {
			background-image: url('../img/top-img1.jpg');
		}

		&--bg2 {
			background-image: url('../img/top-img2.jpg');
		}
	}


	&__forgot {
		display: block;
		margin-bottom: 2rem;
		text-align: center;
		color: $font-dark;
	}

	&__btn {
		padding: 1.5rem;
		border: none;
		border-radius: 5px;
		background-color: $btn-color;
		color: #fff;
		text-align: center;

		&:hover {
			box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);;
		}

		&--md {
			@include calc(width, "50% - 1rem");
		}

		&--fb {
			background-color: $btn-fb-color;
		}
	}
	
	&__separator {
		display: flex;
		position: relative;
		color: $font-dark;
		text-transform: uppercase;
		margin: 2rem 0;

		&:after {
			@include line;
			margin-left: 1rem;
		}

		&:before{
			@include line;
			margin-right: 1rem;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
	}

	&__checkbox {
		position: relative;
		margin-bottom: 2rem;

		input{
			display: none;

			&:checked + label:before {
				content: "\2713";
				font-size: 12px;
				color: #fff;
				text-align: center;
			}

		}

		label {
			padding-left: 2.4rem;
			font-size: 14px;
			color: $font-dark;
			
			&:before {
				content: "";
				position: absolute;
				left: 0;
				@include centeredY;
				width: 1.6rem;
				height: 1.6rem;
				background-color: $green;
				border-radius: 6px;
			}
		}

		.label--bold {
			color: #000;
			font-size: 16px;
		}
	}
}

/*
.form-title {
	@extend %flex;
	margin: -1rem 0 2rem -1rem;
	width: 100%;
	position: relative;

	&__main {
		margin: 0;
		text-transform: uppercase;
		color: $title-color;
		font-size: 1em;
	}

	&__link {
		margin-right: -2.5rem;
		color: $blue-light;
	}

}

.log--icon {
	position: relative;
	font-size: 14px;
	padding: 1rem;

	.icon {
		margin-right: 1.5rem;
	}

	.icon--twitter {
		font-size: 1.3rem;
	}
}

.reset-wrap {
	margin-bottom: 2rem;
}

.title--sm {
	margin: -1rem 0 2rem 0;
}

.btn--reset {
	@extend %link;
	border: none;
	background-color: $red;
}

.form-main__message {
	margin: 0 0 2rem 0;
	color: $font-dark;
}

.inp--next {
	@extend %flex;
}

.next-btn {

	position: relative;
	width: 5rem;
	height: 4.5rem;
	margin-left: 1rem;
	border: none;
	border-radius: 5px;
	background-color: $sand;

	.icon--next {
		position: absolute;
		left: 50%;
		color: #fff;
		font-size: 14px;
	}

}


/* #Contact form */

/*
.form-label {
	display: block;
	margin-bottom: 1rem;
	color: $font-dark;
}

.form-select,
%form-select {
	width: 100%;
	margin-bottom: 2rem;
	padding: 1.15rem 2rem;
	border-radius: .5rem;
	background-color: $blue-light;
	color: $white;
}

.form-textarea {
	width: 100%;
	height: 14rem;
	padding: 1rem 1.5rem;
}

.btn--send,
%btn--send {
	display: inline-block;
	margin-left: auto;
	padding: 1.5rem 5rem;
	border: none;
	border-radius: .5rem;
	background-color: $green;
	color: $font;
}

.cart-table {

	tr {
		border-bottom: 1px solid $font-dark;

		&:last-child {
			border: none;
		}
	}

	th {
		padding-bottom: 1rem;
		color: $font-dark;
		&:first-child {
			padding-left: 10rem;
			text-align: left;
		}
	}

	td {
		padding: 1rem 0;

		&:not(:first-child) {
			text-align: center;
		}
	}

	.total {
		position: relative;
		left: 87%;
		padding: 2.5rem 0;

		span {
			font-size: 14px;
			color: $font-dark;
			padding-right: 1rem;
		}
	}
}	

.cart-table__stuff {
	display: flex;
	align-items: center;
	position: relative;
	padding: 1rem 3rem;
}

.stuff-descr {
	margin-left: 2rem;

	p,
	h4 {
		margin: 0;
	}

	p,
	label{
		display: inline-block;
		font-size: 1.4rem;
		color: $font-dark;
	}

}

.inp--size {
	width: 2.2rem;
	height: 1.6rem;
	border: none;
	border-radius: .5rem;
	background-color: $font-dark;
	color: $font;
	font-size: 12px;
	text-align: center;
}

.stuff-colors {
	display: inline-block;
	padding-left: 1rem;
	margin: 0;
	margin-top: 1rem;

	input {
		display: none;
		&:checked + label:before {
			content: "\2713";
			position: relative;
			top: -3px;
			font-size: 10px;
			color: #fff;
			text-align: center;
		}
	}

	li {
		display: inline-block;
		list-style-type: none;
		vertical-align: middle;
		padding: .2rem;
		position: relative;

		label {

			&:before {
				content: "";
				display: inline-block;
				width: 1.6rem;
				height: 1.4rem;
				border-radius: 50%;
			}

		}
		
		&:first-child {
			label:before {
				background-color: $sand;
			}
		}

		&:nth-child(2) {
			label:before {
				background-color: $blue-light;
			}
		}
		&:nth-child(3) {
			label:before {
				background-color: $green;
			}
		}
		&:nth-child(4) {
			label:before {
				background-color: $red;
			}
		}
		&:nth-child(5) {
			label:before {
				background-color: #000;
			}
		}

	}
}

%cart-btn {
	width: 2.5rem;
	border: none;
	border-radius: 0.5rem;
	font-size: 2rem;
	color: $white;
}

.btn--minus {
	@extend %cart-btn;
	background-color: $red;
}
.btn--plus {
	@extend %cart-btn;
	background-color: $green;
}
.quol {
	margin: 0 1rem;
}

.cart-link {
	color: $blue-light;
	align-self: center;
	span {
		margin-right: 1rem;
	}
}

.btn--order {
	@extend %btn--send;
}

.btn--pay {
	@extend %btn--send;
	padding: 1.5rem 2.5rem;
}

.form-select--loc {
	background-color: $sand;
}

.form-inp--cart {
	input {
		@include calc(width, '25% - (3rem / 4)')
	}
}

.form-main__general {
	margin: 0;
	padding-right: 3rem;
	color: $font-dark
}

.form__total {
	font-size: 24px;
}

.inp--cvv {
	width: 7.5rem;
}

*/