$font-light: #fff;
$btn-main: #65ABD0;
$btn-toggle: #24AA98;

$pointer-md-w: 75px;
$pointer-md-h: 48px;

$pointer-sm-w: 94px;
$pointer-sm-h: 36px;

$inp-border: rgb(198, 204, 210);

$font-inp: rgb(198, 204, 210);

$error-color: #db7560;

$btn-src-width: 48px;
$btn-src-height: 48px;

$circle-color: #d9c26c;

$notify-middle: #d9c26c;

$notify-btn--right: #d9c26c;