*{
  border: 1px solid #000;
  margin: 1%;
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
}
.header {
  height: 100px;
}
.aside {
  width: 23%;
  height: 600px;
  float: left;
  margin-top: 0;
}
.content {
  margin-left: 25%;
  height: 600px;
}
.footer {
  height: 100px;
}