@import 'normalize';
@import 'vars';
@import 'mixins';
@import 'fonts';
@import '~materialize/sass/materialize.scss';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans';
}

.news {
  max-width: 800px;
  margin: 0 auto;

  &__title {
    text-align: center;
  }
}

.article {
  margin-bottom: 20px;
  border: 2px solid #ccc;
  background-color: #fafafa;
  &__head {
    position: relative;
    padding: 10px 100px 10px 20px;
  }

  &__title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  &__body {
    font-size: 14px;

    &-text {
      padding: 0 20px;
      transition: all 0.3s;
      max-height: 0;
      text-overflow: ellipsis;
      overflow: hidden;

      &.is-active {
        @include scrollbar(5px, $active-color);
        max-height: 400px;
        padding: 20px;
      }

      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
  }

  &__footer {
    display: flex;
    padding: 0 10px 0 20px;

    .btn-small {
      font-size: 10px;
    }

    .red {
      margin: 0 auto 1rem auto;
    }
  }
}

.comments {
  &__head {
    position: relative;
    padding: 0 40px 0 20px;
  }
}

.comment {
  position: relative;
  padding: 0 40px;

  &__item {
    position: relative;
  }
  &__remove {
    @include centY;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid $active-color;
    border-radius: 50%;

    &:after,
    &:before {
      content: '';
      @include cent;
      height: 80%;
      width: 2px;
      background-color: $active-color;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.switcher {
  text-transform: uppercase;
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
  font-size: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  &:before {
    content: '';
    @include centY;
    left: 0;
    width: 32px;
    height: 17px;
    border: 1px solid #c6ccd2;
    border-radius: 9px;
  }

  &:after {
    content: '';
    @include centY;
    left: 2px;
    width: 15px;
    height: 15px;
    background-color: #c6ccd2;
    border-radius: 50%;
  }
  &:focus {
    outline: none;
    background: none;
  }
  &.is-active {
    color: #24aa98;
    &:before {
      border-color: #24aa98;
    }
    &:after {
      transform: translate(100%, -50%);
      background-color: #24aa98;
    }
  }
}

.ReactModal__Content {
  max-width: 768px;
  margin: 0 auto;
  z-index: 100;
  background-color: #fff;
}

.modal {
  padding: 0 40px;
  text-align: center;

  &__title {
    margin: 0;
    padding: 20px 0 30px 0;
  }
}

.input-form {
  padding: 40px 0;
  text-align: center;
  color: #535353;

  &__title {
    text-transform: uppercase;
  }

  &__field {
    margin-bottom: 20px;
  }

  &__caption {
    margin-bottom: 10px;
  }

  &__input {
    width: 50%;
    padding: 5px 10px;
  }
  &__btn {
    color: $active-color;
  }
}

.button {
  @include centY;
  height: auto;
  right: 10px;
  padding: 5px 20px 5px 10px;
  width: 70px;
  line-height: 16px;
  z-index: 0;
  .icon {
    @include centY;
    right: 2%;
    transition: transform 0.3s;
  }

  &.is-opened {
    .icon {
      transform: translateY(-50%) rotate(90deg);
    }
  }
}

.progress-bar {
  max-width: 768px;
  @include cent;
}

.input-field {
  label {
    width: calc(100% - 3rem);
  }
}

.form {
  text-align: center;

  &__title {
    font-size: 24px;
  }
}

.news-header {
  display: flex;
  justify-content: center;
  padding: 30px 0 0 0;
}

.btn-nav {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
