extends templates/template

block title
	title Index page

block content
	mixin  social(cl, ...args)
		ul(class=cl)
			each item in args
				li
					a(class= cl + "__link" href='#')
						i(class="fab fa--" + item)


