.header {
  @extend %bg-cover;
  position: relative;
  padding-bottom: 50px;
  color: #fff;
  background-image: linear-gradient(rgba(#000, .8), rgba(#000, .8)), url('~@/static/images/laptop.jpg');
  background-attachment: fixed;
  &__container {
    @extend %flex-c;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 500;
    @media only screen and (max-width : 800px) {
      font-size: 30px;
      span {
        display: block;
      }
    }
  }

  &__suptitle {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    @media only screen and (max-width : 800px) {
      font-size: 20px;
    }
  }
}
