@import 'normalize';
@import 'mixins';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';

body {
	text-align: center;
}

.btn-popup {
	display: inline-block;
	margin: 20px 0;
	background-color: #8DD35F;
	border: none;
	padding: 20px 40px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;	
}

.overlay {
	@include stretch;
	display: none;
	background-color: rgba(#000, .8);
	cursor: pointer;
	
}

.popup {
	@include cent;
	display: none;
	padding: 20px 40px;
	background-color: #FFF;
	box-shadow: 0 0 100px rgba(#fff, .8);
	border-radius: 10px;
	z-index: 20;

	&__close {
		position: absolute;
		right: 5px;
		top: 10px;
		width: 32px;
		height: 32px;
		opacity: 0.3;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}

		&:before,
		&:after {
			position: absolute;
			left: 10px;
			content: ' ';
			height: 28px;
			width: 2px;
			background-color: #333;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(-45deg);			
		}
	}

}

.active {
	display: block;
}