
@font-face {
	font-family: 'GothamPro', serif; 
	src: url('../fonts/GothamPro/GothamProRegular/GothamProRegular.woff'),
	url('../fonts/GothamPro/GothamProRegular/GothamProRegular.eot'),
	url('../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf');
	font-weight: normal;
} 

@font-face {
	font-family: 'GothamPro', serif; 
	src: url('../fonts/GothamPro/GothamProBold/GothamProBold.woff'),
	url('../fonts/GothamPro/GothamProBold/GothamProBold.eot'),
	url('../fonts/GothamPro/GothamProBold/GothamProBold.ttf');
	font-weight: bold;
} 