.overlay {
	@include stretch;
	position: fixed;
	display: none;
	background-color: rgba(#000, .8);
	cursor: pointer;
	z-index: 11;
}

.popup {
	@include cent;
	position: fixed;
	min-width: 320px;
	min-height: 200px;
	display: none;
	padding: 20px 40px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 0 100px #fff;
	z-index: 12;

	&__content {
		text-align: center;
		font-weight: bold;
	}
	
	&__close {
		@include close-icon
	}
}

.active {
	display: block;
}