@import 'normalize';
@import 'mixins';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';
@import 'slick';
@import 'slick-theme';
@import 'fonts';
@import 'vars';
@import 'popup';


* {
	box-sizing: border-box;
}

html, body {
	font-family: "GothamPro", sans-serif;	
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: #656ADC;
	}
}

p {
	line-height: 1.667;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}

section .wrapper{
	padding: 0 70px;
}

.section-title {
	position: relative;
	margin: 40px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	color: $secondary-color;

	&:after {
		content: "";
		@include centX;
		bottom: -5px;
		width: 30px;
		height: 3px;
		background-color: $secondary-color;
	}
}

$menu-height: 80px;

.b-menu {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #FFF;
	z-index: 200;
	height: $menu-height;
	overflow: hidden;

	.wrapper {
		display: flex;
		position: relative;
		align-items: center;	
		height: $menu-height;
	}
	
	&__logo {
		margin-right: 30px;
		svg {
			width: 70px;
			height: 50px;
		}
	}


	&__nav {
		margin-left: auto;

		a {
			text-transform: uppercase;
			font-size: 14px;
			color: $secondary-color;

			&:hover {
				text-decoration: underline;
				color: #656ADC;
			}

			&:not(:last-child) {
				margin-right: 25px;
			}
		}
	}
}

.b-company-title {
	margin: 0;
	font-size: 18px;
	color: $secondary-color;
}

.s-main-slider {
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 700px;

	&__item {
		@include stretch;
		opacity: 0;
		transition: all .8s;
		background-size: cover;
		background-repeat: no-repeat;

		&:nth-child(1) {
			background-image: url('../img/slider.jpg');
		}
		&:nth-child(2) {
			background-image: url('../img/slider2.jpg');
		}
		&:nth-child(3) {
			background-image: url('../img/slider3.jpg');
		}

		&.active {
			opacity: 1;
		}
	}
	

	&__btn-prev,
	&__btn-next {
		@include centY;
		background-color: transparent;
		width: 50px;
		height: 50px;
		border: 2px solid #fff;
		border-radius: 50%;
		z-index: 10;

		&:after {
			@include cent;
			color: #fff;
			font-family: $global-font-icon;
		}

		&:hover,
		&:focus {
			background-color: #fff;

			&:after {
				color: #000;
			}
		}
	}

	&__btn-prev {
		left: 15%;

		&:after {
			content: $icon-forw;
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	&__btn-next {
		right: 10%;

		&:after {
			content: $icon-forw;
		}
	}

	&__dots {
		@include centX;
		bottom: 30px;
		z-index: 10;

		&-item {
			display: inline-block;
			width: 10px;
			height: 10px;
			border: 1px solid #fff;
			border-radius: 50%;
			margin: 0 20px;
			cursor: pointer;
			background-color: #FFF;

			&.dot-active {
				background-color: #898989;
			}
		}
	}

}

.s-main {
	position: relative;
	margin-top: $menu-height;
	box-shadow: inset 0 0 1000px gold;

	&::before {
		content: '';
		display: block;
		@include stretch;
		z-index: 1;
		background: linear-gradient(0deg, rgba(#000, .5));
	}


	&__content {
		@include cent;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 60px;
		z-index: 10;

		&-title {
			margin: 0;
			font-size: 75px;
		}

		&-info {
			max-width: 400px;
			font-size: 14px;
			margin: 35px auto;
		}
	}
}

.btn-popup {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 15px 55px;
	text-transform: uppercase;
	border-radius: 99999px;
	background-color: $secondary-color;
	font-size: 14px;
}

.s-second-slider img {
	max-width: 300px;
	margin: 0 auto;
}

.s-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: $secondary-color;

	&-item {
		width: pxtopercent(300px, 1170px);

		&__title {
			margin: 0 0 40px 0;
			font-size: 18px;
		}
	}
}

.s-article {
	padding-bottom: 110px;
}

.b-article {
	max-width: 770px;
	margin: 0 auto;
	&__content {
		margin: 0;
	}

	&__title {
		font-size: 16px;
		margin: 0;
		padding: 40px 0;
		text-transform: uppercase;
	}
}

.b-menu__close {
	@include close-icon;
	top: 28px;
	display: none;
}

.b-menu-toggle {
	display: none;
	@include centY;
	left: 20px;
	width: 20px;
	height: 20px;
	background-color: red;
	border: none;
	box-shadow: inset 0 3px 0 $secondary-color,
	inset 0 8px 0 #fff,
	inset 0 11px 0 $secondary-color,
	inset 0 17px 0 #fff,
	inset 0 20px 0 $secondary-color;
}

.hidden {
	display: none;
}


@media only screen and (max-width : 940px) {

	.s-main {
		&__content-title {
			font-size: 45px;
		}

		&-slider {
			&__btn-prev {
				left: 0;
			}

			&____btn-next {
				right: 0;
			}
		}
	}

	section .wrapper {
		padding: 0px;
	}

	.slick-prev,
	.slick-next {
		top: 100%;
		transform: translateY(-100%);
	}
	.slick-prev {
		left: 40%;
	}
	.slick-next {
		right: 40%;
	}
	.s-second-slider {
		padding-bottom: 85px;
	}

	.s-content-item {
		width: 32%;
	}

	.b-article {
		max-width: 620px;
	}

	.b-article__content {
		font-size: 14px;
	}

	.section-title {
		padding: 40px 0 0 0;
		margin: 0 0 20px 0;

	}

	.b-article__title {
		padding: 35px 0;
	}

	.s-content__info {
		font-size: 14px;
	}

	.s-article {
		padding-bottom: 55px;
	}
}

@media only screen and (max-width : 640px) {

	.b-menu {
		position: absolute;
		top: 0;
		transition: height .4s;

		&-active {
			height: 1100px;

			.b-menu__close {
				display: inline-block;
			}

			.b-menu-toggle {
				display: none;
			}
		}

		&-toggle {
			display: inline-block;
		}
		
		.wrapper {
			flex-wrap: wrap;
			padding-top: 15px;
		}
	}

	.b-company-title{
		display: none;
	}

	.b-menu__nav {
		width: 100%;
		margin-top: 80px;
		a {
			display: block;
			text-align: center;

			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
	}
	.b-menu__logo {
		display: inline-block;
		margin: 0 auto;
	}

	.s-main__content {
		width: 100%;
		padding: 0 20px;
		top: 40%;

		&-title {
			font-size: 25px;
		}

		&-info {
			font-size: 12px;
		}
	}

	.s-main-slider__btn-prev, 
	.s-main-slider__btn-next {
		display: none;
	}

	.s-second-slider img {
		display: block;
		width: 100%;
	}
	.slick-next {
		right: 60px;
	}
	.slick-prev {
		left: 60px;
	}

	.s-content {
		justify-content: center;
	}
	.s-content-item {
		width: 95%;
	}
	.b-article {
		width: 90%;
	}
}

@media only screen and (max-width : 320px) {
	.s-main-slider {
		height: 460px;
	}

	.b-menu-active {
		height: 890px;
	}
}