// _iconfont__variables.scss

$icon-email: "\EA01" !default;

$icon-facebook: "\EA02" !default;

$icon-lock: "\EA03" !default;

$icon-next: "\EA04" !default;

$icon-twitter: "\EA05" !default;