@import 'normalize';
@import 'icons/iconfont__variables';
@import 'icons/iconfont__icons';
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'placeholders';

* {
	box-sizing: border-box;
}
html {
	font-size: 10px;
}

body {
	@include Cabin(16px);
}

a {
	text-decoration: none;
	color: inherit;
}

label {
	cursor: pointer;
}

.b-title-main,
%b-title-main {
	@extend %title;
	color: #fff;
	text-transform: uppercase;
}

.wrap {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 4.5rem 0;
}

.row {
	display: flex;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	&--m {
		transform: translateY(-7%);
	}
}

.b-footer {
	background-color: rgb(242, 245, 248);
	margin-bottom: 2rem;

	&-special {
		margin-top: 2rem;
		color: #fff;
		background-color: $b-footer-green;
	}

	&__social {	
		list-style-type: none;
		color: $footer-dark-color;
		margin: 0;
		padding-left: 0;
		
		li {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 4rem;
			}
		}

		.icon {
			padding: 0 .7rem;
		}

		&--secondary {
			li:not(:last-child) { margin-right: 2rem; }
		}
	}

	&__form {
		padding: 2rem;
		border-radius: 6px;
		background-color: rgb(242, 245, 248);
	}

	&__nav-secondary {
		width: 100%;
		margin-top: 7rem;
		text-align: center;

		a {

			text-transform: uppercase;
			font-size: 14px;

			&:not(:last-child) { margin-right: pxtopercent(60); }

		}
	}

	&__social-icons {
		display: flex;
		justify-content: space-between;
		align-self: center;
		width: pxtopercent(100);
		margin: 0 auto 0 pxtopercent(30);
		padding-left: 0;
		list-style-type: none;
		color: #000;

		.icon {
			padding: 0 .7rem;
		}
	}

	&__nav {
		align-self: center;
		a:not(:last-child) { margin-right: 2rem;}

		&--top {
			margin-left: pxtopercent(50);
		}
	}

	&__section {
		width: pxtopercent(250);
	}

	&__title-primary {
		margin: 1.5rem 0 0 0;
		font-size: 50px;
		text-transform: capitalize;
	}

	&__copyright {
		margin: 3.5rem 0 0 0;
		color: #92d5cc;
	}

	&__copy {
		color: $footer-dark-color;

		&--right {
			margin: 0 2.5rem 0 auto;
		}
	}

}


.b-contacts {
	display: flex;
	flex-direction: column;
	width: pxtopercent(200);

	&__title {
		@extend %title;
	}

	&__item {
		margin: 0;
		color: $font-dark;

		&--special {margin: 3rem 0;}
	}
}

.b-content {
	width: pxtopercent(550);
	padding-right: pxtopercent(70, 550);

	&__title {
		margin: 0 0 2rem 0;
	}

	&__followers {

		.icon {
			margin-right: .7rem;
			padding: .3rem .8rem .6rem 1.1rem;
			border-radius: 5px;
			color: #fff;
			font-size: 14px;

			&:before {
				display: inline-block;
				margin-right: 1.2rem;
				font-size: 11px;
			}

			&--fb {
				background-color: $fb-bg;
				&:before {
					font-size: 12px;
					margin-right: .8rem;
				}
			}

			&--tw {
				background-color: $twitter-bg;
			}

			&--logo {
				background-color: $logo-bg;
				&:before {
					font-size: 12px;
				}
			}

			&--link {
				background-color: $linkedin-bg;
			}

		}

	}

	&__link {
		color: $content-link-color;
		margin-right: pxtopercent(60);
	}

	&--special {margin: 4rem 0;}

}

.b-list {
	margin-top: 0;
	padding: 0;
	list-style-type: none;

	&__main-title {
		@extend %b-title-main;
	}

	&--secondary {

		li:not(:first-child) {
			margin: 2rem 0;
			color: $footer-dark-color;
		}
	}

	&--primary {
		li:not(:first-child) {
			margin: 1rem 0;
			color: $font-dark;
		}
	}

	&__title {
		color: $content-link-color;
	}
}

.b-copyright {

	&__title {
		margin: 1rem 0;
	}

	&__link {
		display: block;
		color: $font-dark;
		margin-bottom: 1rem;
	}
}


.b-info {

	width: pxtopercent(280);

	&__title {
		@extend %title;
	}

	&__content {
		line-height: 1.375;
		margin: 0;
		color: $font-dark;
	}
}

.b-app {

	&__title {
		@extend %title;
	}

	&__link {
		display: block;
		color: $content-link-color;
		text-align: center;
	}

}

.b-btn {
	border: none;
	border-radius: 5px;
	color: #fff;
	transition: all .3s;

	&:hover { box-shadow: 15px 2px 20px rgba(#000, .6); }

	&:active { box-shadow: 0 0 0 rgba(#000, .6); }

	&--app {
		padding: 1.5rem 4rem;
		background-color: $btn-app-color;
	}

	&--subscribe {
		padding: 1.5rem 5rem;
		background-color: $subscribe-icon-color;
	}
	
	&--next {
		position: relative;
		width: 36px;
		height: 36px;
		background-color: $btn-next-color;
		font-size: 10px;
	}

	&--sign {
		padding: 1.3rem 4rem;
		background-color: $subscribe-icon-color;
	}
}


.b-subscribe-form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 3.5rem 0;
	background-color: $subscribe-form-bg;
	color: #fff;
}

.b-inp {
	position: relative;

	input {
		border: none;
		border-radius: 5px;

		&:focus {
			&::placeholder {
				color: #000;
			}
		}		
	}

	&--iconed {
		margin: 0 2rem;

		input {
			width: 32.5rem;
			height: 5rem;
			padding-left: 40px;
			color: #000;
		}

		.icon {
			@include centY;
			left: 20px;
			color: $subscribe-icon-color;
		}
	}

	&--multiple {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2rem;

		input {
			@include calc(width, "100% - 4.6rem");
			padding: 0 2rem;
			background-color: rgba(#ccc, .4);
			color: #fff;
		}
	}

	&--multiple-classic {

		input {
			background-color: #fff;
			color: #000;
		}
	}
}

.input {
	margin-right: 1rem;
	padding-left: 2rem;
	border: 2px solid rgb(198, 204, 210);
	border-radius: 5px;
	width: 22rem;
	height: 4.5rem;
	color: #000;

	&:focus {
		&::placeholder {
			color: #000;
		}
	}		
}

.b-map {
	width: 30rem; 
	height: 19rem;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.b-mail-link {
	margin-top: auto;
	align-self: flex-start;
	padding: 1.3rem 2.3rem;
	background-color: $content-link-color;
	border-radius: 6px;
	color: #fff;
}

.b-footer-secondary {
	margin-top: 2rem;
	background-color: $footer-dark-bg;
	color: #fff;
}

.b-social {
	list-style-type: none;
	padding-left: 0;
	margin: 2rem 0;

	li {
		display: inline-block;
		
		
	}

	&--rounded {
		a {	border-radius: 50%;}
		li:not(:last-child) { margin-right: 2rem; }
	}

	&--squared {
		a {	border-radius: 5px;}
		li:not(:last-child) { margin-right: 1rem; }
	}

	&__link {
		position: relative;
		display: inline-block;
		width: 36px;
		height: 36px;
		color: #fff;

		&--fb {
			background-color: $fb-bg;
		}

		&--tw {
			background-color: $twitter-bg;
		}

		&--logo {
			background-color: $logo-bg;
		}

		&--vimeo {
			background-color: $vimeo-bg;
		}

		&--gplus {
			background-color: $gplus-bg; 		
		}
	}

	.icon {
		@include cent;
	}
}


.b-footer-bg {
	position: relative;
	margin-top: 2rem;
	background: url("../img/footer-bg.jpg") no-repeat center;
	background-size: cover;
}

.b-title {
	@extend %title;
	color: #fff;
	font-size: 18px;
	margin-bottom: 2rem;

	&--sign {
		margin-top: 5.5rem;
		text-transform: capitalize;
	}

}

.b-subscribe {
	margin-top: 5rem;

	&__title {
		@extend %b-title-main;
	}

	&__content {
		color: $footer-dark-color;
	}
}


.b-new {
	margin-left: 1rem;
	padding: .5rem 1rem;
	border-radius: 5px;
	color: #000;
	text-transform: uppercase;
	background-color: $b-new-color;
}

