// _iconfont__variables.scss

$icon-fb: "\EA01" !default;

$icon-gplus: "\EA02" !default;

$icon-link: "\EA03" !default;

$icon-logo: "\EA04" !default;

$icon-mail: "\EA05" !default;

$icon-next: "\EA06" !default;

$icon-tw: "\EA07" !default;

$icon-vimeo: "\EA08" !default;