@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
}

body {
  display: flex;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

html {
  font-size: 10px;
  font-family: 'OpenSans';
}