@media only screen and (max-width : 1041px) {
	%w100,
	.section-title,
	.btn-box,
	.main__content {
		width: 100%;
	}

	.header {
		padding: 0 2rem;
		

		.btn-box {
			width: auto;
		}
	}	
	
	.form-main {
		width: 80%;

		&__social {
			&-btn {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}
	.container {
		padding: 0 2rem;
	}

	.main {
		.container {
			justify-content: center;
		}

		&__content {
			
			&--left {
				max-width: 100%;
				padding-bottom: 4rem;
				justify-content: flex-start;
			}

			&--right {
				display: flex;
				padding-bottom: 9rem;
				flex-direction: column;
				align-items: center;
			}
		}

		&__assets {
			margin-top: 4rem;
		}

		&__exchange {
			padding: 0;
			margin-bottom: 1rem;
		}
	}
	
	.advantage {
		margin-bottom: 2rem;
		&-section {
			.container {
				flex-wrap: wrap;
			}
		}
	}

	.profit-column {
		padding: 0 .5rem;
	}
}

@media only screen and (max-width : 768px) {
	%w-100,
	.profit-column,
	.form {
		width: 100%;
	}

	.container--flex {
		flex-wrap: wrap;
	}

	.contract {
		flex-wrap: wrap;
		
		&-section {
			.container {
				padding: 0;
			}
		}
		&__info,
		&__code {
			@extend %w-100;
		}

		&__info {
			text-align: center;
			&:before {
				display: none;
			}
		}
	}

	.gistogram {
		padding-bottom: 2rem;
		width: 100%;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			height: 5px;
			width: 20%;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 2px;
			box-shadow: inset 100px 0 0  $special-color;
		}

	}

	.emision {
		@extend %w-100;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
		&-box {
			flex-wrap: wrap;
		}
	}

	.graph {
		&-wrapper {
			flex-wrap: wrap;
		}

		&-info {
			@extend %w-100;
			order: 2;
		}
	}

	.team {
		&-section {
			.section-title {
				margin: 0;
			}
		}
	}

	.media {
		justify-content: center;
		&__info {
			@extend %w-100;
		}

		&__img-inline {
			margin: 0 auto;
		}
	}

	.section {
		padding: 2rem 0;
	}

	.container--md {
		@extend %w-100;
	}

	.form {
		margin: 0 auto;
	}

	.profit h3 {
		text-align: center;
	}

	.profit-section {
		.container--flex {
			justify-content: center;
		}
	}

	.private__block,
	.step {
		width: 100%;
	}

	.step {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

@media only screen and (max-width : 767px) {
	.popup {
		overflow-y: scroll;
	}
	.popup-content {
		top: 0;
		left: 0;
		transform: none;
	}

	.popup__close {
		top: 1rem;
		right: 1rem;
	}

	.form-main {
		width: 100%;
		max-width: 100%;
		padding: 2rem 10%;
	}
	.mobile-btn {
		display: flex;
	}
	.logo {
		margin-top: 5px;
	}
	.header {
		&__nav {
			display: none;
		}
	}

	.contract {
		&__code {
			.gist {
				max-height: 13rem;
			}
		}
	}

	.advantage {
		&__bg-text {
			font-size: 11rem;
		}
	}

	.footer {
		.container {
			justify-content: center;
		}

		&__nav {
			margin: 0;
		}
	}
}

@media only screen and (max-width : 568px) {
	.btn-play {
		display: none;
	}

	.link-play {
		display: block;
	}

	.header {
		flex-wrap: wrap;
		justify-content: space-between;
		.btn-box {
			width: 100%;
			margin-top: 2rem;
			display: flex;
			justify-content: space-around;
			order: 2;

			&--light {
				justify-content: flex-end;
			}
		}
	}

	.main {
		&__content {

		}
		&-price {
			margin-top: 4rem;
			padding-left: 0;
		}

		&__info {
			text-align: center;

			&-text {
				text-align: left;
			}
		}
	}

	.advantage {
		&__bg-text {
			font-size: 20vh;
		}
	}

	.diagram {
		width: 100%;
		min-width: auto;
	}

	.user__label,
	.user-data {
		width: 100%;
	}

	.user {
		&__label {
			margin-bottom: .5rem;
		}

		&-history {
			&__column {
				width: 50%;
				margin-bottom: 1rem;
			}
		}
	}
}

@media only screen and (max-width : 440px) {
	.container {
		padding: 0 1rem;
	}
	.main-price,
	.graph-info__item,
	.discont-table,
	.contact {
		width: 100%;
	}

	.profit-column {
		padding: 0;
	}

	.diagram {
		padding: 1rem;
	}
	
	.referal {
		&__item {
			width: 45%;
		}
	}

	.team-member {
		padding: 1rem 1rem 3rem 1rem;
	}

	.contact__block {
		a {
			display: block;
		}
	}

	.section-title {
		font-size: 2.7rem;
	}

	.media__img-inline {
		max-width: 100%;
		height: auto;
	}

	.media__img-col.hands {
		height: 8rem;
	}

}
@media only screen and (max-width : 375px) {

	.main-subscribe__btn {
		padding: 1rem 2rem;
	}

	.main-price {
		width: 100%;
	}

	.main__info-title {
		font-size: 3rem;
	}

	.faq__title {
		font-size: 1.6rem;
	}

	.diagram {
		padding-top: 5rem;
		height: 25rem;
	}

	.referal__item {
		width: 100%;
	}

	.form {
		padding: 2rem 1rem;
	}

	.advantage__bg-text {
		font-size: 6.5rem;
	}

	.section-text,
	.profit__text {
		font-size: 1.4rem;
	}

	.emision {
		padding: 2rem 1rem;

		&-text,
		&-container {
			padding: 0;
		}

	}

	.contract {
		&__info {
			padding: 1rem;
		}
	}

	.user-history__column {
		width: 100%;
	}
}