@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';
@import 'fonts';
@import 'base';
@import 'placeholders';

.container {
	max-width: 115rem;
	margin: 0 auto;

	&--flex{ 
		display: flex;
		justify-content: space-between;

		&-center {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
		}
	}

	&--md {
		align-items: space-between;
		width: calc(50% - 1rem);
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 120rem;
	margin: 0 auto;
	padding: 1rem 0;

	&__nav {
		margin: 0 auto 0 2rem;
		font-family: 'Futura';
		color: $main-color;
		font-size: 14px;

		&-link {
			transition: color .2s;
			&:not(:last-child) {
				margin-right: 1rem;
			}

			&:hover {
				color: #fff;
			}
		}
	}

	&__btn {
		color: #fff;
		transition: color .2s;
		&:hover {
			color: $main-color;
		}
	}
}

.main {
	font-size: 14px;
	padding: 3.5rem 0 0 0;
	&-section {
		background: url("../img/background.png") no-repeat;
		background-size: cover;
	}
	
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	&-special {
		padding: 0 .5rem;
		color: $main-color;
	}
	
	&__content {
		width: 50%;
		position: relative;
		padding-bottom: 7.5rem;
		&-title {
			font-family: "Futura";
			margin: 4.5rem 0 3.5rem 0;
			font-size: 36px;
			font-weight: normal;
			color: #fff;
		}

		&--left {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 59rem;
		}

		&--right {
			padding-left: 4%;
		}
	}

	&-price {
		position: relative;
		display: flex;
		width: 50%;
		padding-left: 10%;
		color: #fff;

		p {
			color: #fff;
		}

		&__title {
			margin: 0 0 1.3rem 0;
			font-size: 18px;
			font-weight: 500;
			color: #fff;
			text-transform: uppercase;
		}

		p {
			margin: 0 0 1rem 0;
			font-family: "Raleway";
		}

		&__link {
			margin: 0 0 1rem 0;
		}

		&__percent {
			margin-left: 1.8rem;
			font-size: 18px;
		}

		&__time {
			padding: 0;
		}

	}

	&__progress {
		margin-top: 3.5rem;
		&-heart {
			width: 6.5rem;
			height: 6.5rem;
		}
	}

	&__assets {
		width: 100%;
		margin-top: 7rem;
		color: #fff;

		&-item {
			svg {
				margin-right: 1rem;
			}
			&:not(:last-child) {
				margin-right: 2.4rem;
			}

			&:hover {
				color: $main-color;
			}
		}
	}

	&-subscribe {
		&__label {
			display: block;
			padding-left: 2.5rem;
			margin-bottom: 2rem;
			cursor: pointer;
			color: rgb(143, 143, 143);
		}

		&__item {
			display: flex;
			font-size: 15px;
		}

		&__input {
			width: 100%;
			max-width: 32rem;
			padding: 1rem 3rem;
			color: #fff;
			background-color: rgba($main-color, .1);
			border: 0;

			&::placeholder {
				color: #fff;
				transition: color .3s;
			}

			&:focus {
				&::placeholder {
					color: $main-color;
				}
			}
		}

		&__btn {
			padding: 1rem 5rem;
			text-transform: uppercase;
			color: #fff;
			background-color: $main-color;
			border: none;

			&:hover {
				box-shadow: 0 0 20px 2px $main-color;
			}
		}
	}

	&__exchange {
		display: inline-block;
		padding: 0 1rem;
		text-align: center;
		&:not(:last-child) {
			margin-right: 2rem;
		}
		&-wrap {
			position: relative;
			padding: 3rem 0;
			background-color: $main-color;
		}
		&-btn {
			position: absolute;
			width: 5rem;
			height: 5rem;
			font-size: 2.5rem;
			border: none;
			color: #fff;
			background-color: $main-color;
			right: 0;
			top: 0;
			transform:translateY(-100%);
		}
		&-container{
			display: flex;
		}

		&-title {
			margin: 0;
			color: #fff;
		}
		
		&-rate {
			margin-top: 1rem;
			font-family: "OpenSans";
			font-size: 16px;
			color: #000;
			font-weight: bold;
		}
	}

	&-link {
		display: inline-block;
		color: $main-color;
		text-decoration: underline;

		&:hover {
			color: #fff;
		}
	}
}

.timer {
	margin: 0 0 1rem 0;
	display: flex;

	&-container {
		display: flex;
		flex-wrap: wrap;
		max-width: 28.4rem;

		.main-link {
			margin-left: auto;
		}
	}

	&-title {
		margin: 0 0 1.5rem 0;
		font-family: "Futura";
		font-weight: normal;
		font-size: 18px;
		color: rgb(255, 255, 255);
	}

	&__item {
		display: inline-block;
		text-align: center;
		&:not(:last-child) {
			margin-right: 1.5rem;
		}

		&-number {
			display: inline-block;
			min-width: 6rem;
			min-height: 6rem;
			color: $main-color;
			border: 1px solid rgba($main-color, .4);
			font-size: 4.5rem;
			font-weight: bold;
			line-height: 6rem;
		}

		&-caption {
			padding-top: .5rem;
			color: $font-dark;
		}
	}

	&-total {
		display: flex;
		justify-content: space-between;
		font-weight: 500;
		color: $font-second;
		font-family: "Futura";
	}

}

.popup {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#000, .7);
	z-index: 10000;

	&-content {
		display: none;
		@include cent;
		iframe {
			width: 560px;
			height: 315px;
		}
	}

	&__close {
		position: absolute;
		top: -1rem;
		right: -5rem;
		width: 4rem;
		height: 4rem;
		border: none;
		background-color: transparent;
		transition: all .3s;
		cursor: pointer;
		&:hover {
			transform: scale(1.3);
		}

		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			height: 50%;
			width: 5px;
			background-color: $main-color;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

%play {
	@include cent;
	border-radius: 50%;
	background-color: #fff;
	color: $main-color;
	font-size: 2rem;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%, -50%);
	}
}

.btn-play {
	@extend %play;
	width: 5.5rem;
	height: 5.5rem;
	font-size: 2rem;
	border: none;
	box-shadow: 
	0 0 0 20px $main-color,
	0 0 0 40px rgba($main-color, .6),
	0 0 0 60px rgba($main-color, .4);
	
	&:focus {
		outline: none;
	}
	&:hover {
		animation: boxShadow 1.5s infinite;
		animation-direction: alternate-reverse;
	}
}	

.link-play {
	display: none;
	@extend %play;
	width: 4rem;
	height: 4rem;
	font-size: 1.8rem;
	box-shadow: 
	0 0 0 15px $main-color,
	0 0 0 25px rgba($main-color, .6),
	0 0 0 35px rgba($main-color, .4);
}

.mobile-btn {
	position: relative;
	display: none;
	align-items: center;
	border: none;
	background-color: transparent;
	font-size: 18px;
	line-height: 1;
	color: #fff;
	z-index: 10;
	&__sandwich {
		display: inline-block;
		margin-right: 1rem;

		span {
			display: block;
			width: 35px;
			height: 5px;
			background-color: $main-color;
			border-radius: 9000rem;
			margin: 6px 0;
			transition: 0.4s;
		}
	}

	&__middle {
		margin: 4px 0;
		transition-delay: 0.1s; 
	}

	&.active {
		.mobile-btn__topper {
			transform: rotate(-45deg) translate(-9px, 6px);
		}
		.mobile-btn__middle {
			transform: rotate(180deg);
			opacity: 0;
		}
		.mobile-btn__footer {
			transform: rotate(45deg) translate(-9px, -7px);
		}
	}
}

.diagram {
	position: relative;
	width: 100%;
	min-width: 50rem;
	height: 32rem;
	padding: 6rem 2.8rem 2rem 2.8rem;
	background-color: #000;

	&__list {
		position: absolute;
		top: 1rem;
		left: 2.8rem;
		&-item {
			margin-bottom: 1rem;
		}
	}

	&__image {
		display: none;
		width: 100%;
		height: 100%;
		&.is-active {
			display: inline-block;
		}
	}
}

.profit {
	margin-bottom: 4rem;
	color: rgb(66, 66, 66);
	font-size: 16px;
	
	&-column {
		width: 50%;
		max-width: 50rem;
	}
	&__title {
		font-family: "Futura";
	}

	&__text {
		line-height: 1.438;
	}
}

%shadow {
	background-color: #fff;
	box-shadow: 0px 0px 79px 0px rgba(79, 79, 79, 0.43);
}

.advantage {
	position: relative;
	max-width: 27rem;
	padding: 2.8rem 2.5rem 4rem 2.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.4rem;
	@extend %shadow;
	
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: .5rem;
		background-color: #ccc;
	}
	&-section {
		position: relative;
		padding: 7rem 0 5rem 0;
		background-color: #fafafa;
		z-index: 2;
		.container {
			display: flex;
			justify-content: space-around;
		}
	}
	
	&__img {
		max-width: 5rem;
		margin-bottom: 1rem;
	}
	&__text {
		width: 100%;
		word-wrap: break-word;
		margin: 1rem 0 0 0;
		font-size: 1.3rem;
		&:nth-child(even) {
			color: $special-color;
			font-weight: bold;
			font-size: 1.4rem;
		}
	}

	&__bg-text {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 50%;
		text-align: center;
		font-size: 150px;
		font-family: "OpenSans";
		line-height: .7;
		color: rgba(242, 242, 242, 0.169);
		font-weight: bold;
		background-color: $special-color;
		z-index: -1;
	}
}

.emision {
	position: relative;
	width: calc(50% - 1rem);
	padding: 5rem 3rem;
	@extend %shadow;

	&-box {
		display: flex;
		justify-content: space-between;
	}

	&-title {
		margin: 0 0 2rem 0;
		font-size: 30px;
		line-height: 1.2;
		text-align: center;
		text-shadow: 0 0 5px $main-color;
		font-weight: 500;
	}

	&-text {
		margin: 0 0 7rem 0;
		padding: 0 pxtopercent(75);
		line-height: 1.5;
		text-align: center;
		font-weight: 500;
	}

	&__title {
		position: relative;
		margin: 0 0 5rem 0;
		color: $special-color;
		text-transform: uppercase;
		transition: color .2s;
		z-index: 2;
	}
	
	&__info {
		margin-bottom: 3rem;
	}

	&__text {
		margin: 0 0 .5rem 0;
		font-weight: 500;

		span {
			margin-right: 1rem;
		}
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: .5rem;
		background-color: $special-color;
		z-index: 1;
		transition: height .2s;
	}

	&:hover {
		&:after {
			height: 8rem;
		}

		.emision__title {
			color: #fff;
		}
	}
}

.graph {
	position: relative;
	$w: 27rem;
	width: $w;
	height: $w;

	&__img:not(.img-main) {
		position: absolute;
		opacity: 0;
		top: 0;
		left: 0;

		&:after {
			content: attr(data-percent);
			@include cent;
			font-weight: bold;
		}


	}
	
	&-section {
		background-image: linear-gradient( 0deg, #18346C 0%,
			rgba(48,107,223,0) 100%);
		color: #fff;
	}

	&-wrapper,
	&-info {
		display: flex;
	}
	&-wrapper {
		justify-content: space-around;

		&:not(:last-child) {
			margin-bottom: 7rem;
		}
	}
	&-info {
		flex-wrap: wrap;
		width: calc(80% - #{$w});

		&__title {
			width: 100%;
			font-weight: 500;
		}

		&__item {
			width: 50%;
			cursor: pointer;

			span {
				display: inline-block;
				min-width: 7rem;
				font-size: 2.8rem;
			}

			&:hover {
				color: $special-color;
			}
		}
	}
}

.contract {
	display: flex;

	&-section {
		background-color: $bg-color;	
	}
	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 45%;
		padding: 1rem 5rem 1rem 1rem;
		background-color: #fff;
		&-title {
			width: 100%;
			font-size: 24px;
			font-family: "Open Sans";
			color: $bg-color;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 1000rem;
			transform: translateX(-100%);
			background-color: #fff;
		}
	}

	&__code {
		position: relative;
		width: 55%;
		color: #fff;
		padding: 5rem 0 0 0;
		background-color: #161616;


		.gist{
			max-height: 70rem;
			@include scrollbar(5px, $special-color);

			.gist-file {
				border: none;
			}
			table {
				background: $bg-color;
				border: none;
				width: 100%;
				color: #fff;

			}
			.blob-code-inner {
				color: #fff;
				white-space: break-word;
			}
		}
	}
}

.gistogram { 
	display: flex;
	font-size: 12px;
	font-weight: 500;
	align-items: flex-end;
	color: $main-color;

	&-column {
		&:not(:last-child) {
			margin-right: 2rem;
		}

		&:hover {
			.gistogram__progress {
				background-color: #fff;
			}
		}
	}

	&__item {
		margin-top: .75rem;
	}

	&__title {
		color: $text-dark;
	}

	&__progress {
		width: 100px;
		background-color: $main-color;
	}
}

.discont {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	&-section {
		position: relative;
		color: #fff;

		&:before {
			content: "%";
			@include centY;
			left: -10rem;
			color: rgba(#fff, .1);
			font-size: 2000%;
		}
	}
	
	&-info {
		color: #fff;
		max-width: 50rem;
		
		&__title {
			font-size: 2.4rem;
			font-family: "Raleway";
		}

		p {
			font-size: 15px;
			color: rgb(232, 232, 232);
			line-height: 1.533;
		}
	}


	&-table {
		font-size: 1.2rem;
		width: 44rem;

		&__item {
			display: flex;
			padding: 1rem 0;
			text-transform: uppercase;
			&:not(:last-child) {
				border-bottom: 1px solid $text-dark;
			}
		}

		&__title {
			width: 40%;
		}

		&__column {
			display: inline-block;
			min-width: 40px;
			text-align: center;
			margin-left: auto;
		}

		&__head {
			color: $special-color;
			text-transform: uppercase;
		}

	}
	&__label {
		color: $text-dark;
	}
}

.referal {
	display: flex;
	width: 100%;
	margin: 4rem 0;
	flex-wrap: wrap;
	justify-content: space-around;
	&__item {
		width: 30%;
		display: inline-block;
		padding: 3rem 0;
		margin-top: 2rem;
		background-color: $special-color;
		text-align: center;
		font-family: "Futura";
		font-weight: bold;

		&:hover {
			background-image: url('../img/family.png');
			color: $special-color;
		}
	}
}

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&-member {
		position: relative;
		@extend %shadow;
		width: 16rem;
		margin: 9rem 2rem 0 2rem;
		padding: 0 3rem 1.5rem 3rem;
		text-align: center;
		font-family: "Raleway";
		z-index: 2;
		
		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: .5rem;
			background-color: #ccc;
		}

		&:hover {
			&:after {
				background-color: $special-color;
			}
		}
		&__photo {
			position: relative;
			width: 10rem;
			height: 10rem;
			margin-bottom: -4rem;
			border-radius: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
		&__name {
			font-weight: bold;
		}

		&__position {
			margin: .5rem 0 1.5rem 0;
			font-size: 1.2rem;
			font-style: italic;
		}
	}

	&__social {
		a {
			padding: 0 .25rem;
			&:hover {
				color: $special-color;
			}
		}
	}
}

.media {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	background-color: #fff;
	
	&--stretch {
		height: calc(100% - 2rem);
	}
	&__info {
		padding: 2.5rem 6rem 2.5rem 2.5rem;

		&--md {
			width: 60%;
		}
	}
	&__title {
		margin: 0 0 3rem 0;
		font-family: "Futura";
		color: $special-color;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 1.8rem;
	}
	
	&__img {
		&-inline {
			max-width: 42rem;
			max-height: 100%;
			margin-left: auto;
			display: inline-block;
		}

		&-col {
			width: 100%;
			margin-top: 2rem;
			align-self: flex-end;
			&.hands {
				height: 12rem;
			}
		}
	}
	p {
		margin: 0 0 2rem 0;
		font-size: 1.4rem;
		line-height: 1.2;
	}
}

.faq {
	width: 100%;
	max-width: 82rem;
	margin: 0 auto;
	text-align: center;
	&__title {
		position: relative;
		margin: 1rem 0;
		padding: 1rem 2rem 1rem 0;
		&.is-active {
			border-top: 2px solid #575CBB;
			color: #575CBB;
		}

		svg {
			@include centY;
			right: 0;

		}
	}
	p {
		color: #fff;
	}
}

.form {
	background: url("../img/main-bg.jpg") center no-repeat;
	background-size: cover;
	max-width: 66rem;
	width: 50%;
	padding: 4rem;
	font-family: "Futura";
	color: #fff;
	@include clearfix;

	&__title {
		margin: 0 0 2.5rem 0;
		font-size: 18px;
		font-family: "Raleway";
	}

	&__item {

		margin-bottom: 2rem;
		label {
			display: block;
			margin-bottom: 1rem;
			cursor: pointer;
		}

		input {
			width: 100%;
		}

		input,textarea {
			border: none;
			padding: 1rem;
			border-top: 2px solid #fff;
			background-color: rgba(17, 17, 17, .2);

			&:focus {
				outline: none;
				border-top-color: $main-color;
			}
		}

		textarea {
			width: 100%;
			height: 13rem;
		}

		&-multiple {
			display: flex;
			justify-content: space-between;

			.form__item {
				width: calc(50% - 1rem);
			}
		}
	}

	&__btn {
		border: 2px solid #fff;
		padding: .5rem 4.5rem;
		background-color: transparent;
		float: right;

		&:hover {
			text-shadow: 0 0 2px #fff;
			box-shadow: 0 0 10px #fff;
		}
	}
}

.contact {
	display: inline-block;
	width: 50%;
	color: #fff;
	padding: 4rem;
	&-section {
		background-color: #0B162D;
	}

	&-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		padding-left: 5rem;
		font-size: 1.4rem;
		margin-bottom: 2rem;

		a {
			display: inline-block;
			line-height: 1.5rem;
			transition: color .3s;
			&:not(:last-child) {
				margin-bottom: .5rem;
			}

			&:hover {
				color: $main-color;

				& ~ svg {
					color: $main-color;
				}
			}
		}
		svg {
			position: absolute;
			top: 0;
			left: 0;
			transition: color .3s;
		}
	}

	&__title {
		margin: 0 0 4rem 0; 
		font-size: 1.8rem;
	}
}

.footer {
	font-size: 1.4rem;
	font-family: "Futura";
	.container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__copy {
		width: 100%;
	}
	
	&__nav {
		margin-left: 15%;

		&-link {
			&:not(:last-child) {
				margin-right: 2rem;
			}

			&:hover {
				text-shadow: 0 0 10px $main-color;
			}
		}
	}
	&__link {
		display: inline-block;
		margin: 2rem;
		padding: .5rem 3rem;
		background-color: $main-color;
		font-weight: bold;
		border-radius: 4px;

		&:hover {
			box-shadow: 0 0 10px $main-color;
		}
	}

	&__copy {
		padding: 1rem;
		margin: 0 auto;
		color: $font-second;
		text-align: center;
	}
}

%item-form {
	border: none;
	background-color: rgba($main-color, .1);
}

.form-main {
	max-width: 65rem;
	margin: 0 auto;
	padding: 4rem 8rem;
	background-color: #fff;
	border-top: 3px solid $special-color;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 500;
	font-family: "Raleway";

	&__title,
	&__input,
	&__social {
		color: $special-color;
	}

	&__title {
		margin: 0 0 4rem 0;
		font-size: 1.8rem;
	}
	&__label {
		display: block;
		margin-bottom: .5rem;
		color: $text-dark;
		cursor: pointer;
	}
	
	$bgc : rgba($main-color, .1);

	&__input {
		width: 100%;
		text-align: center;
		padding: 1rem;
		margin-bottom: 1rem;
		border-top: 2px solid $main-color;
		@extend %item-form;
	}
	&__text {
		margin: 2rem 0;
		font-size: 1.2rem;
	}

	&__social {
		margin: 1rem 0;

		&-btn {
			display: inline-block;
			position: relative;
			min-width: 14.5rem;
			padding: 1.5rem 3rem 1.5rem 5rem;
			@extend %item-form;

			&:not(:last-child) {
				margin-right: .5rem;
			}
			svg {
				@include centY;
				left: 2.5rem;
				font-size: 1.8rem;
			}

			&:hover {
				background-color: $special-color;
				color: #fff;
			}
		}
	}

	&__btn {
		margin-top: 3rem;
		padding: 1rem 5rem;
		font-family: "Roboto";
	}
}

.slider {
	&-caption {
		font-family: "Futura";
		text-transform: uppercase;
		line-height: 1.2;
	}

	.ui {
		&-slider {
			position: relative;
			width: 100%;
			margin: 1rem 0;
			font-family: 'Open Sans';
			font-weight: bold;

			$handle-w: 7rem;

			&-handle {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translate(-50%, -35%);
				width: $handle-w;
				height: 3rem;
				line-height: 3rem;
				background: $main-color;
				text-align: center;
				cursor: pointer;
				z-index: 2;
				color: #Fff;
				box-shadow:  0 0 10px 1px $main-color;

				&:focus {
					outline: none;
				}
			}

			&-horizontal {
				height: 1rem;
			}

			&-helper {
				position: relative;
				width: calc(100% - #{$handle-w});
				margin: 0 auto; 
			}
		}

		&-widget-content {
			background-color: rgba(#000, .075); 
		}

		&-widget-header {
			top: 0px;
			height: 100%;
			background-color: #1380B7; 
		}

		&-corner-all {
			border-radius: 10000rem;
		}
	} 
}

.special {
	color: $special-color;
}

.mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	padding: 0;
	z-index: 2;
	font-family: "Futura";
	background-color: rgba(#000, .8);

	&__link {
		display: block;
		padding: 1rem 0;
		text-align: center;
		font-size: 2rem;
		color: #fff;

		&:hover {
			background-color: rgba($main-color, .7);
		}
	}

	&.active {
		display: flex;
	}
}
@keyframes boxShadow {
	0% {
		box-shadow: 0 0 0 0 $main-color;
	}
	100% {
		box-shadow: 0 0 0 20px $main-color,
		0 0 0 40px rgba($main-color, .6),
		0 0 0 60px rgba($main-color, .4);
	}
}
@import 'private';
@import 'media';