@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

* {
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  color: #616161;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}
