@font-face {
	font-family: 'Shadows Into Light', cursive;
	src : url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
}

@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

html, body, input, button {
	font-family: 'Shadows Into Light', cursive;
}
body {
	padding: 0;
	background-color: #F5F5F5;
}
* {
	box-sizing: border-box;
}

$main-color: #40C2F3;
$btn-width: 100px;
$h: 50px;

.todo-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: #FFF;

	&__input {
		width: calc(100% - #{$btn-width} - 20px);
		height: $h;
		padding: 0 10px;
		font-size: 20px;
		border-radius: 5px;
		border: 2px solid;
		border-color: #ccc;

		&:focus {
			border-color: $main-color;

			&::placeholder {
				color: $main-color;
			}
		}
	}

	&__btn {
		box-sizing: border-box;
		width: $btn-width;
		height: $h;

		border-radius: 5px;
		border: none;
		font-size: 20px;
		background-color: $main-color;
		color: #fff;
		cursor: pointer;

		&:active {
			box-shadow: 2px 2px 10px #000;
		}
	}
	&__deals {
		width: 100%;
		margin-bottom: 20px;
	}

	&__counter,
	&__tab {
		font-size: 18px;
	}

	&__tab {
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	.tab-active {
		border: 1px solid #0AAF5D;
		color: #0AAF5D;
		outline: transparent;
	}

}

.item {
	display: flex;
	width: 100%;
	font-size: 20px;
	padding: 10px 0;
	border: 1px solid;
	border-color: transparent transparent #ccc transparent;

	&-unactive {
		display: none;
	}

	&__checkbox { 
		display: none;

		&:checked {
			&+.item__label:before {
				content: "\2713";
				font-size: 16px;	
				color: #fff;
				text-align: center;
			}

			& + .item__label {
				color: #0AAF5D;
				text-decoration: line-through;
			}
		} 
	}

	&__label {
		display: inline-block;
		position: relative;
		padding-left: 30px;
		word-wrap: break-word;
		width: 87%;
		cursor: pointer;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 5px;
			width: 20px;
			height: 20px;
			background-color: $main-color;
			border-radius: 99px;
		}
	}

	&__btn {
		position: relative;
		width: 25px;
		height: 25px;
		border: none;
		border-radius: 50%;
		background-color: #F72727;
		cursor: pointer;
		margin-left: auto;

		&:before, &:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 2px;
			height: 17px;
			background-color: #FFF;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}


}