.contacts {
  flex: 1;
  padding-left: 40px;
  max-width: 550px;
  margin: 0 auto;
  &-wrapper {
    display: flex;
    padding: 40px 0 0 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__caption {
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__link {
    position: relative;
    padding-left: 30px;
    color: inherit;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: $second-color;
    }
  }

  &__icon {
    @include centY;
    left: 0;
  }
}

.contacts-form {
  flex: 1;

  &__title {
    margin: 0 0 40px 0;
  }
}

@media only screen  and (max-width : 1000px) {
  .contacts {
    padding-left: 0;
    &-wrapper {
      flex-wrap: wrap;
    }

    &__link {
      display: block;
    }
  }
}
