.main {
  position: relative;
  background-image: linear-gradient(to left, rgba(#000, 0.5)),
    url('../../assets/images/bg1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;

  &__title {
    margin: 0;
    padding: 80px 0 0 0;
    text-align: center;
  }

  &-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 0;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;

    &__link {
      padding: 5px 0;
      color: #fff;
      transition: background-color .2s, color .2s;
      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover,
      &:focus {
        background-color: #fafafa;
        color: $second-color;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 40px 0 0 0;
  }

}

.btn-main-local {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;

  &.is-active {
    border-bottom: 2px solid $second-color;
    color: $second-color;
  }
}
