@import 'normalize';
@import 'fonts';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';
@import 'variables';
@import 'mixins';

a { 
	text-decoration: none;
	font-weight: normal;
	color:#74915F;
}

.wrap {
	max-width: 752px;
	margin: 0 auto;
	padding: 10px;
}

.main-title {
	font-size: 25px;
	margin: 0 0 10px 0;
}

.second-title {
	font-weight: normal;
	margin: 0 0 10px 0;
}

.header__rating { color: #ccc;}

.icon-stars {
	display: inline-block;
	margin: 0 20px;
	vertical-align: middle;

	.icon {padding: 4px;}

	.icon {
		&:nth-child(-n+4) {color: blue;}

	}
}	

.icon--fish {color: blue; }

.product__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	img {margin-top: 30px; }
}

.product-description {

	margin-left: 50px; 

	&__list {
		padding-left: 0;
		list-style: none;

		li {
			padding-right: 10px;
			color: #686868;
			display: inline-block;
			&:not(:last-child) {border-right: 1px solid #ccc;}
		}
	}
}

.message {
	margin: 20px 0;
	padding: 10px;
	border: 1px solid #F17400;

	&__title {
		color: #F17400;
		margin: 0 0 10px 0;
	}

	&__info {
		margin: 0;
		span {
			display: block;
			text-transform: capitalize;
			font-weight: bold;
		}
	}
}

.product-price {
	
	span {
		font-size: 25px;
		padding-right: 10px;
		&:first-child { 
			font-weight: bold;
			text-decoration: line-through; 
		}
		&:nth-child(2) {
			font-weight: bold;
			color: red;
		}
		&:nth-child(3) {
			font-size: 20px;
			color: red;
		}
	}

	.product-price__title {
		margin: 10px 0 0 0;

		&--secondary {
			color: red;
		}
	}
}

.product__checkbox {
	display: inline-block;
	margin: 10px 10px 10px 0;
	color: #A943DF;
	font-weight: bold;
	
	svg {
		vertical-align: bottom;
	}
}

.section-content {
	display: flex;
	width: 100%;
}
.content-left, .content-right {
	width: 50%;
}

.content-left {
	button {
		background-color: transparent;
		border: none;
		font-weight: bold;
		color: #9A6999;
	}

	select {
		display: block;
		margin-top: 20px;
		border: none;
		color: #366804;
		font-weight: bold;
	}

}

.content-right__items {
	display: flex;
	flex-wrap: wrap;
	
	&-select {
		select { 
			display: block;
			padding:  5px 10px;
			margin-bottom: 10px;
		}
	}

	&-radio {
		margin-left: 30px;
		input {
			margin-right: 10px;
		}
		label {
			display: block;
			margin-bottom: 10px;
		}
	}
}

.counter {
	display: flex;
	align-items: center;
	width: 100%;

	button {
		background-color: transparent;
		color: #669933;
		font-size: 50px;
		border: none;
	}

	input {
		width: 56px;
		height: 25px;
		margin: 0 10px;
		text-align: center;
		font-weight: bold;
	}
}

.btn-main {
	display: block;
	margin: 0 auto;
	background-color: #F17400;
	color: #fff;
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
}