* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 10px;
	color: #6b6b6b;
}

body {
	font-size: 16px;
}
p {
	color: rgb(86, 86, 86);
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

fieldset {
	border: none;
}

ul {
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.b-checkbox {
	$h: 13px;

	input {
		display: none;

		&:checked + label:before {
			content: "\2713";
			font-size: 16px;
			font-weight: bold;
			color: red;
			text-align: center;
			line-height: $h;
			border-color: red;
		}

		&:checked + label {
			color: red;
		}
	}

	label {
		display: inline-block;
		position: relative;
		padding-left: 2rem;
		cursor: pointer;

		&:before {
			content: "";
			@include centY;
			left: 0;
			width:  $h;
			height: $h;
			background-color: #fff;
			border: 1px solid #ccc;
		}
	}	

	&__link {
		font-weight: 500;
		color: red;
		text-decoration: underline;

		&:hover {
			opacity: .7;
		}
	}
}

.b-spoiler {
	overflow: hidden;
	
	h3 {
		cursor: pointer;
		&.is-active + p {
			max-height: 10rem;
			padding: 2rem 0;
		}
	}
	p {
		margin: 0;
		max-height: 0;
		transition: all .4s;
	}
}

.b-tooltip {
	position: absolute;
	display: none;
	left: -7.5rem;
	bottom: 0;
	transform: translate(0, 130%);
	padding: .7rem 2rem;
	background-color: #D6E3F1;
	color: red;
	transition: opacity .3s;
	opacity: 0;

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -100%);
		width: 0; 
		height: 0; 
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #D6E3F1;
	}
}

.b-switcher {
	position: relative;
	display: inline-block;
	margin-top: .2rem;
	font-size: 14px;
	color: red;
	
	&__heart {
		position: relative;
		display: inline-block;
		background-color: red;
		width: 3rem;
		height: 1.5rem;
		border-radius: 9000rem;
		cursor: pointer;

		&:before {
			content: "";
			width: 1rem;
			height: 1rem;
			@include centY;
			left: 2px;
			background-color: #fff;
			border: 1px solid #fff;
			border-radius: 50%;
			transition: transform .4s;
		}
	}

	&__value {
		position: absolute;
		width: 3rem;
		top: 50%;
		right: -0.5rem;
		transform: translate(100%, -65%);
		opacity: 0;
		cursor: pointer;

		&--off {
			opacity: 1;
		}
	}
	

	input{
		display: none;

		&:checked {
			& + .switcher__heart{
				&:before {
					transform: translate(1.4rem, -50%);
				}
			}

			& ~ .switcher__value--on {
				opacity: 1;
			}
			& ~ .switcher__value--off {
				opacity: 0;
			}
		}
	}
}

.logo {
	max-width: 11rem;
}

.btn {
	padding: .5rem 2rem;
	border: none;
	background-color: transparent;
	border: 1px solid;
	border-radius: 1111rem;
	font-size: 14px;
	color: #fff;
	&-box {
		button {
			&:not(:last-child) {
				margin-right: 1rem;
			}
		}

		&--light {
			color: #fff;
		}
	}

	&--primary {
		color: $main-color;
		padding: 1rem 6rem;
		transition: all .3s;
		&:hover {
			border-color: $main-color;
			background-color: $main-color;
			color: #fff;
		}
	}
	&--main {
		border: none;
		background-color: $special-color;
		padding: 1rem 6rem;
		font-size: 16px;
		color: rgb(255, 255, 255);
		font-weight: 500;
		transition: box-shadow .3s;
		&:hover {
			box-shadow: 0 0 15px 5px $special-color;
		}
	}
	&-mouse {
		position: absolute;
		left: 50%;
		top: -1rem;
		transform: translate(-50%, -100%);
		background-color: transparent;
		border: none;
	}
	&-transparent {
		background-color: transparent;
		border: none;
	}
	&-example {
		position: relative;
		padding: 0 0 0 3rem;
		font-size: 1.2rem;

		&:after {
			content: "";
			@include centY;
			left: 0;
			width: 1.5rem;
			height: 1.5rem;
			background-color: $font-second;
		}
		&:active {
			outline: none;
		}
		&.is-active {
			outline: none;
			&:after {
				background-color: $main-color;
			}
		}
	}
}

.link {
	line-height: 0.9;
	border-bottom: 1px solid;

	&:hover {
		color: $main-color;
	}
}
.player {
	display: inline-block;
	position: relative;
	font-family: "Futura";
	color: #fff;
	text-align: center;
	margin-bottom: 4rem;
	background: url("../img/elipses.png") no-repeat;
	background-size: contain;

	&__img {
		position: relative;
		max-width: 50rem;

		img {
			display: block;
			width: 100%;
		}
	}
}

.section {
	padding: 6rem 0;
	&-title {
		margin: 4.5rem 0 3.5rem 0;
		font-size: 36px;
		font-family: "Futura";
		font-weight: normal;
		color: #fff;

		&--center {
			text-align: center;
		}
		&--prime {
			text-align: center;
			color: #000;
		}
		&--mt0 {
			margin-top: 0;
		}
	}

	&-text {
		max-width: 67rem;
		margin: 0 0 3rem 0;
		line-height: 1.438;
		color: #fff;
		
		&--centered {
			text-align: center;
			color: $text-dark;
			font-size: 1.5rem;
		}	
	}

	&--dark {
		background: #0B162C  linear-gradient( 0deg, #18346C 0%,
			rgba(48,107,223,0) 100%);

	}

	&--main {
		color: #fff;
		background-color: rgb(22, 22, 22);
	}

	&--mono {
		background-color: #0D1932;
	}
}

