// _iconfont__variables.scss

$icon-Delete: "\EA01" !default;

$icon-check: "\EA02" !default;

$icon-close: "\EA03" !default;

$icon-forw: "\EA04" !default;

$icon-open: "\EA05" !default;

$icon-search: "\EA06" !default;