.main {
	width: 400px;
	height: 400px;
	background-color: rgb(196,223,154);
	position: relative;
	top: 100px;
	left: 50%;
	margin-left: -200px;
}

.square {
	width: 100px;
	height: 100px;
	background-color: rgb(247,148,29);
	position: absolute;
}

.first {
  left: 50%;
  transform: translate(-50%, -50%);
} 

.second {
	transform: translate(50%, -50%);
	right: 0;
  top: 50%;
}

.thirth {
	bottom: 0;
	right: 50%;
	transform: translate(50%, 50%);
}

.fourth {
	bottom: 50%;
  transform: translate(-50%, 50%);
}