@font-face {
	font-family: "KaushanScript";
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Kaushan_Script/KaushanScript-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Montserrat/Montserrat-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: bold;
	src: url('fonts/Montserrat/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: normal;
	src: url('fonts/Roboto/Roboto-LightItalic.ttf') format("truetype");
}

@mixin font($font) {
	font-family: $font, sans-serif;
}