@import 'normalize';
@import 'fonts';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';
@import 'variables';
@import 'mixins';


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	@include font("Montserrat");
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	max-width: 120rem;
	margin: 0 auto;
}

.flex-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.b-logo {
	a {
		font-size: 3rem;
		font-weight: bold;
	}

	&--footer {
		color: $secondary-font-color;
		a {
			font-size: 4.6rem;
		}
	}
}

%description {
	@include font("Roboto");
	font-size: 1.5rem;
	color: $secondary-font-color;
}

%p-name {
	font-size: 1.4rem;
	text-transform: uppercase;
}

%p-position {
	margin-top: 1rem;
	@include font("Roboto");
	font-size: 1.5rem;
	font-style: italic;
}

.img-rounded {
	border-radius: 50%;
}


/*#Header start*/


.b-header {
	position: absolute;
	width: 100%;
	padding-top: 2rem;
	color: #fff;
	@include font("Montserrat");

	&__nav {
		display: flex;
		justify-content: space-between;
		margin: 1.8rem 5.5rem 0 auto;
		width: 40.7%;

		&-link {
			font-size: 1.4rem;
			text-transform: uppercase;
			padding-bottom: .7rem;

			&:hover {
				color: $header-link-hover;
				border-bottom: 3px solid $header-link-hover;
			}

		}
	}

	&__tools {
		display: flex;
		justify-content: space-between;
		width: 6%;
		margin-top: 1.8rem;

		.icon {
			padding: 0 .5rem;

			&:hover {
				color: $header-link-hover;
			}
		}
	}

}


/*#Main section start*/


.b-main {

	&-section {
		@include background(linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), 
			url("../img/header-bg.jpg"));
		padding: 15rem 0 2rem 0;
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;

	&__top-title {
		@include font("KaushanScript");
		font-size: 7.2rem;
		margin-bottom: 2.5rem;
		text-align: center;
	}

	&__head-title {
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		@include font("Montserrat");
		font-weight: bold;
		font-size: 15rem;
		line-height: 0.933;

		&:after {
			content: "";
			display: block;
			background-color: rgb(255, 255, 255);
			width: 6rem;
			height: .3rem;
			margin: 6rem auto 5rem auto;
		}
	}

	&__btn {
		width: 15.8rem;
		height: 3.8rem;
		border: 3px solid rgb(255, 255, 255);
		background-color: transparent;
		@include font("Montserrat");
		font-size: 1.4rem;
		font-weight: bold;
		text-transform: uppercase;
	}
}

/*#Slider-header*/

.b-slider-controlls {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	margin: 16rem 0 0 0;
	padding-left: 0;
	@include font("Montserrat");
	color: #fff;
	text-transform: uppercase;
	counter-reset: item;

	li {
		position: relative;
		@include calc(width, "25% - 2rem");
		padding-top: 2.3rem;
		list-style: none;

		&:before {
			content: "0" counter(item);
			counter-increment: item;
			font-weight: bold;
			font-size: 2.3rem;
		}
	}

	&__link {
		padding-left: .8rem;

		&:before {
			content: "";
			width:  100%;
			height: 3px;
			position: absolute;
			top:  0;
			left: 0;
			background-color: #fff;
		}
	}
}


/*#About section*/


.b-section {

	padding: 8.8rem 0 11rem 0;

	&__top-title {
		margin: 0;
		@include font("KaushanScript");
		font-size: 2.4rem;
		font-weight: normal;
		text-align: center;
	}

	&__main-title {
		
		margin-top: 1rem;
		@include font("Montserrat");
		font-size: 3rem;
		text-align: center;
		text-transform: uppercase;


		&:after {
			content: "";
			display: block;
			width: 60px;
			height: 3px;
			margin: 33px auto;
			background-color: rgb(243, 129, 129);
		}

	}

	&__description {
		margin: 0;
		padding: 1rem 12rem 10rem 12rem;
		@include font("Roboto");
		font-size: 1.4rem;
		text-align: center;
		color: $descr-font-color;
		line-height: 1.6;
	}

}

/*#Media gradiated item*/

.b-media {
	position: relative;
	cursor: pointer;
	transition: all .75s;
	color: #fff;

	img {
		display: block;
		max-width: 100%;
	}

	&:hover {

		transform: translate(-5%, -5%);
		box-shadow: 10px 10px 0 #95e1d3;

		.b-media__grad {
			opacity: 1;
		}

	}

	&__grad {
		@include stretch;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%);
		opacity: 0;
		transition: all .75s;
	}

	&__info {
		position: relative;
		@include font("Montserrat");
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
	}

	.icon {
		position: absolute;
		top: 0;
		left: 50%;	
		font-size: 20px;		
		transform: translate(-50%, -135%);
	}

	&__social-wrap {
		display: flex;
	}

	&__social-item {
		position: relative;
		width: 5.5rem;
		height: 5.5rem;
		background-color: $social-bg;

		&:not(:first-child) { border-left: 1px solid $social-icon-color; }

		.icon {
			@include cent;
			color: $social-icon-color;
			font-size: 25px;
		}

		&:hover {
			background-color: $social-icon-color;

			.icon { color: #fff; }
		}
	}

}	


/* # Facts section */


.b-fact {

	&-section {
		padding: 7rem 0 8rem 0;
		background-color: $facts-section-bg;		
	}

	color: #fff;
	width: 20%;
	text-align: center;

	&__number {
		font-size: 7.2rem;
		font-weight: bold;
	}

	&__name {
		margin: 1rem 0 0 0;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
}


/* #Services section */


.b-services {

	margin-top: -1rem;

	&-section {
		padding: 10.5rem 0 7rem 0;
	}

	.icon {
		position: absolute;
		top: 4.5rem;
		left: 4.5rem;
		color: $icon-main-color;
		font-size: 3.3rem;
	}

	&__item {

		position: relative;
		width: 33.33%;
		padding: 4.2rem 0 5rem 0;

		&:nth-child(-n + 3) {
			border-bottom: 1px solid $descr-font-color;
		}

		&-title {
			margin: 0;
			padding-left: 9rem;
			font-size: 1.4rem;
			font-weight: normal;
			text-transform: uppercase;
		}

		&-content {
			margin-bottom: 0;
			padding-left: 90px;
			@include font("Roboto");
			font-size: 14px;
			color: $descr-font-color;
			line-height: 1.6;
		}
	}
}


/*#Design-section*/


.b-design {

	&-section {
		padding: 10rem 0 0 0;
		@include background (
			linear-gradient( 0deg, rgba(255,255,255,.8)), 
			url("../img/design-bg.jpg"));
	}

	position: relative;
	margin: -2.5rem auto 0 auto;
	transform: translateX(-5%);

	&__img {
		display: block;

		&-absoluted {
			position: absolute;
			right: -20%;
			bottom: -14%;	
		}
	}

}


/* #Service section*/


.b-service {

	&-section {
		padding: 10.5rem 0 12rem 0;

		.flex-wrap {
			margin-top: -1rem;
		}
	}

	&__img-wrap {
		width: 50%;

		img {
			display: block;
			max-width: 100%;
		}
	}

}

/* #Accordion */

.b-accord-list {
	width: 50%;
	margin: 0;
	padding-left: 0;
	list-style-type: none;

	.icon {
		@include centY;

		&--main {
			left: 3rem;
			margin-right: 2rem;
			color: $icon-main-color;
			font-size: 3rem;
		}

		&--secondary {
			color: #ccc;
			font-size: 2rem;
			right: 3rem;
		}
	}

	&__item {

		&:not(:first-child) {
			margin-top: 1rem;
		}

		&-title {
			position: relative;
			margin: 0;
			padding: 2.3rem 6rem;
			font-size: 1.4rem;
			text-transform: uppercase;
			border: 1px solid;
			border-color: #ccc transparent;	
			cursor: pointer;
		}

		&-content {
			display: none;
			margin: 1.6rem 3rem 2rem 2rem;
			height: 13.5rem;
			overflow-y: scroll;
			color: $descr-font-color;
			@include font("Roboto");
			line-height: 1.6;
			font-style: italic;
			font-size: 15px;
		}
	}
}


/*#Quote section*/


.b-quote {

	&-section {
		padding: 7rem 0 1.5rem 0;
		background-color: $quote-bg-color;
	}

	display: flex;
	justify-content: space-between;
	padding: 0 11rem;

	&__img-default {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15%;
		border: 3px solid $icon-main-color;
	}

	&__person-img {
		width: 25%;

		img {
			display: block;
			max-width: 100%;
		}
	}

	&-wrap {
		width: 78.6%;
		align-self: center;
	}

	&__heart {
		margin: 0;
		@include font("Roboto");
		font-style: italic;
		font-size: 2.4rem;
		color: $secondary-font-color;
		line-height: 1.5;
	}

	&__autor { 
		display: block;
		margin: 1.5rem 0 0 0;
		@include font("KaushanScript");
		font-style: normal;
		font-size: 2.4rem;
		line-height: 1.2;


		&:before {
			@include line;
			display: inline-block;
			margin-right: 1rem;
			vertical-align: middle;
		}
	}

}


/* #Section team */


.b-team {
	margin-top: -10px;

	&-section {
		padding: 9rem 0 18.8rem 0;
	}

	&-person {
		position: relative;
		margin: 0;

		&__info {
			@include centX;
			text-align: center;
		}

		&__name {
			@extend %p-name;
			margin-top: 25px;
			color: #000;
		}

		&__position{ 
			@extend %p-position;
			color: $secondary-font-color;
		}
	}
}


/*#Section partners*/


.b-partners {
	&-section {
		padding: 60px 0;
		background-color: $quote-bg-color;	

		img {
			display: block;
			max-width: 100%;
		}
	}
}


/*#Section gallery */


.b-gallery {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(2, 50%);
	margin-bottom: 10rem;

	&-section {
		padding: 11rem 0;
	}

	&-info {
		position: relative;
		text-align: center;
		transform: translateY(20%);

		&__title {
			padding-top: 1rem;
			@extend %p-name;
		}

		&__description {
			@extend %p-position;
		}
	}

}

.b-media--gallery {
	&:hover {
		transform: none;
		box-shadow: none;
	}
}

.b-media--stretch {
	grid-row-start: span 2;
}


/*#Review section*/


.b-review {

	&-section {
		padding: 10rem 0 7rem 0;
		@include background (
			linear-gradient( 0deg, rgba(#fff,.8)), 
			url("../img/review-bg.jpg"));
	}

	&-container {
		margin-top: 9rem;
	}

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 50%;
	padding: 0 3%;

	&__person {

		width: 72.5%;
		padding-top: 1rem;
		padding-bottom: 7.5rem;

		&-name { 
			@extend %p-name;
		}

		&-position {
			@extend %p-position;
		}

		&-feedback {
			@include font("Roboto");
			font-size: 1.5rem;
			color: $secondary-font-color;
			line-height: 1.6;

			&:before {
				@include line;
				display: block;
				margin-bottom: 1.5rem;
			}
		}

	}

}


/*#Blog section*/


.b-blog {

	&-section {
		padding: 10.5rem 0;
	}

	width: pxtopercent(380);
	padding-top: 1.5rem;

	&__img {
		position: relative;
	}

	&__calendar {
		position: absolute;
		left: -1rem;
		bottom: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
		width: 6rem;
		height: 7rem;
		background-color: $icon-main-color;
		color: #fff;

		&-number {
			font-size: 2.7rem;
		}

		&-date {
			@include font("Roboto");
			font-size: 1.4rem;
		}
	}

	&__title {
		font-weight: normal;
		line-height: 1.2;
		font-size: 1.2rem;
		text-transform: uppercase;
	}

	&__description {
		padding-bottom: 2rem;
		@extend %description;
		border-bottom: 1px solid $secondary-font-color;
	}

	&__counter {
		padding: .5rem 0 0 .5rem;

		i {
			@extend %description;
		}

		&-item {
			position: relative;
			margin-right: 2rem;
			padding-left: 2rem;
		}

		.icon {
			@include centY;
			left: .5rem;
			color: $icon-main-color;
			font-size: 2rem;
		}
	}

}


/*#Map-section*/


.b-map {

	&-section {
		display: flex;
		@include background(linear-gradient(0deg, rgba(#fff, .8)), 
			url("../img/map.jpg"));
		padding: 6rem 0 7rem 0;
	}

	&-link {
		position: relative;
		margin: auto;
		padding-top: 4rem;
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 2.4rem;
		color: $link-map-color;

		&:after {
			@include line;
			@include centX;
			bottom: -1.8rem;
		}

		.icon {
			@include centX;
			top: 0;
		}
	}
}


/*3Footer */


.b-footer {
	position: relative;
	padding: 6.5rem 0 13rem 0;
}

.b-footer__item-title {
	margin: 1.5rem 0 3.5rem 0;
	font-size: 1.4rem;
	font-weight: normal;
	text-transform: uppercase;
}

.b-footer__copyright {
	@include centX;
	bottom: 2rem;
	font-size: 1.3rem;

	span {
		color: red;
	}
}

.b-followers {

	width: pxtopercent(480);

	&__content {
		margin: 2.5rem 0;
		padding-right: 2rem;
		@extend %description;
		line-height: 1.6;
	}

	&__counter {
		padding: 1.8rem 0 1.4rem 0;
		border-bottom: 1px solid $secondary-font-color;
		font-size: 15px;

		&-quantity {
			font-size: 18px;
			margin-right: .5rem;
		}

	}

	&__social {
		margin: 1.5rem 0 3.5rem 0;
		padding-left: 0;
		list-style-type: none;

		&-caption {
			@include font("Roboto");
			font-style: italic;
			font-size: 15px;
		}

		li {
			display: inline-block;
		}

		&-link {
			display: inline-block;
			vertical-align: middle;
			padding: 0 1rem;
		}

	}

	.icon {
		color: $icon-main-color;
	}

	&__form {

		display: flex;

		input[type=email] {
			display: block;
			width: pxtopercent(230, 480);
			padding-left: 1.5rem;
			@include font("Roboto");
			font-style: italic;
			font-size: 15px;
			border: 1px solid rgb(231, 231, 231);
		}

		&-btn {
			width: 15rem;
			height: 4rem;
			background-color: rgb(149, 225, 211);
			border: none;
			color: #fff;
			text-transform: uppercase;
		}
	}
}

.b-footer-blogs {
	width: pxtopercent(390);
}

.b-footer-blog {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3rem;

	&__content {

		margin: 1rem 0 0 2rem;

		&-caption {
			margin: 0 0 1rem 0;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 1.2rem;
		}

		&-date {
			@include font("Roboto");
			font-style: italic;
			font-size: 1.3rem;
		}
	}

}

.b-footer-instagram {

	width: pxtopercent(270);

	&__gallery {
		display: grid;
		grid-template-columns: repeat(3, 3fr);
		grid-template-rows: repeat(3, 3fr);
		grid-gap: .2rem;
	}

	&__link {
		display: inline-block;
		margin-top: 2rem;
		@include font("Roboto");
		font-style: italic;
		font-size: 1.2rem;
	}
}