@import 'normalize';
@import 'fonts';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';
@import 'variables';
@import 'mixins';


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	@include font("Montserrat");
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.b-logo {
	a {
		font-size: 30px;
		font-weight: bold;
	}

	&--footer {
		color: $secondary-font-color;
		a {
			font-size: 46px;
		}
	}
}

%description {
	@include font("Roboto");
	font-size: 15px;
	color: $secondary-font-color;
}

%p-name {
	font-size: 14px;
	text-transform: uppercase;
}

%p-position {
	margin-top: 10px;
	@include font("Roboto");
	font-size: 15px;
	font-style: italic;
}

.img-rounded {
	border-radius: 50%;
}
/*#Header start*/

.b-header {
	position: absolute;
	width: 100%;
	padding-top: 2rem;
	@include font("Montserrat");
	color: #fff;

	&__nav {
		display: flex;
		justify-content: space-between;
		margin: 18px 55px 0 auto;
		width: 40.7%;

		a {
			font-size: 14px;
			text-transform: uppercase;
			padding-bottom: 7px;

			&:hover {
				color: $header-link-hover;
				border-bottom: 3px solid $header-link-hover;
			}

		}
	}

	&__tools {
		display: flex;
		justify-content: space-between;
		width: 6%;
		margin-top: 18px;
		font-size: 16px;

		.icon {
			display: inline-block;
			padding: 0 5px;

			&:hover {
				color: $header-link-hover;
			}
		}
	}

}


/*#Main section start*/


.b-main-section {
	background: linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%), url("../img/header-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	padding: 150px 0 23px 0;
}

.b-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;

	&__top-title {
		@include font("KaushanScript");
		font-size: 72px;
		margin-bottom: 25px;
	}

	&__head-title {
		margin: 0;
		width: 67%;
		text-align: center;
		text-transform: uppercase;
		line-height: 2;
		@include font("Montserrat");
		font-weight: bold;
		font-size: 150px;
		line-height: 0.933;

		&:after {
			content: "";
			display: block;
			background-color: rgb(255, 255, 255);
			width: 60px;
			height: 3px;
			margin: 60px auto 53px auto;
		}
	}
}

.b-btn {
	border: 3px solid rgb(255, 255, 255);
	background-color: transparent;
	width: 158px;
	height: 38px;
	@include font("Montserrat");
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

/*#Slider-header*/

.b-main__slider-controlls {

	ul {
		padding-left: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	margin-top: 150px;
	@include font("Montserrat");
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	counter-reset: item;

	li {
		position: relative;
		display: inline-block;
		width: 280px;
		padding-top: 25px;
		list-style: none;

		&:before {
			content: "0" counter(item);
			counter-increment: item;
			font-weight: bold;
		}
	}
}

.slider-link {
	padding-left: 10px;

	&:before {
		content: "";
		width:  100%;
		height: 3px;
		position: absolute;
		top:  0;
		left: 0;
		background-color: #fff;
	}
}


/*#About section*/


.b-section {
	padding: 90px 0 110px 0;

	&__top-title {
		margin: 0;
		@include font("KaushanScript");
		font-size: 24px;
		font-weight: normal;
		text-align: center;
	}

	&__main-title {
		
		margin-top: 10px;
		@include font("Montserrat");
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;


		&:after {
			content: "";
			display: block;
			width: 60px;
			height: 3px;
			margin: 33px auto;
			background-color: rgb(243, 129, 129);
		}

	}

	&__description {
		margin: 0;
		padding: 10px 120px 100px 120px;
		@include font("Roboto");
		font-size: 14px;
		text-align: center;
		color: $descr-font-color;
		line-height: 1.6;
	}

}

/*#Media gradiated item*/

.b-media {
	position: relative;
	cursor: pointer;
	transition: all .75s;
	color: #fff;

	img {
		display: block;
		max-width: 100%;
	}

	&:hover {

		transform: translate(-5%, -5%);
		box-shadow: 10px 10px 0 #95e1d3;

		.b-media__grad {
			opacity: 1;
		}

	}

	&__grad {
		@include stretch;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient( 0deg, rgba(252,227,138,.9) 0%, rgba(243,129,129,.9) 100%);
		opacity: 0;
		transition: all .75s;
	}

	&__info {
		position: relative;
		@include font("Montserrat");
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
	}

	.icon {
		position: absolute;
		top: 0;
		left: 50%;	
		font-size: 20px;		
		transform: translate(-50%, -135%);
	}

	&__social-wrap {
		display: flex;
	}

	&__social-item {
		position: relative;
		display: block;
		width: 55px;
		height: 55px;
		background-color: $social-bg;

		&:not(:first-child) { border-left: 1px solid $social-icon-color; }

		.icon {
			@include cent;
			color: $social-icon-color;
			font-size: 25px;
		}

		&:hover {
			background-color: $social-icon-color;
			.icon { color: #fff; }
		}
	}

}	


/* # Facts section */


.b-facts-section {
	padding: 80px 0;
	background-color: $facts-section-bg;
}

.b-fact {
	color: #fff;
	width: 20%;
	text-align: center;

	&__number {
		font-size: 72px;
		font-weight: bold;
	}

	&__name {
		font-size: 14px;
		text-transform: uppercase;
	}
}


/* #Services section */

.b-section-services,
%b-section-services {
	padding: 110px 0 45px 0;
}

.b-services {

	margin-top: -10px;

	.icon {
		position: absolute;
		top: 45px;
		left: 45px;
		color: $icon-main-color;
		font-size: 33px;
	}

	&__item {

		position: relative;
		width: 33.33%;
		padding: 40px 0 50px 0;

		&:nth-child(-n + 3) {
			border-bottom: 1px solid $descr-font-color;
		}

		&-title {
			margin: 0;
			padding-left: 90px;
			font-size: 14px;
			font-weight: normal;
			text-transform: uppercase;
		}

		&-content {
			margin-bottom: 0;
			padding-left: 90px;
			@include font("Roboto");
			font-size: 14px;
			color: $descr-font-color;
			line-height: 1.6;
		}
	}
}

.b-section-design {
	padding: 110px 0 0 0;
	@include background (
		linear-gradient( 0deg, rgba(255,255,255,.8)), 
		url("../img/design-bg.jpg"));

	&__img-wrap {
		position: relative;
		margin: -25px auto 0 auto;
		transform: translateX(-5%);
	}
}

.absolute-img {
	position: absolute;
	right: -20%;
	bottom: -14%;	
}


/* #Service section*/


.b-service {

	&-section {
		padding: 100px 0 120px 0;

		.flex-wrap {
			margin-top: -10px;
		}
	}

	&__img-wrap {
		width: 50%;

		img {
			display: block;
			max-width: 100%;
			margin-right: 0;
		}
	}

	&__content {
		width: 50%;
	}
}

.b-accord-list {

	margin: 0;
	padding-left: 0;
	list-style-type: none;

	.icon {
		@include centY;

		&--main {
			margin-right: 2rem;
			color: $icon-main-color;
			font-size: 30px;
			left: 30px;
		}

		&--secondary {
			color: #ccc;
			font-size: 20px;
			right: 30px;
		}
	}

	&__item {

		&:not(:first-child) {
			margin-top: 10px;
		}
		
		&-title {
			position: relative;
			margin: 0;
			padding: 23px 6rem;
			line-height: 100%;
			font-size: 14px;
			text-transform: uppercase;
			border: 1px solid;
			border-color: #ccc transparent;	
			cursor: pointer;
		}

		&-content {
			display: none;
			height: 175px;
			padding: 16px 20px 20px 20px;
			overflow-y: scroll;
			color: $descr-font-color;
			@include font("Roboto");
			line-height: 1.6;
			font-style: italic;
			font-size: 15px;
		}
	}
}

.b-quote {

	&-section {
		padding: 70px 0;
		background-color: $quote-bg-color;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		padding: 0 110px;
	}
	
	&__img-default {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15%;
		border: 3px solid $icon-main-color;
	}

	&__person-img {
		width: 25%;
		margin-right: 30px;

		img {
			display: block;
			max-width: 100%;
			border-radius: 50%;
		}
	}

	&-wrap {
		width: 78.6%;
		align-self: center;
	}

	&__heart {
		margin: 0;
		@include font("Roboto");
		font-style: italic;
		font-size: 24px;
		color: $secondary-font-color;
		line-height: 1.5;
	}

	&__autor { 
		display: block;
		margin: 15px 0 0 0;
		@include font("KaushanScript");
		font-style: normal;
		font-size: 24px;
		line-height: 1.2;


		&:before {
			content: "";
			display: inline-block;
			background-color: $streak-color;
			margin-right: 1rem;
			width: 60px;
			height: 3px;
			vertical-align: middle;
		}
	}

}


/* #Section team */


.b-team-section {
	padding: 90px 0 188px 0;
}

.team-wrap {
	margin-top: -10px;
}

.b-team-person {
	position: relative;
	margin: 0;

	&__info {
		@include centX;
		text-align: center;
	}

	&__name {
		@extend %p-name;
		margin-top: 25px;
		color: #000;
	}

	&__position{ 
		@extend %p-position;
		color: $secondary-font-color;
	}
}


/*#Section partners*/


.b-partners {

	&-section {
		padding: 60px 0;
		background-color: $quote-bg-color;	

		img {
			display: block;
			max-width: 100%;
		}
	}

}


/*#Section gallery */


.b-gallery {
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: repeat(2, 50%);

	&-section {
		padding: 105px 0 110px 0;
	}
}

.b-media--gallery {
	&:hover {
		transform: none;
		box-shadow: none;
	}
}

.b-media--stretch {
	grid-row-start: span 2;
}

.b-gallery-info {
	position: relative;
	text-align: center;
	transform: translateY(20%);
	
	&__title {
		padding-top: 10px;
		@extend %p-name;
	}

	&__description {
		@extend %p-position;
	}
}


/*#Review section*/


.b-review {

	&-section {
		padding: 100px 0 70px 0;
		@include background (
			linear-gradient( 0deg, rgba(#fff,.8)), 
			url("../img/review-bg.jpg"));
	}

	&-container {
		margin-top: 90px;
	}

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 50%;
	padding: 0 3%;

	&__person {

		width: 72.5%;
		padding-top: 10px;
		padding-bottom: 75px;

		&-name { 
			@extend %p-name;
		}

		&-position {
			@extend %p-position;
		}

		&-feedback {
			@include font("Roboto");
			font-size: 15px;
			color: $secondary-font-color;
			line-height: 1.6;

			&:before {
				display: block;
				content: "";
				margin-bottom: 15px;
				background-color: rgb(243, 129, 129);
				width: 60px;
				height: 3px;
			}
		}

	}

}

.b-blog {
	
	&-section {
		padding: 10.5rem 0;
	}

	width: pxtopercent(380);
	padding-top: 1.5rem;

	&__img {
		position: relative;
	}
	
	&__calendar {
		position: absolute;
		left: -10px;
		bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center; 
		width: 60px;
		height: 70px;
		background-color: $icon-main-color;
		color: #fff;

		&-number {
			font-size: 27px;
		}

		&-date {
			@include font("Roboto");
			font-size: 14px;
		}
	}

	&__title {
		font-weight: normal;
		line-height: 1.2;
		font-size: 12px;
		text-transform: uppercase;
	}

	&__description {
		padding-bottom: 20px;
		@extend %description;
		border-bottom: 1px solid $secondary-font-color;
	}

	&__counter {
		padding-top: 5px;
		padding-left: 5px;

		i {
			@extend %description;
		}

		&-item {
			position: relative;
			margin-right: 20px;
			padding-left: 20px;
		}

		.icon {
			@include centY;
			left: 5px;
			color: $icon-main-color;
			font-size: 20px;
		}
	}
}

.b-map {

	&-section {
		display: flex;
		@include background(linear-gradient(0deg, rgba(#fff, .8)), 
			url("../img/map.jpg"));
		padding: 6rem 0 7rem 0;
	}

	&-link {
		position: relative;
		margin: auto;
		padding-top: 4rem;
		display: inline-block;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 24px;
		color: $link-map-color;

		&:after {
			content: "";
			@include centX;
			bottom: -1.8rem;
			width: 60px;
			height: 3px;
			background-color: rgb(243, 129, 129);
		}

		.icon {
			@include centX;
			top: 0;
		}
	}
}


/*3Footer */


.b-footer {
	position: relative;
	padding: 6.5rem 0 13rem 0;
}

.b-footer__item-title {
	margin: 1.5rem 0 3.5rem 0;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

.b-footer__copyright {
	@include centX;
	bottom: 2rem;
	font-size: 13px;

	span {
		color: red;
	}
}

.b-followers {

	width: pxtopercent(480);

	&__content {
		margin: 2.5rem 0;
		padding-right: 2rem;
		@extend %description;
		line-height: 1.6;
	}

	&__counter {
		padding: 1.8rem 0 1.4rem 0;
		border-bottom: 1px solid $secondary-font-color;
		font-size: 15px;

		&-quantity {
			font-size: 18px;
			margin-right: .5rem;
		}

	}

	&__social {
		margin: 1.5rem 0 3.5rem 0;
		padding-left: 0;
		list-style-type: none;

		&-caption {
			@include font("Roboto");
			font-style: italic;
			font-size: 15px;
		}

		li {
			display: inline-block;
		}

		&-link {
			display: inline-block;
			vertical-align: middle;
			padding: 0 1rem;
		}

	}

	.icon {
		color: $icon-main-color;
	}

	&__form {

		display: flex;

		input[type=email] {
			display: block;
			width: pxtopercent(230, 480);
			padding-left: 1.5rem;
			@include font("Roboto");
			font-style: italic;
			font-size: 15px;
			border: 1px solid rgb(231, 231, 231);
		}

		&-btn {
			width: 15rem;
			height: 4rem;
			background-color: rgb(149, 225, 211);
			border: none;
			color: #fff;
			text-transform: uppercase;
		}
	}
}



.b-footer-blogs {
	width: pxtopercent(390);
}

.b-footer-blog {

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 3rem;

	&__content {

		margin: 1rem 0 0 2rem;

		&-caption {
			margin: 0 0 1rem 0;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 12px;
		}

		&-date {
			@include font("Roboto");
			font-style: italic;
			font-size: 13px;
		}
	}

}

.b-footer-instagram {

	width: pxtopercent(270);

	&__gallery {
		display: grid;
		grid-template-columns: repeat(3, 3fr);
		grid-template-rows: repeat(3, 3fr);
		grid-gap: .2rem;
	}

	&__link {
		display: inline-block;
		margin-top: 2rem;
		@include font("Roboto");
		font-style: italic;
		font-size: 12px;
	}
}