@media only screen and (max-width : 1040px) {
	.wrapper { padding: 0 1rem; }

	.s-header {
		.wrapper {
			width: 90%;
			padding: 2rem;
			flex-wrap: wrap;
		}

		&__lang { margin-left: auto; }
	}

	.b-nav {
		width: 100%;
		order: 1;
		margin: 1rem auto 0 auto;
		justify-content: space-around;
	}

	.s-credits,
	.s-advanteges-header,
	.s-info,
	.s-profile {
		border-bottom-left-radius: 50% 8rem;
		border-bottom-right-radius: 50% 8rem;
	}

	.b-main-form {
		&__content {
			width: 100%;
			padding-bottom: 6rem;
			&-message {
				margin: 0 0 3rem 0;
			}
		}

		&__total {
			padding: 6rem pxtopercent(370) 3rem pxtopercent(370);
		}
	}

	.b-form-group { flex-wrap: wrap; }

	.b-personal,
	.b-callback { width: 100%; }

	.b-personal {
		border-radius: $form-border-radius;
	}
	.b-callback {
		text-align: center;

		.b-input { margin: 2rem auto; }
	}

	.b-btn-main {
		left: 50%;
		top: 0;
		transform: translate(-50%, -50%);
	}

	.b-btn-stretch {
		text-align: center;
	}

	.s-advanteges {
		background-position: 100% 1200px;

		.wrapper {
			flex-wrap: wrap;
		}

		&-content {
			width: 100%;
			justify-content: center;
			&__item {
				width: 33%;
			}
		}

		&-message {
			width: 100%;
		}
	}

	.s-packages {
		background-image: radial-gradient(130% 68% at top, #fff 100%, 
			rgba(248, 174, 6, 0.9) 90%);
		&-content {
			&__item {
				margin: 0 auto;
			}
		}
	}

	.s-howto {
		background-image: radial-gradient(180% 68% at top, #fff 100%, 
			rgba(248, 174, 6, 0.9) 90%);
		padding-bottom: 2rem;
	}

	.b-step { width: 70%; }

	.b-section-message {
		flex-wrap: wrap;

		&__item {
			width: 75%;
			margin-bottom: 2rem;
		}
	}

	.b-section-cards {
		margin-top: 8rem;
	}

	.b-review {
		width: 96%;
		margin: 4rem auto;
		padding: 10rem 3rem 3.5rem 3rem;
	}

	.s-region { 
		padding: 5rem 0 0 0; 
		background-size: 140rem 80rem;
	}

	.b-region-list{
		width: 45%;
		&__wrapper {
			justify-content: space-around;
		}
	}

	.popup {
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;

		&-cities {
			width: 100%;
		}

		&-list {
			width: 100%;
			height: auto;
			margin: 0;
			flex-flow: row wrap;
			align-items: flex-start;
			align-content: flex-start;
			justify-content: space-between;

			li {
				display: inline-block;
				width: 45%;
			}
		}

		&-map {
			width: 60%;
			height: 36rem;
		}

		&-info {
			width: 40%;
			height: 36rem;

			&__item {
				justify-content: space-between;
				&-title {
					display: inline-block;
					width: auto;
					line-height: 1.5;
				}
				&-main {
					display: inline-block;
					width: 65%;
					text-align: right;
				}
			}

			&__link--mail {
				width: 100%;
				word-wrap: break-word;
			}
		}

		&-cities {
			padding-bottom: 0;
		}

		.btn-show {
			left: 95%;
			bottom: 0;
			transform: translate(-100%, -50%);
		}
	}

	.b-media {
		flex-direction: column;
		align-items: center;

		&-item {
			width: 50%;

			&:not(:last-child) {
				margin-bottom: 4rem;
			}
		}
	}

	.s-footer {
		.wrapper {
			justify-content: space-around;
		}
		&-contacts,
		&-about,
		&-faq,
		&-referal-wrap {
			justify-content: center;
			margin-top: 4rem;
			width: 40%;
		}

		&-base {
			flex-wrap: wrap;
			justify-content: center;

			&__info {
				margin: 0 0 2rem 0;
			}
			.b-logo {
				margin: 0 2rem 2rem 0;
			}
		}
	}

	.s-about {
		background-position: 80% 0;
	}

	.s-about-info {
		padding-right: 1rem;
	}

	.s-main {
		background-position: 50% 100%;
	}

	.s-main-title {
		padding: 0 0 0 2rem;
		&__top {
			font-size: 2rem;
		}
		&__middle {
			font-size: 3rem;
		}
		&__bottom {
			text-align: left;
			font-size: 1rem;
		}
	}

	.s-head__nav {
		font-size: 1rem;
	}

	.b-blog-item {
		width: calc(50% - 4rem);
	}
	
	.b-top-nav{
		padding: 3rem 0;
	}

	.b-top-title{
		margin-bottom: 2rem;
	}

	.s-about{
		&-info__text {
			margin-bottom: 3rem;
		}
		.wrapper {
			padding: 0;
		}
		
		&__wrap {
			width: 55%;
			padding: 0 3rem 4rem 3rem;
			&:before {
				display: none;
			}
		}
		

		&-content {
			margin-bottom: 1rem;
			flex-wrap: wrap;
			&__item {
				width: 50%;
			}
		}
	}

	.b-response-wrap {
		width: 95%;
		margin: 0 auto;
	}

	.b-value {
		width: 70%;

		&-wrap {
			justify-content: center;
		}
	}

	.s-blog-item, 
	.s-contacts,
	.s-agreement,
	.s-help {
		overflow-x: hidden;
	}

	.b-main-container {
		flex: 1;
	}

	.s-contacts {
		padding-bottom: 4rem;

	}

	.f-contact {
		margin-right: auto;
	}
	.b-top-title {
		font-size: 1.7rem;
	}
	
	.b-contact {
		width: 23rem;
		height: 23rem;
		margin-bottom: 2rem;

		&-wrap {
			justify-content: space-around;
			align-items: flex-start;
		}

		&__link,
		a {
			font-size: 1.4rem;
			word-wrap: break-word;
		}
	}

	.b-sidebar {
		padding: 3rem 0;
		max-width: 24rem;

		.b-blog-item {
			width: 100%;

			&__title {
				margin: 1rem 0;
				font-size: 1.1rem;
			}
			&__text{ 
				font-size: 1rem;
			}
			&__link {
				display: inline-block;
				padding-top: .5rem;
				font-size: 1.2rem;
			}
		}
	}

	.s-agreement__text, .s-blog-item__text {
		font-size: 1.3rem;
	}

	.b-blog-container {
		width: 100%;
		justify-content: space-around;
	}


	.b-help-item__caption {
		padding: 0 1rem;
	}

	.b-category__column {
		width: 30%;
	}
	
	.b-form-group {
		justify-content: center;
		border-radius: 0;
		padding-bottom: 2rem;
	}

	.f-callback-left {
		border-radius: 2rem 2rem 0 0;
	}

	.f-callback-right {
		border-radius: 0 0 2rem 2rem;
	}

	.b-job {
		padding: 0 4rem;
		justify-content: center;

		&-info {
			width: 100%;
			margin-bottom: 2rem;
		}
	}

	.b-vacancies {
		width: 100%;
	}

	.questionnaire {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	.s-howto {
		background-image: radial-gradient(180% 70% at top, #fff 100%, 
			rgba(248, 174, 6, 0.9) 90%);
	}
	
	.profile {
		flex-wrap: wrap;
		padding: 0 5%;
		&__container {
			width: 100%;

			&:not(:last-child) {
				margin: 0 0 2rem 0;
			}
		}
	}

	.program {

		&s {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		width: 40%;
	}

	.b-btn-app {
		padding: 1rem 1.5rem;
		font-size: 1.4rem;
	}

	.f-support__textarea textarea,
	.chat  {
		width: 95%;
	}

}

@media only screen and (max-width: 767px) {
	.b-btn-login,
	.b-section-message,
	.s-advanteges-message,
	.s-packages-content__item-img,
	.b-section-cards,
	.s-info,
	.s-footer-referal-wrap,
	.mob-hidden,
	.s-main__list,
	.s-main-title,
	.social-main
	.b-sidebar {
		display: none;
	}
	
	.f-transfer {

		&__title,
		.f-form__footer {
			border-radius: 0;
		}
		
		&__person {
			width: 100%;
		}
	}
	.popup  {
		&-list {
			flex-direction: column;
			align-items: center;
			padding-bottom: 5rem;

			li {
				width: 100%;
				max-width: 37rem;
			}
		}
		
		&-map,
		&-info {
			width: 100%;
		}

		&-info {
			max-width: 100%;
		}
		.btn-show {
			@include centX;
			bottom: 2rem;
		}
	}

	.b-region-list {
		width: 100%;
		&__wrapper {
			max-height: 47rem;
			overflow-y: scroll;
			@include scrollbar(5px, $first-color);
		}
	}
	.b-main-form,
	.b-personal,
	.s-advanteges-header,
	.s-credits,
	.b-review,
	.f-callback-left,
	.f-callback-right {
		border-radius: 0;
	}

	%w-100 {
		width: 100%;
	}

	.b-help {
		padding: 0 1rem;
	}
	
	.b-help-item {
		width: 100%;
	}
	
	.s-more-information,
	.s-header__phone,
	.mobile-or,
	.s-footer__social {
		display: block;
	}

	.s-header .wrapper {
		max-height: 6rem;
		padding: 1rem 0;
		ovarflow: hidden;
	}

	.s-header__phone {
		order: 2;
		margin: 2rem auto;
		text-align: center;
	}

	.mobile-menu {
		display: flex;
	}

	.mobile-link,
	.mobile-title {
		display: inline-block;
	}

	.b-logo {
		margin: 0 7% 0 auto;
	}

	.s-header__lang {
		@extend %w-100;
		display: flex;
		margin: 8rem 0;
		justify-content: center;
	}
	
	.b-nav {
		margin: 0 0 3rem 0;
		flex-direction: column;
		align-items: center;
		font-size: 2rem;
		font-weight: normal;
	}

	.b-form-item {
		justify-content: space-between;
		
		&__label {
			width: auto;
		}
		&__input {
			margin-left: auto;
			font-size: 2.2rem;
		}

		&__slider {
			margin-top: 2rem;
		}
	}

	.ui-slider {
		@extend %w-100;
		order: 2;
	}

	.ui-slider-helper {
		width: calc(100% - 12rem);

		&--sm {
			width: calc(100% - 9rem);
		}
	}


	.b-review__info { font-size: 1.5rem; }

	.s-advanteges-content__item {
		width: 50%;

		&:nth-child(even) {
			border-left: 1px solid #ccc;
		}
	}

	.s-advanteges,
	.s-howto {
		background: #fff;
		box-shadow: inset 0px 2px 29.4px 0.6px rgba(1, 2, 2, 0.05);
	}

	.s-packages-content__item {
		@extend %w-100;
		max-width: 45rem;
	}

	.s-packages-content__item-info { text-align: center; }

	.slick-prev { left: 10%; }

	.slick-next { right: 10%; }

	.b-media-item {
		@extend %w-100;
		max-width: 37rem;
	}

	.s-footer {
		margin-top: 0;
		padding: 0 0 3rem 0;

		.wrapper--flex {
			padding: 2rem 2rem 0 2rem;
			justify-content: space-between;
		}
		
		&-about,
		&-faq {
			@extend %w-100;
		}

		&-contacts {
			margin: 0 2rem 0 0;
			width: auto;
		}
		&-base {
			margin-top: 4rem;
		}
	}

	.s-about {
		border-radius: 0;
	}

	.s-main {
		border-radius: 0;
		.wrapper {
			padding: 0;
		}
	}

	.b-value { @extend %w-100; }

	.b-response {
		@extend %w-100;
		&-wrap {
			&:after {
				display: none;
			}
		}
	}

	.s-head {
		&__nav {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			max-height: 6rem;
			padding:  2rem 0 4rem 0;
			transition: max-height .5s;

			&.active {
				max-height: 40rem;
				
				.s-head__nav-more {
					color: $first-color;
				}

				.s-head__more-btn {
					color: #fff;
					border-color: $second-color;
					background-color: rgba($first-color, .8);

					.icon {
						transform: translate(-50%, 50%) rotate(270deg);
					}
				}
			}

			a {
				padding: 0;
				font-size: 1.5rem;

				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}

			&-btn {
				width: 70%;
				border-radius: 1rem;
				padding: 1rem 2rem;
				font-size: 1.5rem;

				&.active {
					color: #fff;
				}
			}
		}

		&__more-btn,
		&__nav-more {
			display: block;
		}
	}

	.s-about__wrap,
	.b-main-form-container,
	.b-blog-item { @extend %w-100; }

	.b-section-message__item {
		width: 90%;
	}

	.s-advanteges-message {
		padding-right: 1rem;
	}

	.b-blog-container,
	.b-main-container,
	.b-contact-info,
	.f-contact {
		margin: 0;
	}
	
	.b-contact {
		&-wrap {
			flex-direction: column;
			align-items: center;
			padding-bottom: 0;
		}
	}

	.f-contact {
		max-width: 100%;

		&__title {
			text-align: center;
		}
	}

	.s-agreement {
		padding-bottom: 4rem;
	}

	.f-form {
		.b-btn-close {
			display: none;
		}
	}

	.s-help {
		.wrapper { padding: 0; }

		.b-main-container,
		.b-category__column {
			padding: 0 1rem;
		}
	}
	
	.b-category__title {
		text-align: center;
	}
	.b-category__column {
		@extend %w-100;
	}

	.wrapper-mob {
		padding: 0;
	}

	.f-form__content-multiple {
		flex-wrap: wrap;
	}
	.f-form__content-multiple-item:first-child,
	.f-form__content-multiple-item:last-child {
		width: 100%;
		text-align: center;
	}

	.f-form__content-multiple-item:last-child {
		margin-top: 2rem;
	}

	.b-job { padding: 0; }

	.b-vacancies__tab {
		@extend %w-100;

		&-title {
			text-align: center;
		}

		&-container {
			flex-direction: column;
			align-items: center;
		}
	}

	.b-spoiler {
		&-title {
			padding: 2rem 0 2rem 3rem;
			font-size: 1.6rem;
			&:after {
				left: 1rem;
			}
			
			&.active {
				& + .b-spoiler-content {
					padding: 2rem;
				}
			}
		}

		&__column {
			max-width: 100%;

			&:not(:last-child) {
				margin: 0 0 2rem 0;
			}
		}

		&-text {
			font-size: 1.6rem;
		}

		&-content--flex {
			flex-wrap: wrap;
		}

		&__link {
			margin: auto;
		}
	}

	.b-vacancy__info {
		padding-left: 1rem;

		&-item,
		&-title { font-size: 1.6rem;}
	}

	.b-vacancy__apply { float: none; }

	.questionnaire {
		@extend %w-100;

		&__input {
			width: 95%;

			&--phone {
				margin-left: 1rem;
				width: calc(95% - 5rem);
			}

			&--serial {
				width: 6.5rem;
				margin-right: 1rem;
				&-num {
					width: 17rem;
				}
			}
		}

		&__multiple {
			flex-wrap: wrap;

			&--flexs {
				justify-content: flex-start;
			}	
		}
	}

	.program {
		@extend %w-100;
		max-width: 40rem;
	}

	.s-profile__info,
	.messages {
		@extend %w-100;
	}
	
	.message {
		&s__container {
			margin: 0;
		}
		&__text,
		&__date {
			padding: 0 1rem;
		}
		&__text {
			width: calc(100% - 8rem);
		}

		&__date {
			width: 8rem;
		}
	}

	.chat {
		margin: 0;

		&__header {
			padding: 1.5rem 1rem;
		}

		&__body {
			padding: 0 1.5rem;
		}

		&__message {
			width: 100%;
			max-width: 40rem;
			padding: 1rem;
		}
		
		&__send {
			padding-right: 0;
		}
		&__send-input {
			padding-left: 2rem;
		}
	}

	.f-support {
		flex-wrap: wrap;

		fieldset { @extend %w-100; }

		textarea { 
			width: 100%;
			height: 20rem;
		}

		&__textarea {
			margin-bottom: 2rem;
		}

		&__docs { text-align: center; }
	}

	.private-support__info {
		margin: 0 0 2rem 0;
	}

	.application {
		flex-wrap: wrap;
		flex-direction: column;
		border-left: none;
		border-top: 2rem solid $first-color;

		&__info,
		&__block {
			width: 100%;
			padding: 1rem;
		}

		&__block {
			border-left: 0;
		}
	}

	.overlay {
		justify-content: flex-start;
		.b-main-form--popup {
			width: 85%;

			fieldset {
				padding: 1rem 1rem 2rem 1rem;
			}
			.b-form-item {
				margin-bottom: 1rem;
			}

			.b-main-form__total-content {
				padding: 0;

				p {
					margin: 0 0 1rem 0;
				}
			}
			
			.b-main-form__total-cost {
				span:last-child {
					font-size: 1.6rem;
				}
			}		
		}

		.b-btn-close {
			right: -3.5rem;
			display: block;
		}

		.f-form {
			width: 85%;
			margin: 0;

			&__content {
				padding: 1rem;

				&-message {
					margin: 0 0 2rem 0;
					font-size: 1.4rem;
				}
			}

			&__footer {
				margin: 0;
			}
		}
		
		.b-input {
			width: 99%;
			margin: 0 0 1rem 0;
		}
		.b-btn-primary {
			width: 20rem;
			font-size: 1.4rem;
		}
	}
}

@media only screen and (max-width: 568px) {
	.questionnaire {
		&__multiple {
			.b-select,
			.b-checkbox  {
				margin: 1rem 0;
			}

			.b-checkbox  {
				margin-right: 1rem;
			}
		}

		.b-checkbox {
			font-size: 1.4rem;
		}
	}

	.b-step {
		width: 95%;

		&__content-abs {
			transform: translate(10%, -50%);
		}

		&-title {
			font-size: 1.8rem;
		}
		&__content {
			margin-left: 1rem;
		}
		&-number {
			width: 7rem;
			height: 7rem;
			line-height: 7rem;
		}
	}

	.b-personal {
		flex-wrap: wrap;
		justify-content: center;
		padding: 2rem;

		&__alert {
			margin: 0;
			width: 100%;
			max-width: 27rem;
		}
	}
	
	.b-main-form__content {
		padding: 3rem 2rem 6rem 2rem;
	}
	.b-main-form__total {
		padding: 6rem 2rem 3rem 2rem;
	}
	.b-main-form__content-title {
		text-align: center;
		span {
			display: inline-block;
			width: 100%;
			margin-bottom: .5rem;
		}
	}

	.b-review__person { transform: translateX(4%);}

	.s-credits,
	.s-review {
		.wrapper{ padding: 0; }
	} 

	.b-form-group {
		margin: 0;
		padding-bottom: 0;
	}

	.b-review {
		width: 100%;
		padding: 10rem 2rem 3.5rem 2rem;
		&:after {
			display: none;
		}

		&__person-info {
			padding: 0 0 0 1rem;
		}
	}

	.b-value {
		flex-wrap: wrap;
		&__info {
			width: 100%;
		}
		.icon {
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: -3rem;
		}
	}

	.s-blog {
		padding: 2rem 0;
	}

	.b-blog {
		&-nav {
			margin-top: 4rem;

			&__btn {
				display: none;
				&.active {
					display: inline-block;
				}

				&.is-showed {
					display: inline-block;
				}
			}

			&__btn-prev,
			&__btn-next {
				margin: 0;
			}
		}
	}
	
}

@media only screen and (max-width: 375px) {
	.b-spoiler {
		&-title {	
			&.active {
				& + .b-spoiler-content {
					padding: 2rem 1rem;
				}
			}
		}
	}
	.b-arrows {
		display: none;
	}
	.b-section-title {
		font-size: 2.8rem;
	}

	.mobile-title {
		&__bottom {
			text-align: center;
		}
	}

	.b-main-form--prime { 
		.b-form-item {
			width: 93%;
			margin: 0 auto;
		}

		.b-main-form__content {
			padding: 5rem 1rem 10rem 1rem;
		}
		.b-main-form__content {
			padding: 8rem 1rem 10rem 1rem;
		}
	}
	
	.s-advanteges-content__item {
		svg {
			width: 40%;
			height: 40%;
		}

		&-caption {
			margin: 0;
			font-size: 1.3rem;
		}
	}

	.s-review { padding: 2rem 0 0 0; }

	.s-media { padding: 4rem 0; }

	.s-footer {
		&-contacts {
			margin: 0;
		}
	}

	.s-footer .s-footer__social {
		margin-top: 1rem;
		a:not(:last-child) {
			margin-right: 1rem;
		}
		.icon {
			padding: 0 1rem;
			font-size: 2.8rem;
		}

	}

	.b-tel,
	.b-tel span {
		word-spacing: inherit;
		letter-spacing: inherit;
	}

	.b-step {
		width: 100%;

		&-number {
			width: 5rem;
			height: 5rem;
			margin-right: 1rem;
			line-height: 5rem;
			font-size: 3rem;
			border-radius: 1rem;

		}

		&__content {
			margin: 4rem 0;
			padding: 1.5rem 1rem;

			&--special {
				margin-top: 6rem;

				&-item:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}

			&-data {
				margin-bottom: 1rem;
			}

			&-abs {
				padding: 1rem 1rem 0 1rem;
				transform: translate(0, -50%);
			}

			&--card {
				margin: 3.4rem 0 0 0;
				padding: 0 ;

				img {
					width: 95%;
				}
			}
		}
	}

	.b-main-form__total {
		padding: 4rem 1rem 1rem 1rem;
	}
	
	.s-about {
		&__wrap {
			padding: 1rem;
		}

		&-content__item-caption {
			font-size: 1.4rem;
		}
	}

	.s-response .wrapper {
		padding: 0;
	}

	.b-response {
		&-wrap {
			width: 100%;
		}
		padding: 8rem 1rem 4rem 1rem;
	}
}

@media only screen and (max-width: 320px) {
	.b-section-title {
		font-size: 2.3rem;
	}

	.s-advanteges-content {
		align-items: flex-start;

		&__item {
			padding: .2rem;
			svg {
				height: 8rem;
			}
		}
	}

	.s-packages {
		padding-top: 4rem;

		.slick-prev {
			left: 0;
		}

		.slick-next {
			right: 0;
		}
	}

	.b-response {
		border-radius: 0;
	}
}