@import 'normalize';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';
@import 'slick';
@import 'slick-theme';
@import 'variables';
@import 'mixins';
@import 'fonts';

html {
	font-size: 10px;
	font-family: 'PF Bague Sans Pro';
}

body {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

fieldset { 
	margin: 0;
	border: none; 
}

* {
	box-sizing: border-box;
}

@import 'placeholders';

.wrapper {
	max-width: 117rem;
	margin: 0 auto;

	&--flex {
		display: flex;
		justify-content: space-between;
	}
}

.b-section-header {
	position: relative;
	padding-bottom: 3rem;
	@include line(1rem);

	&--secondary {
		color: #fff;

		&:after {
			background-color: #fff;
		}
	}
}

.b-section-title {
	margin: 0;
	font-size: 30px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
}

.b-section-subtitle {
	display: inline-block;
	position: relative;
	max-width: 63rem;
	margin: 2rem 0 0 0;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 1.429;
	text-align: center;
}

/*#Sections*/

.s-header {
	position: relative;
	background: #fff;
	font-size: 1.2rem;
	z-index: 3;
	box-shadow: 0 0 30px rgba(#000, .4);

	.wrapper {
		display: flex;
		align-items: center;
		padding: 2rem 0;
	}

	&__phone {
		padding-top: .2rem;
		margin: 0 auto 0 0;

		a {
			display: block;
			font-size: 2.3rem;
			color: $first-color;
		}
	}

	&__lang {
		display: flex;
		font-weight: bold;
		margin: 0 pxtopercent(75);
	}
}

.s-main {
	position: relative;
	background: linear-gradient(0deg, rgba(#000, .2)), url("../img/main-bg.jpg") no-repeat;
	background-size: cover;
	border-bottom-left-radius: $section-border-radius;
	border-bottom-right-radius: $section-border-radius;
	box-shadow: 0 1px 100px rgba(#000, .5);
	z-index: 2;
	overflow: hidden;

	.wrapper { align-items: center; }

	&__list {
		position: relative;
		padding-left: 0;
		margin: 3rem 4.5rem 0 0;
		align-self: flex-start;
		z-index: 3;

		li {
			display: block;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		&-title { font-weight: bold; }
	}

	&-title {
		padding: 5rem 0 0 pxtopercent(90);
		margin: 9rem 0 0 0;
		text-transform: uppercase;
		letter-spacing: 1px;

		span {
			display: block;
		}

		&__top {
			color: rgba(#fff, .7);
			font-size: 2.6rem;
			font-weight: normal;
		}

		&__middle {
			font-size: 5.4rem;
			color: $first-color;
		}

		&__bottom {
			padding-top: 1rem;
			font-size: 1.8rem;
			text-align: right;
			letter-spacing: 2px;
			color: #fff;
			text-shadow: 1px 1px 10px #fff;
		}
	}
}

.s-credits {
	position: relative;
	background: linear-gradient(0deg, rgba(#000, .7)),
	url("../img/david-angel.jpg") center no-repeat;
	background-size: cover;
	border-bottom-left-radius: $section-border-radius;
	border-bottom-right-radius: $section-border-radius;
	box-shadow: 0 1rem 10rem rgba(#000, .3);
	overflow: hidden;
	z-index: 2;
}

.s-advanteges {
	position: relative;
	margin-top: -15rem;
	background: url("../img/bg-grn.png") no-repeat;
	background-position: 100% 800px;
	z-index: 1;

	.wrapper { align-items: center; }

	&-header {
		position: relative;
		padding: 22rem 0 6.3rem 0;
		margin-bottom: 4rem;
		background-color: #EBEBEB;
		border-bottom-left-radius: $section-border-radius;
		border-bottom-right-radius: $section-border-radius;
		text-align: center;

		@include line(4rem);
	}

	&-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 35%;

		&__item {
			@extend %svg-item;
			width: calc(50% - 1rem);
		}
	}

	&-message {
		display: flex;
		padding-right: 3rem;
		border: 3px solid #000 ;
		width: 58%;

		&__image-box {
			padding: 2.5rem;

			svg {
				display: inline-block;
				vertical-align: top;

				&:first-child {
					width: 6rem;
					height: 6rem;
				}

				&:nth-child(2) {
					margin-top: -5rem;
					width: 9.5rem;
					height: 9.5rem;
					float: right;
				}

				&:nth-child(3) {
					width: 20rem;
					height: 20rem;
				}
			}
		}

		&__content {
			padding: 4rem 0 1rem 0;

			&-title {
				margin: 0;
				font-size: 2rem;

				span {
					font-weight: normal;
					line-height: 1.184;

				}
			}

			&-main {
				margin: 2rem 0;
			}

			&-list {
				padding-left: 2.5rem;

				li {
					&:not(:last-child) {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}

.s-packages {
	padding: 11rem 0 6rem 0;
	background: radial-gradient( 100% 70% at top, #fff 80%, rgba(248,174,6, .9) 80%);
	background-color: #FFF;
	text-align: center;

	&-content {
		margin-top: 6rem;

		&__item {
			position: relative;
			max-width: 30rem;
			margin-right: 3rem;
			border-radius: 2rem;
			overflow: hidden;


			&-img {
				height: 42rem;
				background-repeat: no-repeat;
				background-size: cover;
			}

			&-wrap {
				min-height: 40rem;
				margin-top: -1rem;
				padding: 2.5rem 2.5rem 6rem 2.5rem;
				font-size: 1.4rem;
				background-image: $default-gradient;
				border-radius: 10px 10px 0 0;
				overflow: hidden;

				button {
					@include centX;
					bottom: 2rem;
					width: 24rem;
					font-size: 1.6rem;
					letter-spacing: 1px;
				}
			}

			&-subcaption {
				margin: 0;
			}

			&-caption {
				position: relative;
				margin: 1rem 0 3.5rem 0;
				font-size: 2.4rem;
				text-transform: uppercase;

				@include line(-1.5rem)
			}

			&-info {
				display: flex;
				flex-wrap: wrap;
				margin: 0 0 1.5rem 0;
				line-height: 1.4;

				b {
					display: inline-block;
					text-align: left;
					margin-left: auto;
					width: 65%;
				}
			}
		}
	}
}

.s-howto {
	padding: 8rem 0;
	background-color: #fff;
	background-image: radial-gradient( 120% 80% at top, #fff 100%, rgba(248,174,6, .9) 90%);
}

.s-review {
	position: relative;
	z-index: 1;
	background-color: rgba(248,174,6, .9);
	padding: 10rem 0;
}

.s-region {
	padding: 13rem 0;
	background: linear-gradient(rgba(#fff, .1)), url("../img/map-ukraine.jpg") no-repeat;
	background-color: #fff;
	background-position: 50% 80%;
	background-size: 80rem 50rem;
}

.s-media {
	padding: 7rem 0;
	background-color: #fff;
}

.s-info {
	position: relative;
	z-index: 2;
	padding: 6rem 0;
	border-bottom-left-radius: $section-border-radius;
	border-bottom-right-radius: $section-border-radius;
	overflow: hidden;
	background-color: #EBEBEB;

	.wrapper { flex-wrap: wrap; }
}

.s-footer {
	position: relative;
	$h: 14rem;
	margin-top: -$h;
	padding: ($h+6rem) 0 3rem 0;
	background-color: $first-color;
	z-index: 1;
	overflow-x: hidden;

	.wrapper {
		flex-wrap: wrap;
		align-items: flex-start;
	}

	&-contacts,
	&-about,
	&-faq {
		@extend %b-footer-column;
	}

	&-nav {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		&__title {
			margin: 0 0 1rem 0;
		}

		&__link {
			display: block;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			&:hover {
				color: #fff;
			}
		}
	}

	&-referal {

		&-wrap {
			position: relative;
			background-color: #fff;
			border-radius: 2rem 0 0 2rem;
			z-index: 2;

			&:after {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				z-index: 1;
				height: 100%;
				transform: translateX(100%);
				width: 1000rem;
				background-color: #fff;
			}
		}
		
		padding: 1rem;
		max-width: 27rem;

		&__title {
			margin: 0;
			color: $first-color;
			font-size: 1.4rem;
			text-transform: uppercase;
			line-height: 1.2;
		}

		&__text {
			font-size: 12px;
		}

		button {
			width: 85%;
			margin: 0;
		}
	}

	&-base {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		margin-top: 9.5rem;

		&__info {
			margin-right: auto;
		}

		&__social {
			a {
				transition: color .3s;

				&:not(:last-child) {
					margin-right: 2rem;
				}

				&:hover {
					color: #fff;
				}
			}
			.icon {
				padding: 0 2rem;
				font-size: 3rem;
			}
		}
	}
}

/*#About page*/

.s-head {
	padding: 3.5rem 0 3rem 0;
	background-color: $second-color;

	&__nav {
		display: flex;
		width: pxtopercent(985);
		justify-content: space-between;
		text-transform: uppercase;
		font-size: 1.2rem;
		font-weight: bold;

		a {
			padding: 0;
			text-transform: uppercase;
			transition: color .2s;

			&:hover {
				color: $first-color;
			}
		}
	}
}

.b-top-nav {
	padding: 5.5rem 0;
	&__item {
		font-size: 1.4rem;
		position: relative;
		padding: 0 2rem 0 0;

		&:not(:last-child) {
			&:after {
				content: $icon-arrow;
				font-family: $global-font-icon;
				@include centY;
				right: 1rem;
				font-size: 1rem;
			}
		}

		&.active {
			color: $first-color;
		}
	}
}

.b-top-title {
	text-transform: uppercase;
	margin: 0 0 3rem 0;
}

.s-about {
	position: relative;
	z-index: 2;
	background: url("../img/s-about-bg.jpg") center no-repeat;
	background-position: 100% 0;
	background-size: cover;
	border-bottom-left-radius: $section-border-radius;
	border-bottom-right-radius: $section-border-radius;
	overflow: hidden;

	&__wrap {
		position: relative;
		padding: 0 pxtopercent(30) 5.5rem 0;
		width: pxtopercent(800);
		background-color: #fff;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			width: 9000rem;
			height: 100%;
			background-color: #fff;
		}
	}

	&-info {
		padding-right: pxtopercent(230);

		&__title {
			margin: 0 0 2rem 0;
			text-transform: uppercase;
			font-size: 18px;
			color: rgb(54, 54, 54);
			line-height: 1.333;
			letter-spacing: 1px;
		}

		&__text {
			margin: 0 0 5rem 0;
			color: rgb(54, 54, 54);
			line-height: 1.25;
		}
	}

	&-content {
		display: flex;
		justify-content: space-between;
		margin: 0 0 4rem 0;

		&__item {
			@extend %svg-item;

			svg {
				width: 7.5rem;
				height: 7.5rem;
			}
		}
	}
	
}

.s-response {
	$h: 13rem;
	margin-top: -$h;
	padding: $h+4rem 0 6rem 0;
	background-image: $main-gradient;

	h2 {
		color: #fff;
	}

	&__info {
		margin: 2.5rem 0 4.5rem 0;
		line-height: 1.25;
		text-align: center;
		color: rgba(#fff, .9);
	}

}

.b-response {
	position: relative;
	padding: 8rem 4rem 4rem 4rem;
	background-color: #fff;
	background-image: linear-gradient( -90deg, rgb(253,251,251) 0%, rgb(235,237,238) 100%);
	border-radius: 1rem;
	max-width: 35rem;
	margin: 0 auto;

	&-wrap {
		$h: 3rem;
		padding-bottom: $h;
		@extend %review;

		&:after {
			top: 3rem;
			height: calc(100% - #{$h});
		}
	}

	&__icon { @extend %review-icon; }

	&__info {
		margin: 4rem 0;
		font-family: "Myriad Pro";
		color: rgba(17, 17, 17, 0.702);
		line-height: 1.5;
		text-align: center;
	}

	&__person {
		display: flex;
		justify-content: center;
		align-items: center;

		&-img {
			border-radius: 50%;	
		}

		&-info {
			margin-left: 2rem;

			p { margin: .5rem 0; }
		}
	}
}

.s-values {
	padding: 8.5rem 0 4.5rem 0;
}

.b-value {
	width: calc(50% - 2rem);
	display: flex;
	padding: 3rem 2.5rem;
	margin-bottom: 4rem;
	justify-content: space-between;
	align-items: flex-start;
	background-color: rgb(255, 249, 229);
	border-radius: 1rem;

	&-wrap {
		display: flex;
		margin-top: 8rem;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__info {
		width: 72%;

		&-title {
			margin: 0 0 1.5rem 0;
			font-size: 1.8rem;
			text-transform: uppercase;
		}

		&-text {
			margin: 0;
			font-size: 14px;
			line-height: 1.571;
		}
	}

	.icon {
		position: relative;
		top: -5rem;
		display: block;
		width: 12rem;
		height: 12rem;
		background: $main-gradient;
		border-radius: 1rem;

		&:before {
			@include cent;
			font-size: 8rem;
			color: #fff;
		}
	}
}

.s-contacts {
	padding: 0 0 11rem 0;

	.wrapper {
		display: flex;
		justify-content: space-between;
	}
}

.b-main-container {
	width: pxtopercent(870);
}

.b-sidebar {
	width: 27rem;
	padding: 4rem 0;

	&-banner {
		max-width: 27rem;
		position: relative;
		padding: 2rem 0;
		margin-bottom: 3rem;
		text-align: center;
		background: linear-gradient(0deg, rgba(#fff, .75)), 
		url("../img/grn.jpg") center;
		background-size: contain;
		border-radius: 1rem;

		&__title {
			margin: 0 0 1rem 0;
			font-size: 1.4rem;
			text-transform: uppercase;

			span {
				font-weight: normal;
			}
		}

		&__img {
			position: absolute;
			bottom: 0;

			&--left{ 
				left: 0;
				transform: translateX(-30%);
			}

			&--right {
				right: 0;
				transform: translateX(30%);
			}
		}
	}

	&-article {

		&:not(:last-child) {
			margin-bottom: 4rem;
		}

		&__title {
			margin: 1.5rem 0;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1.286;
		}

		&__text {
			margin: 0 0 2rem 0;
			font-size: 12px;
			line-height: 1.667;
		}

		&__link {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.4rem;
			color: $first-color;
		}

		&__date {
			float: right;
			font-size: 12px;
			color: rgb(204, 204, 204);
			line-height: 2;
			letter-spacing: .5px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

.b-contact {
	width: 27rem;
	height: 27rem;
	padding: 2rem;
	background-color: #F9F9F9;
	border-radius: 2rem;
	text-align: center;

	&-wrap {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0 0 3rem 0;
	}

	svg {
		width: 40%;
	}

	&__title {
		margin: 0 0 1rem 0;
	}

	&__link {
		font-weight: bold;
		color: $first-color;

		&--bg {
			font-size: 1.8rem;
		}

		&--iconed {
			position: relative;
			padding: 0 .5rem 0 2rem;
			line-height: 1.1;

			&:hover {
				.icon {
					color: $first-color;
				}	
			}

			.icon {
				@include centY;
				left: .7rem;
				font-size: 1.3rem;
				color: #000;
			}
		}
	}
}

.b-contact-info {
	flex: 1;
	margin-right: 3rem;

	&__item {
		margin: 0 0 2.5rem 0;
		font-size: 14px;
		line-height: 1.2;

		&--bg {
			font-size: 1.8rem;
		}
	}

	a {
		font-size: 1.8rem;
	}
}	

.f-contact {
	max-width: 37rem;
	&__title {
		margin: 0 0 2rem 0;
		font-size: 2.4rem;
	}
	&-input,
	&-textarea {
		width: 100%;
		padding: 1rem 2rem;
		margin-bottom: 1rem;
		border-radius: 5px;
		border: 1px solid rgb(204, 204, 204);
		transition: all .3s;

		&::placeholder {
			color: rgb(204, 204, 204);
		}

		&:focus {
			color: #000;
			outline: none;
			border: 1px solid $first-color;

			&::placeholder { color: $first-color; }
		}
	}

	&-textarea { height: 14rem; }
}

.s-agreement {
	padding-bottom: 8rem;

	&__img { max-width: 100%; }

	&__text {
		margin: 3rem 0;
		padding-right: 3rem;
		font-size: 14px;
		line-height: 1.429;
		height: 50rem;
		overflow-y: scroll;

		@include scrollbar(5px, $first-color);
	}
}

.s-help {
	.wrapper {
		flex-wrap: wrap;
	}
}

.b-help {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-between;

	&__head {
		width: 100%;
		padding: 2rem 0;
		margin: 0 0 3rem 0;
		background-color: $second-color;

		&-title {
			margin: 0;
			font-size: 22px;
			line-height: 0.818;
		}

		&-info {
			font-size: 14px;
			line-height: 1.286;
		}
	}

	&-item {
		width: pxtopercent(370);
		margin-bottom: 3rem;
		padding: 3.5rem 0;
		border-radius: 1.5rem;
		border: 1px solid $first-color;
		background-color: #F9F9F9;
		transition: all .3s;

		&__caption {
			margin: 2rem 0 0 0;
			text-transform: uppercase;
		}

		svg { width: 9.5rem; }

		&:hover {
			background-color: $first-color;

			h4 { color: #fff; }

			svg .tr1{ fill: #fff; }
		}

	}
}

.b-category {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 5rem 0;

	&__title {
		width: 100%;
		font-weight: normal;
		font-size: 24px;
		color: rgb(54, 54, 54);
		line-height: 1.5;
	}

	&__column {
		width: pxtopercent(270);
	}

	&__item {
		margin-bottom: 4rem;

		&-title {
			margin: 0 0 3rem 0;
			font-size: 20px;
			line-height: 1.8;
			border-bottom: 1px solid rgba(#000, .2);
		}

		&-link {
			$link-color: rgb(105, 191, 241); 
			display: block;
			position: relative;
			padding-left: 2.5rem;
			font-size: 16px;
			color: $link-color;
			line-height: 1.25;
			font-weight: bold;

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}

			&:after {
				font-family: $global-font-icon;
				content: $icon-arrow $icon-arrow;
				position: absolute;
				top: 2.5px;
				left: 0;
				font-size: 1.2rem;
				color: #ccc;
				transition: all .2s;
			}	

			&:hover {
				color: rgba($link-color, .8);
				&:after {
					color: $link-color;
					transform: translateY(-12%) scale(1.05);
					font-size: 1.5rem;
				}
			}
		}
	}
}


.b-job {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: pxtopercent(45);

	&-info {
		width: pxtopercent(370);

		&__img {
			max-width: 100%;
		}

		&__text {
			margin: 2rem 0 4rem 0;
			font-size: 14px;
			line-height: 1.429;
		}

		&__link {
			position: relative;
			display: block;
			margin-bottom: 1.5rem;
			padding-left: 5rem;
			transition: color .25s;

			&-title {
				display: block;
				font-size: 1.2rem;
				font-weight: bold;
				color: rgb(204, 204, 204);
				text-transform: uppercase;
			}

			&-adress {
				font-size: 18px;
				font-weight: bold;
				color: rgb(252, 196, 0);
			}

			.icon {
				position: absolute;
				left: 1.5rem;
				transition: color .25s;

				&--candidate {
					bottom: 0;
					font-size: 4rem;
				}
				
				&--phone-call {
					top: 0;
					font-size: 3rem;
				}
			}

			&:hover {
				.icon {
					color: $first-color;
				}
			}
		}
	}
}

.b-vacancies {
	width: pxtopercent(750);
	min-height: 94rem;

	&__tab {
		margin-bottom: 2rem;
		padding: 1rem 5rem;
		border-radius: 10px;
		border: 1px solid transparent;
		background-color: rgb(251, 251, 251);
		font-weight: bold;
		text-transform: uppercase;

		&.active {
			background-color: $first-color;
			color: #fff;
		}

		&:hover {
			border-color: $first-color;
		}

		&-container {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 2.5rem;
			font-size: 14.583px;
			line-height: 1.2;
		}

		&-title {
			width: 100%;
			margin: 0 0 1.5rem 0;
			text-transform: uppercase;
		}
	}

}

.b-vacancy {
	border-top: 1px solid #EBEBEB;

	&:last-child {
		border-bottom: 1px solid #EBEBEB ;
	}

	&-container {
		display: none;

		&:not(.active){
			opacity: 0;
		}

		&.active {
			display: block;
		}
	}

	&__content {
		padding: 0 7rem;
		background-color: $second-color;
		@include clearfix;
		transition: height .5s;
		height: 0;
		overflow: hidden;
	}

	&__title {
		position: relative;
		margin: 0;
		padding: 2rem 2rem 2rem 7rem;
		font-size: 21px;
		text-transform: uppercase;
		color: $first-color;
		cursor: pointer;
		transition: color .3s;

		&:after {
			font-family: $global-font-icon;
			content: $icon-arrow;
			@include centY;
			left: 3rem;
			font-size: 1.5rem;
			transition: transform .3s;
		}

		&.active {
			color: #000;

			&:after {
				transform: translateY(-50%) rotate(90deg);
			}
			& + .b-vacancy__content {
				height: 45rem;
			}
		}
	}

	&__info {
		margin: 0 0 3.5rem 0;
		list-style: none;

		&-title {
			margin: 4rem 0 2.5rem 0;
			font-size: 18.75px;
			text-transform: uppercase;
			line-height: 1.067;
		}

		&-item {
			position: relative;
			font-size: 18.75px;
			&:before {
				@include centY;
				content: "-";
				left: -1rem;
			}
		}
	}

	&__apply {
		margin: 0 0 4rem 0;
		float: right;
	}
}
/*#Blocks */


.b-logo {
	margin-right: pxtopercent(30);

	svg {
		width: 7rem;
		height: 3.5rem;
	}
}

.b-nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-weight: bold;
	margin-left: auto;
	width: 43%;

	&__link {
		padding: .6rem .8rem;
		border-radius: 1rem;

		&:hover {
			background-color: $first-color;
		}
	}
}

.b-remind {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 27rem;
	margin: 1.5rem 0;
	font-size: 1.2rem;
	color: #b7b7b7;
	line-height: 1.7;

	&-checkbox {
		$h: 10px;

		input {
			display: none;

			&:checked + label:before {
				content: "\2713";
				font-size: 16px;
				font-weight: bold;
				color: $first-color;
				text-align: center;
				line-height: $h;
				border-color: $first-color;
			}

			&:checked + label {
				color: $first-color;
			}
		}

		label {
			position: relative;
			padding-left: 2rem;
			cursor: pointer;

			&:before {
				content: "";
				@include centY;
				left: 0;
				width:  $h;
				height: $h;
				border: 2px solid #ccc;
			}
		}	
	}

	&-link {
		line-height: 1.5;
		border-bottom: 1px solid currentcolor;
		&:hover {

			color: $first-color;
		}
	}
}


/*#Forms*/


.f-form {
	position: relative;
	max-width: 52rem;	
	margin: 5rem auto;
	background-color: rgb(247, 247, 247);
	border-radius: 0 0 2rem 2rem;

	&__title {
		@extend %gradient-title;
		text-align: center;
		font-size: 1.8rem;
		text-transform: uppercase;
		border-radius: 2rem 2rem 0 0;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem pxtopercent(150);

		&--stretch {
			padding: 2rem 3.5rem;
		}

		&-multiple {
			display: flex;
			justify-content: space-between;

			&-item {
				margin: 0;
				font-size: 14px;
				color: rgb(54, 54, 54);
				line-height: 1.2;

				&:first-child {
					width: 52%;
				}

				&:last-child {
					width: 42%;
				}
			}
		}

		&-message {
			margin: 2rem 0 4rem 0;
			font-size: 1.4rem;
			text-align: center;
			color: rgb(54, 54, 54);
			line-height: 1.2;

			&--sc {
				margin: 1rem 0 2rem 0;
			}

			&--big {
				font-size: 1.8rem;
			}
		}

		&-img {
			display: block;
			margin: 0 auto 1.5rem auto;
			max-width: 8.5rem;		
		}

		&--secondary {
			padding: 0 pxtopercent(150) 0 pxtopercent(150);

			.f-enter__content-message {
				margin: 1.5rem 0;
			}
		}
	}

	&__counter {
		&-info {
			font-family: "Myriad Pro"; 
		}

		&-heart {
			text-transform: uppercase;
			font-size: 1.8rem;
			color: $first-color;
			letter-spacing: .5px;
			font-weight: bold;

			span {
				font-size: 3rem;
			}
		}
	}

	&__input {
		padding: 1.2rem 2rem;
		border: none;
		border-radius: 1rem;
		background-color: rgb(235, 235, 235);
		width: 27rem;
		transition: all .3s;

		margin-bottom: 1.2rem;


		&:focus {
			outline: none;
			background-color: rgb(243, 243, 243);
		}

		&--serial {
			width: 8.3rem;
			margin: 0 1.2rem 0 0;
		}

		&--number {
			width: 17.3rem;
			margin: 0;
		}
	}

	&__footer {
		padding: 2rem 0;
		margin-top: 2rem;
		text-align: center;
		background: $main-gradient;
		border-radius: 0 0 2rem 2rem;

		&-title {
			font-size: 1.4rem;
			font-weight: normal;
			color: #fff;
			margin: 0 0 1rem 0;
		}

		&-link {
			color: rgba(#fff, .6);
			font-weight: bold;
			text-transform: uppercase;
			border-bottom: 1px solid currentcolor;
			transition: color .3s;

			&:hover {
				color: #fff;
			}
		}

		&--sm {
			padding: .75rem 0;
		}
	}

}

%flex-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.f-callback {
	&-left {
		padding: 4.5rem 0;
		background: linear-gradient(0deg, rgba(#fff, .9)),
		url("../img/smartphone.jpg") center no-repeat;
		background-size: cover;
		@extend %flex-form;
	}

	&__img {
		margin-bottom: 3rem;
		border-radius: 50%;
	}

	&__info {
		width: 60%;
		margin: 0 0 3rem 0;
		text-align: center;

		&-title {
			margin: 0 0 1rem 0;
			font-size: 2rem;
			text-transform: uppercase;
		}

		&-text {
			margin: 0;
			font-size: 12px;
			line-height: 1.5;
		}

		&--secondary {
			margin-bottom: 6rem;
			color: #fff;
		}
	}

	&__caption {
		margin: 0;
		color: #fff;
		text-transform: uppercase;
	}

	&-right {
		padding: 8.5rem 0 1rem 0;
		background: $main-opacity-gradient, url("../img/grn.jpg") center no-repeat;
		background-size: cover;
		@extend %flex-form;

		.b-total-number  {
			margin: 0 0 4.5rem 0;
			font-weight: bold;
			color: #000;
			text-align: center;
			line-height: 1;
			&__count {
				font-size: 4.6rem;
			}
			&__caption {
				font-size: 2rem;
			}
		}
	}	
}

.already-link {
	text-transform: uppercase;
	font-size: 1.2rem;
	color: rgba(#fff, .7);
	letter-spacing: .5px;

	b {
		color: #fff;
	}

	&:hover {
		color: #fff;
	}
}

.b-main-form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	border-radius: 0 0 $form-border-radius $form-border-radius;
	overflow: hidden;

	&-container {
		position: relative;
		min-width: 35rem;
		min-height: 51.8rem;
		z-index: 2;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			width: 9000rem;
			height: 100%;
			background-color: rgb(235, 235, 235);
			z-index: 1;
		}
	}

	&__content {
		position: relative;
		width: pxtopercent(735);
		padding: 3rem 4rem;
		background: $main-opacity-gradient,
		url('../img/grn.jpg') center no-repeat;
		background-size: cover;	

		&-title {
			margin: 0 0 .5rem 0;
			text-transform: uppercase;
			font-size: 1.2rem;
			letter-spacing: .5px;		

			span {
				padding-right: 2rem;
				font-size: 2rem;
				font-weight: bold;
				letter-spacing: 1px;
				color: #fff;
			}
		}

		&-message {
			margin: 0 0 1rem 0;
			letter-spacing: 1px;
			font-size: 1.2rem;
			font-weight: normal;
		}
	}

	&__total {
		flex: 1;
		padding: 3rem 3rem .9rem  pxtopercent(67);
		position: relative;
		color: $unactive-color;
		background-image: linear-gradient( -85deg, rgb(253,251,251) 0%, rgb(235,237,238) 100%);

		&-info {
			display: inline-block;
			vertical-align: top;
			text-align: left;

			p { margin: .5rem 0 0 0; }

			span { color: $first-color; }
		}

		&-content {
			margin-top: 2rem;

			span:first-child {
				display: inline-block;
				width: 16rem;
			}

			span:last-child {
				color: #000;
			}
		}

		&-cost {
			margin-top: 2rem;

			span:last-child {
				font-size: 18px;
				color: $first-color;
			}
		}
	}

	&--prime {
		display: none;
		flex-direction: column;
		overflow: visible;

		&.active {
			display: flex;
		}

		&[data-form="2"] {
			opacity: 0;
			&:after {
				top: 21.9rem;
			}
		}

		&[data-form="3"] {
			opacity: 0;
			&:after {
				top: 35rem;
				border-right-color: #fff;
			}
		}

		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 10rem;
			width: 0; 
			height: 0; 
			transform: translateX(-100%);
			border-top: 3rem solid transparent;
			border-bottom: 3rem solid transparent; 
			border-right: 2rem solid #F9C825;
			z-index: 3;
		}

		.b-main-form__content {
			position: relative;
			width: 100%;
			padding: 5rem 3rem 6rem 3rem;
			border-bottom-left-radius: 50% 4rem ;
			border-bottom-right-radius: 50% 4rem ;
			overflow: hidden;
			z-index: 2;
		}

		.b-main-form__total {
			position: relative;
			background: #fff;
			$m: 8rem;
			margin-top: -$m;
			padding: $m 4rem 4rem 4rem;
			z-index: 1;
		}

		.b-form-item:not(:last-child) {
			margin-bottom: 3.4rem;
		}
		.b-form-item__input {
			margin: 0 1rem 0 auto;
		}

		.ui-slider {
			width: 100%;
			margin: 2rem 0;
		}

		.ui-slider-helper {
			width: 60%;

			&--sm {
				width: 69%;
			}
		}
	}
}

.b-form-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

	&__label {
		display: inline-block;
		min-width: 16rem;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__input {
		@extend %main-input;
		margin: 0 1rem 0 1.7rem;
		font-size: 2.2rem;

		&--first { width: 8.5rem; }

		&--second { width: 4.5rem; }
	}
}

.b-form-group {
	display: flex;
	margin-top: 2rem;
	@include border-radius($form-border-radius);
}


.b-personal {
	display: flex;
	width: pxtopercent(735);
	padding: 10rem pxtopercent(60) 6rem pxtopercent(100);
	background-color: rgba(54, 54, 54, .8);
	color: #fff;

	&__alert {
		max-width: 25.5rem;
		margin: 0 1rem 0 0;
		@extend %personal-info;
	}

	&-form {
		position: relative;

		&__title {
			position: absolute;
			top: -9.3rem;
			font-size: 2rem;
			line-height: 1.2;
		}
	}
}

.b-callback {
	flex: 1;
	padding: 3rem pxtopercent(67) 3rem 3rem;
	background-image: $main-opacity-gradient;
	box-shadow: 0px 4px 18px 2px rgba(246, 166, 14, 0.25);

	&__title {
		margin: 0 0 2rem 0;
		font-size: 2rem;
	}

	&__info {
		@extend %personal-info;
		margin-bottom: 1rem;
	}
}

/*#End of forms*/

.b-total-number {
	position: relative;
	display: inline-block;
	margin-right: 3rem;
	color: #F7A80D;
	text-transform: uppercase;
	z-index: 2;

	&__bg {
		position: absolute;
		top: -1.5rem;
		left: -1rem;
		font-size: 7.2rem;
		z-index: 1;
		opacity: .2;
	}

	span { display: block; }	

	&__count {
		font-size: 3rem;
	}

	&__caption {
		letter-spacing: 2.2px;
	}
}

.b-step {
	position: relative;
	display: flex;
	width: 40%;
	margin-bottom: 4rem;

	&-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 4rem;
	}

	&__content {
		position: relative;
		min-height: 14.5rem;
		margin: 4rem 0 0 4rem;
		display: inline-block;
		border-radius: 1rem;

		&-img { max-width: 100%; }

		&--special {
			flex: 1;
			padding: 2.5rem 3rem;
			background: $main-opacity-gradient, 
			url("../img/grn.jpg") center no-repeat;
			background-size: cover;

			&-item {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;

				&:not(:last-child) {
					margin-bottom: 2.5rem;
				}

				span {
					font-weight: bold;

					&:nth-child(1) {
						width: 49%;
					}

					&:nth-child(2) {
						font-size: 2rem;
						margin: 0 .5rem 0 auto;
						padding: .2rem .5rem;
						background-color: rgba(#fff, .4);
						border-radius: 1rem;
						white-space: nowrap;
					}
				}
			}

			&:before {
				@include triangle(right, $first-color, 1.8rem, 6rem);
				position: absolute;
				right: 100%;
				top: 20%;
			}
		}

		&--main {
			padding: 2rem 4rem;
			@extend %main;
		}

		&--secondary {
			padding: 2rem 2rem 2rem 8rem;
			@extend %main;
		}

		&-abs {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(50%, -50%);
			padding: 2rem;
			background-color: rgb(43, 59, 78);
			border-radius: 1rem;
		}

		&-data {
			margin: 0;
			color: #fff;
			letter-spacing: .7px;
			line-height: 1.2;

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}

		&-total {
			color: $first-color;
			font-weight: bold;
			font-size: 2rem;

			span {
				font-size: 1.6rem;
			}
		}
	}

	&-number {
		$h: 10rem;
		width: 10rem;
		height: $h;
		border-radius: 2rem;
		background-image: $main-gradient;
		color: #fff;
		font-size: 4rem;
		line-height: $h;
		text-align: center;
	}

	&-title {
		position: absolute;
		margin: 0;
		left: 8rem;
		top: 1rem;
		font-size: 2.2rem;
	}
}

.b-arrows {
	position: absolute;
	top: 2.5rem;
	left: 3rem;
	display: inline-block;
	@extend %square; 
	transform: rotate(45deg);

	&:before {
		content: " ";
		position: absolute;
		top: 1rem;
		right: 1rem;
		@extend %square;
	}
}

.b-section-message {
	display: flex;
	justify-content: space-around;
	margin-top: 5rem;

	&__item {
		$p: 4.5rem;
		width: 45%;
		border-radius: 1.5rem;
		overflow: hidden;
		cursor: pointer;
		transition: opacity .3s;
		opacity: .5;

		&.active {
			opacity: 1;
		}

		&-title {
			@extend %gradient-title;
			padding: 1.5rem $p;
		}

		&-content {
			margin: 0;
			padding: 3rem $p;
			font-weight: 500;
			line-height: 1.375;
			background-image: linear-gradient( -180deg, rgb(253,251,251) 0%, rgb(235,237,238) 100%);
		}
	}
}

.b-section-cards {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-top: 14rem;

	&__item {
		position: relative;
		display: flex;
		align-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 45%;

		&:firts-child { padding-bottom: 12rem; }


		&-square {
			width: 17rem;
			height: 6rem;
			margin-top: 3rem;
			background-color: #ccc;
			border-radius: 1rem;

			&:first-of-type {
				margin-left: pxtopercent(100, 1170/2);
			}

			&:nth-of-type(2) {
				margin-left: auto;
			}
		}

		.visa-img {
			max-width: 17rem;
			margin-right: pxtopercent(70, 1170/2);
		}

		.master-card {
			max-width: 10rem;
		}

		.svg-bank {
			width: 100%;
			height: 48rem;
		}
	}

	&__icons {
		position: absolute;
		bottom: 0;
		display: flex;
		width: 100%;
		justify-content: space-between;
		color: #fff;

		.icon {
			position: relative;
			display: inline-block;
			padding-top: 7.5rem;
			text-align: center;

			&:before {
				@include centX;
				top: 1rem;
				font-size: 6rem;
			}
		}
	}
}

.b-review {
	@extend %review;
	background-color: #fff;
	background-image: linear-gradient( -90deg, rgb(253,251,251) 0%, rgb(235,237,238) 100%);
	margin-top: 7rem;
	padding: 10rem pxtopercent(100) 3.5rem pxtopercent(100);

	&__info {
		position: relative;
		min-height: 14rem;
		margin-bottom: 2rem;
		line-height: 1.5;		
		color: rgba(17, 17, 17, 0.702);
		font-size: 18px;

		p {
			@include centY;
			margin: 0;
			width: 100%;
			opacity: 0;
			transition: 1s;

			&.active {
				opacity: 1;
			}
		}
	}

	&__icon {
		@extend %review-icon;
	}

	&__person {
		display: flex;
		align-items: center;
		cursor: pointer;

		&-wrapper {
			display: flex;
			justify-content: space-around;
		}

		&-img {
			position: relative;
			width: 8rem;
			height: 8rem;
			border-radius: 50%;
			overflow: hidden;

			@include img-gradient($first-color, .4);
		}

		&-info {
			padding: 0 2rem;
			transition: opacity .4s;
			opacity: .5;

			p {
				margin: 0;
				line-height: 1.3;
			}
		}

		&.active {
			.b-review__person-img {
				&:after {
					transition: all .4s;
					opacity: 0;
				}
			}

			.b-review__person-info {
				opacity: 1;
			}
		}
	}
}

.arrow {
	position: absolute;
	top: 50%;	
	left: 1.5rem;
	@extend %square;
	width: 1.5rem;
	height: 1.5rem;
	transform: translateY(-50%) rotate(45deg);
}

.b-media {
	display: flex;
	justify-content: space-between;
	margin-top: 6rem;

	&-item {
		position: relative;
		width: calc(33% - 20rem/3);
		text-align: center;
		padding-top: 23rem;

		&__img {
			@include centX;
			top: 0;
			width: 23rem;
			min-height: 23rem;
			border-radius: 50%;
			background-color: $first-color;
			overflow: hidden;

			svg {
				@include centX;
				top: 0;
			}

		}

		&__title {
			margin: 3rem 0 0 0;
			text-transform: uppercase;
		}

		&__info {
			margin: 2rem 0 3rem 0;
			padding: 0 2rem;
			font-size: 14px;
			font-family: "Myriad Pro";
			line-height: 1.429;
		}

		&__btn {
			width: 80%;
			padding: 1rem;
			color: #fff;
		}

		.svg-phone {
			top: -13rem;
			height: 50rem;
		}

		.svg-tablet {
			width: 23rem;
			height: 23rem;
			background-color: $first-color;
			border-radius: 50%;
		}

		.svg-house {
			width: 18.5rem;
			height: 18.5rem;
			background-color: $first-color;
		}
	}
}

.b-info {
	width: 100%;
	margin-bottom: 2rem;
	font-size: 1.4rem;

	&-wrapper {
		max-height: 32rem;
		margin-bottom: 2rem;
		padding: 0 pxtopercent(60) 0 0;
		overflow-y: scroll;

		@include scrollbar(5px, $first-color);
	}

	&__title {
		margin: 0 0 1rem 0;
		font-size: 1.8rem;
	}

	&__text {
		margin: 0;
		line-height: 1.3;
	}

	&-list {
		margin: 0 0 5.5rem 0;

		li {
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
	}

	&__list {
		padding-left: 0;
		list-style: none;
	}

	&--inline {
		width: 40%;
		margin-left: auto;
	}
}

.b-tel {
	display: inline-block;
	color: #fff;
	word-spacing: 5px;
	letter-spacing: 1.3px;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&--primary {
		font-size: 3rem;
		font-weight: bold;
		span {
			display: block;
			font-size: 1.4rem;
			font-weight: normal;
			letter-spacing: 1px;
			word-spacing: 1px;
		}
	}

	&--secondary {
		position: relative;
		padding: 1rem 1rem 1rem 3rem;
		font-size: 20px;

		.icon {
			@include centY;
			left: 1rem;
		}
	}
}

/*#Buttons*/

.b-btn {
	border: none;
	background-color: transparent;
	text-align: center;

	&--lang {
		color: #E4E4E4;
		text-transform: uppercase;
		padding: 0;
		transition: color .25s;

		&:hover {
			color: $first-color;
		}

		&:not(:last-child) {
			padding-right: 1.3rem;
			border-right: 1px solid #e4e4e4;
		}

		&:not(:first-child) {
			padding-left: 1.3rem;
		}

		.active {
			color: $first-color;
		}
	}

	&-login {
		$bd-radius: 5px;
		position: relative;
		height: 2.5rem;
		padding: 0 4rem 0 1.7rem ;
		border: none;
		border-radius: $bd-radius;
		background-color: #E4E4E4;
		font-size: 1.2rem;
		font-weight: bold;

		.icon {
			@include centY;
			right: 0;
			width: 2.5rem;
			height: 100%;
			border-radius: $bd-radius;
			color: #fff;
			background-color: $first-color;

			&:before {
				@include cent;
			}
		}
	}

	&-primary {
		display: block;
		margin: 0 auto;
		text-align: center;
		border: none;
		padding: 1rem;
		width: 27rem;
		color: #000;
		font-size: 1.8rem;
		border-radius: 10000rem;
		font-weight: bold;
		background-image: $main-gradient;
		transition: box-shadow .3s;

		&:hover { box-shadow: 0 0 4rem rgba(#fff, .5); }

		&--dark {
			background-color: #ccc;
			background-image: $secondary-gradient;
			color: $first-color;

			&:hover { box-shadow: 0 0 4rem rgba(#000, .5); }
		}

		&--light {
			margin: 2rem 0 1rem 0;
			max-width: 26rem;
			background: #fff;

			&:hover {
				box-shadow: 0 0 50px #fff;
			}
		}

		&--main {
			color: #fff;
			&:hover { box-shadow: 0 0 4rem rgba(#000, .5); }
		}

		&--sm {
			width: 26rem;
			font-size: 1.6rem;
		}

		&--formed {
			margin: 1rem 0 0 0;
			width: 26rem;
			font-size: 1.6rem;
			color: #fff;
			&:hover { box-shadow: 0 0 4rem rgba(#000, .5); }
		}

		&--bordered {
			width: 17rem;
			font-size: 1.2rem;
			text-transform: uppercase;
			border: 1px solid rgba(#fff, .2);
			box-shadow: 0 0 6px rgba(#000, .6);
		}
	}

	&-stretch {
		display: inline-block;
		margin: 2rem 0;
		padding: 1rem 3rem;
		font-size: 1.8rem;
		border-radius: 10000rem;
		font-weight: bold;
		background-image: $main-gradient;
		color: #fff;
		transition: box-shadow .3s;

		&:hover { box-shadow: 5px 5px 1rem rgba(#000, .3) };
	}

	&-main {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		width: 7rem;
		height: 7rem;
		border: 4px solid rgb(250, 189, 13);
		background: $secondary-gradient;
		box-shadow: 0px 1px 3.92px 0.08px rgba(21, 24, 33, 0.2);
		border-radius: 50%;

		&:hover {
			transition: all .3s;
			border-color: #fff;

			.icon {
				transition: all .3s;
				color: #fff;
			}
		}

		.icon {
			@include cent;
			font-size: 3.5rem;
			font-weight: normal;
			color: $first-color;
		}
	}

	&-close {
		position: absolute;
		top: -4rem;
		right: -8rem;
		width: 3rem;
		height: 3rem;
		border: 1px solid #ccc;
		background-color: transparent;

		&:after,
		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			height: 50%;
			width: 1px;
			background-color: #ccc;
		}

		&:after {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

	}

	&--secondary {
		display: block;
		position: relative;
		width: 11.3rem;
		height: 11.3rem;
		border-radius: 1rem;
		box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
		font-size: 10px;
		text-align: center;
		color: $unactive-color;

		&:hover,
		&.active {
			outline: none;
			background-image: linear-gradient( -85deg, rgb(252,196,0) 0%, rgb(246,164,15) 100%);
			color: #000;
		}

		.icon {
			display: block;
			margin-bottom: 1.2rem;
			text-align: center;
			font-size: 4rem;
		}
	}
}

/*#Inputs*/

.b-input {
	position: relative;
	width: 27rem;
	$bdrz: 10px;

	&:not(:last-of-type) { margin-bottom: 1.5rem; }

	&:last-of-type { margin-bottom: 3rem; }

	input {
		width: 100%;
		padding: 1rem 2rem 1rem 5.5rem;
		border-radius: $bdrz;
		border: none;
		background-color: rgba(#fff, .15);
		letter-spacing: 2px;

		&::placeholder {
			color: rgb(149, 149, 149);
			line-height: 1.25;
			transition: all .3s;
		}

		&:focus {
			outline: none;

			&::placeholder {
				color: #fff;
			}

			& + .icon {
				background-color: $first-color;
			}
		}

	}

	.icon {
		@include centY;
		left: 0;
		width: 4rem;
		height: 4rem;
		background-color: rgb(225, 225, 225);
		box-shadow: 0px 4px 18px 2px rgba(246, 166, 14, 0.25);
		border-radius: $bdrz;
		transition: all .4s;
		font-size: 2rem;

		&:before {
			@include cent;
		}
	}

	&--secondary {
		input {
			background-color: rgba(#fff, .9);

			&:focus {
				&::placeholder {
					font-weight: bold;
					color: #000;
				}

				& + .icon {
					opacity: 1;
				}
			}
		}

		.icon {
			left: 0;
			color: #fff;
			background-image: $secondary-gradient;
			opacity: .2;
			box-shadow: 0px 1px 3.92px 0.08px rgba(21, 24, 33, 0.2);
		}
	}

	&--main {
		input {
			letter-spacing: .5px;
			color: #000;
			background-color: #F3F3F3;

			&:focus {
				background-color: #fff;

				&::placeholder {
					color: #000;
				}
			}
		}
	}
}

/*#Slider*/

.ui {
	&-slider {
		position: relative;
		width: 32rem;
		margin: 1rem 0;

		&-handle {
			position: absolute;
			top: 50%;
			width: 13rem;
			height: 3rem;
			transform: translate(-50%, -40%);
			background: #FAC31D;
			border: 3px solid #fff;
			border-radius: 9000rem;
			text-align: center;
			line-height: 2.7rem;
			cursor: pointer;
			z-index: 2;
			transition: color .2s;

			.icon {
				@include centY;
				font-size: 1.2rem;
				font-weight: bold;
				z-index: 10;
				transition: color .2s;

				&--left {
					left: 10%;
					transform: translateY(-50%) rotate(180deg);
				}

				&--right {
					right: 10%;
				}
			}

			&--sm {
				width: 10rem;
			}

			&:focus {
				color: #fff;

				.icon {
					color: #fff;
				}
			}
		}

		&-val {
			font-weight: bold;
		}

		&-range {
			position:absolute;
			z-index:1;
			font-size:.7em;
			display:block;
			border:0;
			background-position:0 0;
		}

		&-horizontal {
			height: 14px;
		}

		&-helper {
			position: relative;
			width: 20rem;
			margin: 0 auto;

			&--sm {
				width: 22rem;
			}
		}
	}

	&-widget-content {
		border: 4px solid rgba(#fff, .6);
		background-color: rgba(#000, .075); 
	}

	&-widget-header {
		top: 0px;
		height: 100%;
		background-color: #FFF; 
	}

	&-corner-all {
		border-radius: 10000rem;
	}
} 

.hidden { display: none; }

%region-list {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 27rem;
	height: 41rem;
	padding-left: 0;
	margin: 0;
	list-style: none;

	li {
		position: relative;
		display: block;
		height: 4rem;
		margin-bottom: 2rem;
		border: 2px solid #FAFAFA;
		@include border-radius(1rem);
	}
}

.b-region-list {

	&__wrapper {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 10rem;
	}

	@extend %region-list;

	&__btn {
		width: 100%;
		height: 100%;
		background-color: #fff;
		border: none;
		font-size: 1.8rem;

		&:hover,
		&:focus {
			outline: none;
			background-color: $second-color;
			font-weight: bold;
		}
	}
}

.btn-active {
	outline: none;
	background-color: $second-color;
	font-weight: bold;
}

.popup {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	opacity: 0;
	z-index: -1;

	&-list {
		@extend %region-list;
		margin-right: 2rem;
		z-index: 1000;
		button {
			z-index: 1001;
		}
	}

	&-info {
		position: relative;
		max-width: 36rem;
		height: 46rem;
		padding: 8rem 2rem 2rem 2rem;
		background-color: rgb(250, 250, 250);

		&__adress {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;
			padding: 2rem 0 2rem 5rem;
			background-color: $first-color;
			color: #fff;

			.icon {
				@include centY;
				left: 3rem;
			}
		}

		&__title {
			margin: 0 0 2rem 0;
			font-size: 1.2rem;
			color: #ccc;
		}

		&__item {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-bottom: 1.8rem;
			line-height: 1.3;

			&-title {
				display: inline-block;
				width: 45%;
				font-size: 1.2rem;
			}

			&-main {
				width: 55%;
				font-weight: bold;
			}
		}

		&__link {
			position: relative;
			display: block;
			margin-top: 1rem;
			padding-left: 3rem;
			font-weight: bold;

			img {
				position: absolute;
				left: 0;
				width: 2rem;
			}

			&--mail {
				font-weight: normal;
				color: blue;
			}
		}
	}

	.btn-show {
		position: absolute;
		top: 42rem;
	}
}
