$font-dark: #B4BBC2;
$footer-dark-color: #9c9b9b;

$fb-bg: #3162a2;
$twitter-bg: #65abd0;
$logo-bg: #f552b6;
$linkedin-bg: #457ac0;
$vimeo-bg: #3498b9;
$gplus-bg: #f25c58;


$content-link-color: #65ABD0;

$btn-app-color: #24AA98;
$btn-next-color: #24AA98;
$subscribe-form-bg: #24AA98;
$b-footer-green: #24AA98;

$subscribe-icon-color: #D9C26C;
$b-new-color: #D9C26C;

$footer-dark-bg: #383737;