$header-link-hover: #FCE38A;
$social-bg: #FCE38A;
$social-icon-color: #F38181;
$descr-font-color: #999999;
$quote-bg-color: #F8F8F8;
$facts-section-bg: #95E1D3;
$icon-main-color: #95E1D3;
$secondary-font-color: rgb(153, 153, 153);
$streak-color: rgb(243, 129, 129);
$link-map-color: #F38181;