%light-bg {
	background-color: #fff;
}

%f-title {
	margin: 0;
	font-size: 18px;
	color: rgb(35, 31, 32);
	line-height: 1.778;
}

%inp-sel {
	width: calc(100% - 15rem);
	max-width: 36rem;
	border-radius: 5px;
	border: 1px solid #ccc;

	&:focus {
		outline: none;
		border-color: $active-color;
		box-shadow: 0 0 10px $active-color;
	}
}

%blue-font {
	color: #3882B9;
	font-size: 1.4rem;
	text-decoration: underline;
	font-weight: bold;

	&:hover {
		opacity: .8;
	}
}