@import 'normalize';
@import 'mixins';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';

$main-color: #87B448;

html {
	font-size: 10px;
}

body {
	font-size: 16px;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

a { 
	text-decoration: none;
	color: inherit;
}

*{
	box-sizing: border-box;
}

.wrapper {
	min-width: 97rem;
	max-width: 140rem;
	margin: 0 auto;
	padding: 0 1.5rem
}

.icon {
	padding: 0 1rem;
}

.b-header {
	padding: 1.1rem 1.5rem;
	background-color: $main-color;

	.wrapper {
		display: flex;
		align-items: flex-end;
	}

	&__search {
		position: relative;
		margin-right: 2rem;

		input {
			width: 435px;
			height: 34px;
			padding: 0 2rem 0 4rem;
			border: none;
			border-radius: 3px;
			background-color: rgb(115, 153, 61);
			color: #fff;
			font-size: 15px;

			&::placeholder {
				color: #fff;
			}

			&:focus + .icon {
				color: #fff;
			}
		}

		.icon {
			@include centY;
			left: 1rem;
			color: $main-color;
		}
	}

	&__tools {
		display: flex;
		margin-right: 2.35rem;
		padding: 0 1rem;
		font-size: 22px;
		color: #fff;

		&-btn {
			border: none;
			background-color: transparent;
		}

		.icon:not(:last-child) {
			margin-right: 2.4rem;
		}
	}

}

.logo {
	width: 132px;
	height: 40px;
	margin-right: 3rem;
}

.b-user {
	display: flex;
	align-items: center;

	&__name {
		display: inline-block;
		vertical-align: middle;
		margin: 0 1rem;
		color: #fff;
	}
}

.b-section .wrapper {
	display: flex;
	justify-content: space-between;
}

.b-sidebar {
	width: 212px;

	&__nav-list {
		margin: 1rem 0 0 0;

		li {
			position: relative;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			.icon {
				position: absolute;
				top: .5rem;
				left: 0.3rem;
				font-size: 23px;
				color: #D0D5DF;
			}

			a {
				display: block;
				padding: 0.5rem 0 1.7rem 5rem;
				border-bottom: 1px solid #ccc;
				color: #000;
			}

		}

	}

	&-unit {

		padding: 1.3rem 0 1rem 0;

		&:not(:last-child) {
			border-bottom: 1px solid #ccc;
		}

		&__title {
			display: inline-block;
			margin: .3rem 3rem 2rem 0;
			color: #7c8695;
			font-weight: normal;
			font-size: 14px;
		}

		&__top-link {
			font-size: 14px;
		}

		&__img {
			display: block;
			margin: 0;
		}

		&__link {
			font-size: 11px;
			color: #d3d3d3;
		}
	}

	&__footer {
		font-size: 12px;
		color: #b7bfcd;
		padding: .5rem 0;

		&-copy {
			margin: 1rem 0;
		}

		&-nav a:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.b-item {
	&-list {
		margin: 0;
	}

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__title {
		font-size: 15px;
		font-weight: normal;
		margin: 0rem 0 .5rem 0;
	}

	&__img {
		margin-right: 0rem;
	}

	&__info {
		display: inline-block;
		width: calc(100% - 10rem);
		vertical-align: top;

		&-title {
			margin: 0;
			font-weight: normal;
			font-size: 15px;
		}

		&-main {
			font-size: 14px;
			color: #7c8695;
			line-height: 1.5;
		}

		&-link {
			font-size: 14px;
		}
	}
}

.b-service {
	padding: 0 1.5rem;
	width: 100%;

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0 2rem 0;

		&-title {
			margin: 0;
			display: inline-block;
			font-size: 30px;
			font-weight: normal;
		}
	}

}

.b-btn {
	display: inline-block;
	vertical-align: bottom;
	padding: 1rem 2rem;
	font-size: 14px;
	border: none;
	border-radius: 6px;
	background-color: $main-color;
	color: #fff;
}

.b-content {
	display: flex;
	flex-wrap: wrap;
	min-height: 50rem;
	border: 1px solid #ccc;
	justify-content: space-between;
	border-radius: 5px;
	padding: 15px;

	&:after {
		content: "";
		flex: auto;
	}

	&-item {
		display: inline-block;
		max-width: 140px;
		margin: 0 15px;

		img {
			display: block;
			width: 140px;
			height: 140px;
			padding: 1rem;
			border: 1px solid #ccc;
			border-radius: 5px;
			transition: background-color .3s;
			cursor: pointer;

			&:hover {
				background-color: #F4F7FB;

				& + h3 {
					color: $main-color;
				}
			}
		}


		&__name {
			min-height: 60px;
			margin: 0;
			line-height: 1.2;
			text-align: center;
			padding-top: 1.5rem;
			font-size: 1.36rem;
			color: #1c2534;
			transition: color .3s;
		}
	}
}


.overlay {
	@include stretch;
	display: none;
	background-color: rgba(#000, .8);
	cursor: pointer;
}


/*#Popup */


.popup {

	$popup-color: #DE342C;

	@include cent;
	display: none;
	min-width: 300px;
	min-height: 100px;
	border: 4px solid #fff;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 0 100px $popup-color;
	z-index: 20;
	
	&__close {
		position: absolute;
		right: -13px;
		top: -15px;
		width: 32px;
		height: 32px;
		cursor: pointer;
		border: 4px solid #fff;
		border-radius: 50%;
		background-color: $popup-color;
		transition: all .3s;

		&:hover {
			border: 4px solid $popup-color;
			background-color: #fff;

			&:before,
			&:after {
				background-color: $popup-color;
			}
		}

		&:before,
		&:after {
			position: absolute;
			top:50%;
			left: 50%;
			content: ' ';
			height: 20px;
			width: 4px;
			background-color: #fff;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);			
		}
	}

	&__content {
		h2 {
			margin: 0;
			border-radius: 10px 10px 0 0;
			background-color: $popup-color;
			color: #fff;
			text-align: center;
			padding: 10px ;
		}

		p {
			padding: 10px;
			font-size: 20px;
			color: $popup-color;
		}
		
	}
}

.active {
	display: block;
}