@mixin bg-image($path...) {
	background: url($path) no-repeat center;
	background-size: cover;
}

@mixin stretch {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

@mixin background($args...) {
	background: $args no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin centY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin cent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@function pxtopercent($target, $parent: 960) {
	@return percentage($target / $parent);
}