@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'icons/_iconfont__variables.scss';
@import 'icons/_iconfont__icons.scss';
@import 'fonts';
@import 'base';
@import 'placeholders';


h1, h2 {
	width: 100%;
	text-align: center;
}
.header {
	padding: 4rem;
	background-color: #F0CA8D;
}

.section {
	padding: 2rem 0;

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: 400px;
	}
}

.animation  {
	font-size: 2.3rem;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 10px #000;
	&__element {
		display: inline-block;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #A4FE00;
		border: 2px solid green;
		text-align: center;
		line-height: 100px;
		text-transform: uppercase;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.logo {
	img {
		opacity: 0;
		padding: 23px 45px 23px 5px;
		border-radius: 50%;
		max-width: 100px;
	}
}

.controlls {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 4rem 0;

	&__btn {
		display: inline-block;
		padding: 1rem 2rem;
		text-transform: uppercase;
		background-color: green;
		color: #fff;
		font-weight: bold;
		border-radius: 10px;
		border: none;
		box-shadow: 0 0 10px green;
	}
}
