$bg-input: #EAF0F0;
$active-color: #5989F0;

@mixin centY {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

* {
	box-sizing: border-box;
}
%item {
	width: 100%;
	padding: 7px 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: $bg-input;
	font-size: 17px;

	&:focus {
		outline: none;
		border-color: $active-color;
		box-shadow: 0 0 10px $active-color;
	}
}

%inp {
	@extend %item;
	transition: all .2s;
	
	&:focus {
		&::placeholder {
			color: $active-color;
		}
	}
}


.f-main {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 768px;
	min-width: 375px;
	margin: 40px auto;
	padding: 40px 20px;
	background-color: #fafafa;
	border: 2px solid #ccc;
	border-radius: 20px;
	transition: height .3s;

	&__item {
		position: relative;
		margin-bottom: 20px;
	}
	&__input {
		@extend %inp;
	}
	
	&__radio {
		display: inline-block;
		margin-bottom: 5px;
		&-wrap {
			align-self: stretch;
			border: none;
		}

		&-btn {
			display: none;
			
			& + label {
				position: relative;
				padding-left: 25px;
				margin-right: 20px;
				cursor: pointer;
			}

			& + label:before {
				content: "";
				@include centY;
				left: 0;
				width: 13px;
				height: 13px;
				background-color: #fff;
				border-radius: 50%;
				border: 2px solid #ccc;
			}

			& + label:after {
				display: none;
				content: "";
				@include centY;
				left: 5px;
				width: 7px;
				height: 7px;
				background-color: $active-color;
				border-radius: 50%;
			}
			
			&:checked + label{
				color: $active-color;

				&:before {
					border-color: $active-color;
				}
				
				&:after {
					display: block;
				}
			}
		}
	}

	&__select {
		@extend %item;
	}

	&__textarea {
		@extend %inp;
		resize: none;
	}

	.error {
		border-color: red;
		box-shadow: 0 0 10px red;
		color: red;

		&::placeholder {
			color: red;
		}
	}

	.danger-block {
		margin: 5px 0 0 10px;
		color: red;
	}
}

.popup {
	min-height: 300px;
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden;
	z-index: 1001;
	cursor: auto;

	&__title {
		margin: 0;
		padding: 20px 40px;
		text-align: center;
		background-color: $active-color;
		color: #fff;
		font-size: 25px;
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		border: 3px solid #fff;
		border-radius: 50%;
		transition: transform .2s;
		cursor: pointer;

		&:after, &:before {
			content: "";
			position: absolute;
			right: 50%;
			left: 50%;
			width: 3px;
			height: 70%;
			background-color: #fff;
		}

		&:after {
			transform: translate(-50%, 20%) rotate(45deg);
		}

		&:before {
			transform: translate(-50%, 20%) rotate(-45deg);
		}

		&:hover {
			transform: scale(1.1) rotate(180deg);
		}
	}

	&__content {
		padding: 20px;
		font-size: 20px;
	}

	&-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000, .5);
		z-index: 1000;
		cursor: pointer;
		overflow: hidden;

		&.is-active {
			display: block;
		}
	}
}
.btn-submit {
	align-self: center;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 10px;
	background-color: $bg-input;
	cursor: pointer;
	border: 2px solid #ccc;
	transition: all .3s;
	
	&:hover,
	&:focus {
		box-shadow: 0 0 30px $active-color;
		transform: scale(1.1);
	}
	
	&:focus {
		outline: none;
	}
	&:active {
		box-shadow: none;
		transform: none;
	}
}