// _iconfont__variables.scss

$icon-arrow: "\EA01" !default;

$icon-avatar: "\EA02" !default;

$icon-cash: "\EA03" !default;

$icon-check-mark: "\EA04" !default;

$icon-facebook: "\EA05" !default;

$icon-kyivstar: "\EA06" !default;

$icon-login: "\EA07" !default;

$icon-phone-call: "\EA08" !default;

$icon-stick-man: "\EA09" !default;

$icon-sticker: "\EA0A" !default;

$icon-telegram: "\EA0B" !default;

$icon-vodafone: "\EA0C" !default;