*{
  border: 1px solid #000;
  margin: 1%;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  margin: 0;
}
.header {
  height: 100px;
}
.wrapper {
  width: 73%;
  float: left;
  height: 600px;
  border: none;
  margin-top: 0;
}
.content{
  margin: 0;
  width: 74%;
  float: right;
  height: 100%;
}
.asideL {
  margin: 0;
  width: 25%;
  float: left;
  height: 100%;
}
.asideR {
  width: 24%;
  float: right;
  margin-left: 0;
  margin-top: 0;
  height: 600px;
}
.footer{
  height: 100px;
  clear: both;
}