// _iconfont__variables.scss

$icon-Ask: "\EA01" !default;

$icon-Chat: "\EA02" !default;

$icon-Companies: "\EA03" !default;

$icon-Feed: "\EA04" !default;

$icon-Notifications: "\EA05" !default;

$icon-Search: "\EA06" !default;

$icon-Services: "\EA07" !default;